---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Translation Quality Assessment";
const description =
    "Discover how our translation quality assessment (TQA) services ensure accuracy, uphold your brand, and enhance market effectiveness.";
const url = "https://enrutransl.com/services/tqa/";
---

<BaseLayout description={description} title={title} url={url}>
    <!-- <link slot="head" rel="preload" href="hero_image.svg" as="image" /> -->

    <header>
        <img
            src="/proofr.jpg"
            alt="A person providing Russian translation quality assessment services while sitting at a table"
        />
        <h1>Translation quality assessment services</h1>
    </header>

    <main>
        <p>
            Ensuring the accuracy and quality of your translation is not just
            about getting the words right — it's about safeguarding your
            business's reputation, operations, and potential for growth.
            Implementing translation quality assessment (TQA) is essential for
            several compelling reasons:
        </p>
        <p>
            <strong> Risk Mitigation:</strong> Inaccurate translations can lead to
            significant consequences, including legal challenges, regulatory non-compliance,
            and miscommunication with your stakeholders. TQA acts as a safeguard,
            catching errors before they can impact your business negatively.
        </p>
        <p>
            <strong>Brand Integrity:</strong> Your communications reflect your brand.
            Consistent, accurate translations uphold your brand's image and help
            maintain trust with your customers, especially in new markets where language
            barriers can lead to misunderstandings.
        </p>
        <p>
            <strong> Market Effectiveness:</strong> For businesses expanding into
            new regions, the accuracy of translation can make or break your market
            entry strategy. TQA ensures that your marketing materials, legal documents,
            and product information are culturally and linguistically adapted to
            meet the expectations and norms of your target audience.
        </p>
        <p>
            <strong>Customer Satisfaction:</strong> High-quality translations enhance
            user experience, making your services or products more accessible to
            a wider audience. TQA helps ensure that your message resonates with your
            customers in the way you intended.
        </p>
        <p>
            <strong> Cost Efficiency:</strong> Identifying and correcting errors
            through a structured TQA process is much more cost-effective than addressing
            the repercussions of inaccurate translations, which could include rebranding
            efforts, legal costs, and so on.
        </p>

        <p class="promise">Our quality promise to you at a glance:</p>
        <ul class="custom-list">
            <li>
                Only <strong> native-speaking professionals</strong> assess the quality
                of translated texts.
            </li>
            <li>
                You receive <strong> personalized service</strong> with dedicated
                contact persons.
            </li>
            <li>
                We offer <strong
                    >absolute discretion and confidential treatment</strong
                > of your documents.
            </li>
        </ul>

        <p class="note">We specialize in the following industries:</p>
        <ul>
            <li>Legal</li>
            <li>Marketing</li>
            <li>Business/E-Commerce</li>
            <li>Finance</li>
            <li>Investment/Securities</li>
            <li>Information Technology</li>
        </ul>
    </main>

    <form class="top" action="#top">
        <button class="top1" type="submit">Back to Top</button>
    </form>
</BaseLayout>

<style>
    header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        background-color: aliceblue;
        padding: 1em;
        margin: 1em;
    }

    header img {
        width: 10em;
    }

    h1 {
        text-align: center;
        padding: 0.5em;
        color: darkblue;
        font-size: large;
    }

    p {
        padding: 1em;
        text-align: justify;
    }

    .promise {
        color: darkblue;
        font-weight: 600;
    }

    .note {
        color: darkblue;
        font-weight: 600;
    }

    .custom-list {
        list-style: none;
        margin-bottom: 2em; /* Ensures the list has no default margin */
        padding-left: 1em; /* Removes default padding from the list */
    }

    .custom-list li {
        position: relative;
        padding-left: 2.3em; /* Provides space for the checkmark, scalable with font size */
        margin-bottom: 1em; /* Optional: adds space between items */
    }

    .custom-list li::before {
        content: "";
        position: absolute;
        left: 0; /* Positions the SVG at the beginning of the list item */
        top: 50%; /* Centers the SVG vertically relative to the line height */
        transform: translateY(
            -50%
        ); /* Ensures the SVG is perfectly centered no matter the line height */
        width: 1.5em; /* Relative size to font makes it scalable */
        height: 1.5em; /* Maintains aspect ratio */
        background-image: url("/checklist.svg"); /* Uses SVG as a background image */
        background-size: contain; /* Ensures the SVG fits the content box, adjust as 'cover' or 'contain' based on need */
        background-repeat: no-repeat; /* Makes sure the SVG doesn't repeat */
    }

    .top {
        text-align: center;
        margin: 1em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }

    /* Media queries for tablet */

    @media (min-width: 36em) {
        main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            width: 100%;
            height: 100%;
            padding: 2em;
        }

        header {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            background-color: aliceblue;
            padding: 1em;
            margin: 1em;
            border-radius: 10%;
        }

        header img {
            width: 10em;
        }

        h1 {
            font-size: x-large;
        }
    }
</style>
