---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Professional English-Russian Translation Service	| Homepage";
const description =
    "EngRusTranslate provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
    <!-- <link slot="head" rel="preload" href="hero_image.svg" as="image" /> -->
    <main>
        <p class="about">About us</p>
    </main>
</BaseLayout>

<style>
    p{
        color: aquamarine;
    }

</style>
