---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About Us - Native Russian Translators";
const description =
    "Meet our team of native Russian translators at EnRu Translations. Discover our commitment to delivering high-quality translation services.";

const url = "https://enrutransl.com/about/";
---

<BaseLayout description={description} title={title} url={url}>
   
    <main class="about-main">
        <section class="story">
            <img
                src="/sideview profile.jpg"
                class="about-img"
                alt="Native Russian translators at work, with a coffee machine prominently in the foreground"
                loading="eager"
            />

            <h1>Our story: a brief story of native Russian translators</h1>

            <p>
                Hi there! I am Pavel, the person behind EnRu Translations.
                Thanks for stopping by.
            </p>
            <p>
                I founded this company with a simple goal: to provide quality
                linguistic solutions to clients who value a <strong>
                    focused approach and narrow specialization</strong
                >. You can view my professional profiles <a
                    href="https://www.proz.com/profile/803573">here</a
                > and <a
                    href="https://www.translatorscafe.com/cafe/member42841.htm"
                    >here</a
                >.
            </p>

            <p>
                My trusted linguistic partners and I form a small team of <strong
                >
                    native Russian speakers</strong
                > passionate about bridging language gaps, and <strong>
                    we only translate from English into our native language
                </strong> to offer the final product that is of the best quality.
            </p>
            <p>
                Having worked in-house for multinational companies as linguists
                with more than <strong>
                    15 years of professional experience</strong
                >, we understand the importance of focusing on what we do best.
            </p>
        </section>

        <section class="wedo">
            <h2><span>What we do best</span></h2>
            <p>
                Our focus is clear: <strong>
                    <a href="/services#trans">expert translation</a>, <a
                        href="/services#proof">proofreading</a
                    >, <a href="/services#revise">revision</a>, and <a
                        href="/services#loc">localization</a
                    >
                    services
                </strong> only in sectors we know inside out (law, finance, business/e-commerce,
                investments/securities trading, marketing, IT). We have laser-focused
                specialization in only one language pair: <strong>
                    English - Russian</strong
                >, which allows for unparalleled precision and cultural
                accuracy.
            </p>
            <p>
                Whether you are dealing with contracts, looking to expand your
                market reach with a compelling pitch, or needing your website to
                speak in a new tongue, we are here to help. We will help your
                brand speak like a local across all channels.
            </p>
            <p>
                We also offer a
                <strong>
                    <a href="/services#assessment"
                        >bilingual review of third-party translations</a
                    ></strong
                > as an external quality assurance partner and <strong
                    ><a href="/services#tutor">Russian language tutoring</a
                    ></strong
                >.
            </p>
            <p>
                Our clients include translation agencies and leading language
                service providers from all over the world.
            </p>
        </section>

        <section class="usdiff">
            <h2><span> What makes us different</span></h2>
            <p>
                <strong> Specialized expertise:</strong> We are not generalists.
                Our work in the English-Russian language pair means you get translations
                that are not just accurate but culturally attuned.
            </p>
            <p>
                <strong> Consistent quality:</strong> Every project, big or small,
                gets our attention. We bring 15 years of experience to the table,
                promising you the same high standards every time.
            </p>
            <p>
                <strong> Professional integrity:</strong> We are all about transparency
                and trust.
            </p>
            <p>
                <strong> Quality assurance:</strong> Our rigorous quality check ensures
                every translation hits the mark on accuracy, fluency, and industry
                relevance.
            </p>
            <p>
                <strong> Confidentiality and security:</strong> Your documents are
                in safe hands and treated with the highest levels of privacy and
                care.
            </p>
            <p>
                <strong> Reasonable prices:</strong> Being a small operation with
                little overhead costs and no intermediaries in the process, we can
                afford to provide quality services at reasonable prices.
            </p>
        </section>

        <section class="more-info">
            <h2><span> A bit more info </span></h2>
            <p>
                EnRu Translations is not just a business but <strong>
                    a commitment to quality, efficiency, and service.</strong
                > If you are looking for a partner who genuinely cares about getting
                your message across, do not hesitate to <a href="/contact/"
                    >reach out</a
                >. We are happy to hear from you!
            </p>
        </section>
    </main>

    <form class="top" action="#top">
        <button class="top1" type="submit">Back to Top</button>
    </form>
</BaseLayout>

<style>
    .about-main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        margin: 0.5em;
        padding: 0.5em;
    }

    .about-img {
        width: 100%;
        object-fit: contain;
    }

    section {
        padding: 1em;
        border-width: 0.1em;
        border-style: solid;
        border-image: linear-gradient(to top, #a7e4f0, #0407a6) 1;
        text-align: justify;
    }
    p {
        padding: 0.5em;
    }

    h2 {
        font-size: 1.3em;
        margin-left: 0.5em;
        position: relative;
        display: inline-block;
        white-space: nowrap;
    }

    h2 span {
        background-color: white;
        padding-right: 10px;
        border-bottom: 0.1em solid rgb(6, 30, 148);
    }

    h2::after {
        content: "✦✦✦";
        position: absolute;
        top: 50%;
        left: 100%;
        white-space: nowrap;
        color: rgb(41, 92, 234); /* Line color */
        font-size: 1em; /* Adjust size to match the h1 font size if necessary */
        transform: translateY(-50%);
        font-family: "Arial", sans-serif; /* Optional: Use a font that supports the decorative glyphs */
    }

    .top {
        text-align: center;
        margin: 1em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }

    .contactus {
        padding: 1em;
        text-align: center;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.5em;
    }

    .social img {
        width: 3em;
        padding: 0.3em;
        font-weight: 500;
        margin: 0.7em;
    }

    @media (min-width: 36em) {
        .about-main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* grid-template-rows: repeat(3, 1fr); */
            gap: 1em;
            margin: 0.5em;
            padding: 0.5em;
        }

        .about-img {
            width: 40%;
            float: left;
            margin: 1em;
        }
        .story {
            grid-column: 1/4;
            grid-row: 1/1;
            padding: 1em;
            height: fit-content;
        }

        .wedo {
            grid-column: 1/4;
        }

        .usdiff {
            grid-column: 1/4;
        }

        .more-info {
            grid-column: 1/4;
        }

        h2 {
            position: relative;
            display: inline-block;
            white-space: nowrap;
        }

        h2 span {
            background-color: white;
            padding-right: 0.5em;
            border-bottom: 0.1em solid rgb(11, 18, 165);
        }

        h2::after {
            content: "✦✦✦";
            position: absolute;
            top: 50%;
            left: 100%;
            white-space: nowrap;
            color: rgb(41, 92, 234); /* Line color */
            font-size: 1em; /* Adjust size to match the h1 font size if necessary */
            transform: translateY(-50%);
        }

        .contactus {
            grid-column: 1/4;
        }

        .contactus > p {
            padding: 2em;
        }

        .top {
            text-align: center;
            margin: 1em;
        }

        .top1 {
            background-color: rgb(8, 20, 187);
            color: #f9f9f9;
            font-weight: 600;
        }
    }
</style>
