---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Professional English-Russian Translation Service	| Homepage";
const description =
    "EnRu Translations provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
    <!-- <link slot="head" rel="preload" href="hero_image.svg" as="image" /> -->

    <main>
        <div class="heading-contact">
            <h1>Ready to get started? Just get in touch.</h1>

            <p>
                You can send us a message through the secure contact form below
                and upload your file for translation.
            </p>
            <p>
                You can also reach us via phone, email, and social media
                (WhatsApp, Telegram, or Signal).
            </p>
        </div>

        <section class="pricing-tier1">
            <div class="footer-left">
                <p class="title_com">EnRu Translations</p>
                <div class="address">
                    <img src="/addr.svg" alt="address svg" />
                    <p>2 Mite Ružića,</p>
                    <p>Novi Sad 21000,</p>
                    <p>Serbia</p>
                </div>
                <div class="phone">
                    <img src="/phone.svg" alt="phone svg" />
                    <p><a href="tel:+381616323368">+381616323368</a></p>
                </div>
                <div class="email">
                    <img src="/email3.svg" alt="email svg" />
                    <p>
                        <a href="mailto:info@enrutransl.com"
                            >info@enrutransl.com</a
                        >
                    </p>
                </div>

                <div class="social">
                    <a href="https://wa.me/381616323368" target="_blank">
                        <img
                            src="/whatsapp.svg"
                            alt="Contact on WhatsApp"
                            loading="eager"
                        />
                    </a>
                    <a href="https://t.me/enrutransl" target="_blank">
                        <img
                            src="/telegram.svg"
                            alt="Contact on Telegram"
                            loading="eager"
                        />
                    </a>
                    <a
                        href="https://signal.me/#p/+381616323368"
                        target="_blank"
                    >
                        <img
                            src="/signal.png"
                            alt="signal png"
                            loading="eager"
                        />
                    </a>
                </div>

                <div class="working-hours">
                    <img src="/clock.svg" alt="clock svg" />
                    <p>Working Hours:</p>
                    <p>Mon - Fri,</p>
                    <p>09:00 - 20:00.</p>
                </div>

                <!-- <p class="discuss1">Follow us on:</p>
                <div class="social1">
                    <a
                        href="https://www.linkedin.com/company/enru-translations/?viewAsMember=true"
                    >
                        <img
                            src="/linkedin.svg"
                            alt="whatsapp svg"
                            loading="lazy"
                        /></a
                    >
                    <a
                        href="https://www.facebook.com/profile.php?id=61558938370722"
                    >
                        <img
                            src="/facebook.svg"
                            alt="telegram svg"
                            loading="lazy"
                        /></a
                    >
                    <a href="https://twitter.com/enrutransl">
                        <img
                            src="/x-logo.png"
                            alt="x-logo png"
                            loading="lazy"
                        /></a
                    >
                </div> -->
            </div>
        </section>

        <iframe
            id="JotFormIFrame-241143507676053"
            title="Contact us"
            onload="window.parent.scrollTo(0,0)"
            allowtransparency="true"
            allow="geolocation; microphone; camera; fullscreen"
            src="https://form.jotform.com/241143507676053"
            frameborder="0"
            scrolling="no"
        >
        </iframe>
        <script
            src="https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js"
        ></script>
        <script>
            window.jotformEmbedHandler(
                "iframe[id='JotFormIFrame-241143507676053'",
                "https://form.jotform.com/",
            );
        </script>
    </main>

    <!-- <iframe
        id="JotFormIFrame-241143507676053"
        title="Contact us"
        onload="window.parent.scrollTo(0,0)"
        allowtransparency="true"
        allow="geolocation; microphone; camera; fullscreen"
        src="https://form.jotform.com/241143507676053"
        frameborder="0"
        style="min-width:100%;max-width:100%;height:1530px;border:none;"
        scrolling="no"
        loading="lazy"
    >
    </iframe>
    <script
        src="https://form.jotform.com/s/umd/latest/for-form-embed-handler.js"
        async></script>
    <script>
        window.addEventListener("load", function () {
            window.jotformEmbedHandler(
                "iframe[id='JotFormIFrame-241143507676053']",
                "https://form.jotform.com/",
            );
        });
    </script> -->
</BaseLayout>

<form class="top" action="#top">
    <button class="top1" type="submit">Back to Top</button>
</form>

<style>
    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    iframe {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
        min-height: 120em;
    }

    .heading-contact {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 1.5em;
        width: 100%;
    }

    .pricing-tier1 {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 1em;
        margin-top: 2em;
        background-color: white;
        border: 1px solid rgb(0, 255, 200);
        border-radius: 3%;
    }

    .footer-left {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        padding-left: 1em;
    }

    .title_com {
        font-weight: 900;
        font-size: larger;
        margin-bottom: 1em;
        text-align: center;
        color: darkblue;
        width: 100%;
    }

    .address {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2em;
        width: 100%;
    }

    .address img {
        width: 2em;
    }

    .address > p {
        font-weight: 600;
        /* text-align: start; */
        font-size: small;
        margin: 0;
    }

    .phone {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1em;
        width: 100%;
    }

    .phone img {
        width: 1.5em;
    }

    .phone > p {
        font-weight: 600;
        text-align: start;
        font-size: small;
    }

    .email {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .email img {
        width: 2em;
    }

    .email > p {
        font-weight: 600;
        text-align: start;
        font-size: small;
    }

    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em;
        margin-bottom: 2em;
    }

    .social img {
        width: 2em;
        padding: 0.3em;
        font-weight: 500;
        margin: 0.7em;
    }

    .social1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em;
        margin: 0;
    }

    .social1 img {
        width: 2em;
        padding: 0.3em;
        margin: 0.7em;
    }

    .discuss1 {
        font-weight: 600;
        font-size: small;
        text-align: center;
        padding: 1em;
        color: darkblue;
        margin-top: 2em;
        margin-bottom: 0;
    }

    .working-hours {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.7em;
        width: 100%;
        line-height: 0.5;
    }

    .working-hours img {
        width: 1.5em;
    }

    .working-hours > p {
        font-weight: 600;
        margin-left: 0.9em;
        font-size: small;
    }

    .top {
        text-align: center;
        margin: 1em;
        margin-top: 2em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }

    /* Media queries for tablets */

    @media (min-width: 36em) {
        main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .heading-contact {
            grid-column: 1/3;
            grid-row: 1/2;
            text-align: start;
        }

        .pricing-tier1 {
            grid-column: 1/3;
            grid-row: 2/3;
        }

        iframe {
            grid-column: 1/3;
            grid-row: 3/4;
            width: 100%;
            min-height: 110em;
        }
    }
</style>
