---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "FAQ | Answers to the most common questions";
const description = "Frequently asked questions about EnRu Translations.";
const url = "https://enrutransl.com/faq/";
---

<style>
    .faq-container {
        width: 90%;
        margin: auto;
        font-family: Arial, sans-serif;
    }

    .faq-section h3 {
        color: darkblue;
        margin-bottom: 0.5em;
    }

    .faq-question {
        width: 100%;
        padding: 0.7em;
        text-align: left;
        background-color: aliceblue;
        color: darkblue;
        border: none;
        outline: none;
        transition: background-color 0.3s ease;
        cursor: pointer;
        font-size: medium;
        font-weight: 500;
    }

    .faq-question:hover,
    .faq-question:focus {
        background-color: #8bbff8;
    }

    .faq-answer {
        display: none;
        padding: 1.2em;
        margin-top: 5px;
        background-color: #f8f9fa;
        border-left: 3px solid #007bff;
        line-height: 1.5;
        text-align: justify;
    }

    .faq-answer p {
        margin-bottom: 1em;
    }

    .top {
        text-align: center;
        margin: 1em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }
</style>

<BaseLayout description={description} title={title} url={url}>
    <div class="faq-container">
        <h2>Frequently Asked Questions</h2>

        <section class="faq-section">
            <h3>General</h3>
            <div class="faq">
                <button class="faq-question">What is EnRu Translations?</button>
                <div class="faq-answer">
                    <p>
                        EnRu Translations is a professional translation and
                        localization service specializing in English to Russian
                        translations and is composed of a small dedicated team
                        of native Russian linguists who have extensive
                        backgrounds working in-house for multinational
                        companies.
                    </p>
                    <p>
                        We pride ourselves on our focused approach and narrow
                        specialization.
                    </p>
                    <p>
                        Our team is passionate about delivering high-quality
                        linguistic solutions that effectively bridge language
                        gaps, ensuring that every translation is accurate and
                        culturally relevant.
                    </p>
                    <p>
                        Our commitment to translating solely into our native
                        language guarantees that every piece resonates perfectly
                        with its intended audience.
                    </p>
                    <p>
                        You can read more about us <a href="/about/">here</a>.
                    </p>
                </div>
            </div>
            <div class="faq">
                <button class="faq-question"
                    >What makes you different from other providers?</button
                >
                <div class="faq-answer">
                    <p>
                        EnRu Translations holds a unique position in the
                        translation industry as a compact team of expert
                        translators that works directly with clients rather than
                        operating as an agency.
                    </p>
                    <p>
                        This direct approach ensures that communication lines
                        between you and our translators are direct and clear.
                        Specializing solely in English-to-Russian translations,
                        our team consists of native Russian speakers who are
                        also seasoned, certified linguists.
                    </p>
                    <p>
                        This specialization not only allows for cultural
                        precision but also guarantees that each translation is
                        crafted with a deep understanding of linguistic nuances.
                    </p>
                    <p>
                        With over 15 years of experience working in-house for
                        multinational companies, we bring a refined expertise
                        that is rare in the field.
                    </p>
                    <p>
                        We are passionately committed to human translation to
                        maintain the integrity and subtlety of the language,
                        providing a personal touch that machine translation
                        cannot achieve.
                    </p>
                    <p>
                        Our approach not only enhances the accuracy and quality
                        of translations but also ensures that every project
                        resonates well with its intended audience. This unique
                        blend of personal direct service, focused expertise, and
                        seasoned linguistical skill sets EnRu Translations apart
                        as a provider of English-Russian translation and
                        localization services.
                    </p>
                    <p>
                        For a concise summary, please visit <a href="/#setapart"
                            >this section</a
                        > of our website.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >How do you guarantee the quality of your translations?</button
                >
                <div class="faq-answer">
                    <p>
                        We place the highest priority on delivering quality
                        translations. To achieve this, we have implemented
                        several stringent quality control measures:
                    </p>
                    <p><strong>Expert translation team:</strong></p>
                    <p>
                        All of our translators are not only native speakers of
                        the Russian language but also hold degrees in
                        linguistics or related fields. Their extensive
                        experience and deep cultural as well as linguistic
                        understanding ensure that they grasp even the most
                        subtle nuances.
                    </p>
                    <p>
                        <strong
                            >Rigorous proofreading and revision process:</strong
                        >
                    </p>
                    <p>
                        To further ensure accuracy, every translation undergoes
                        a meticulous proofreading and revision process by a
                        second linguist (depending on the selected pricing
                        tier). This step is crucial as it helps to eliminate any
                        potential errors or inaccuracies that might have slipped
                        through during the initial translation phase.
                    </p>
                    <p><strong>CAT tools:</strong></p>
                    <p>
                        We employ advanced computer-assisted translation (CAT)
                        tools to support our translators in enhancing the
                        accuracy and consistency of our translations. It is
                        important to clarify that these are NOT machine
                        translation tools. Unlike machine translation, CAT tools
                        aid human translators by providing helpful resources
                        such as translation memories and terminology databases,
                        which ensure consistency in language use across
                        projects.
                    </p>
                    <p>
                        Using CAT tools is a hallmark of professional
                        translation practices, distinguishing expert translators
                        from amateurs. These tools enhance a translator's
                        ability to produce high-quality, culturally appropriate
                        translations. They support, rather than replace, the
                        nuanced skills of human translators.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >Can you translate my website (software, Google Ad)?</button
                >
                <div class="faq-answer">
                    <p>
                        Yes, we specialize in localizing websites, software
                        applications, and Google Ads. This service includes not
                        only translating the content to capture the nuances of
                        the Russian language but also adapting it culturally to
                        resonate with your target audience, ensuring that your
                        site communicates effectively and professionally in its
                        new market. If required, we also provide SEO translation
                        to enhance your online content's visibility and ranking
                        in the target language.
                    </p>
                    <p>
                        Learn more about localization services <a
                            href="/services/localization/">here</a
                        >.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >What are your areas of specialization?</button
                >
                <div class="faq-answer">
                    <p>
                        When discussing areas of specialization, it's important
                        to distinguish between the types of <a href="/services/"
                            >services</a
                        > we offer and the <a href="/#fieldsof">areas</a> we specialize
                        in. A common misunderstanding is to confuse services with
                        areas of expertise, such as thinking "legal translation"
                        is a service. However, "translation" is the service, and
                        "legal" is the area of expertise. This distinction helps
                        clarify that our services, such as translation or localization,
                        are offered across different fields or industries like legal,
                        finance, etc.
                    </p>

                    <p><strong>Areas of expertise</strong>:</p>
                    <p>
                        <ul>
                            <li>
                                <strong>Legal</strong>
                            </li>
                            <li>
                                <strong>Marketing</strong>
                            </li>
                            <li>
                                <strong>Business/E-Commerce</strong>
                            </li>
                            <li>
                                <strong>Finance</strong>
                            </li>
                            <li>
                                <strong>Investment/Securities</strong>
                            </li>
                            <li>
                                <strong>Blockchain and cryptocurrency</strong>
                            </li>
                            <li>
                                <strong>Government/Politics</strong>
                            </li>
                            <li>
                                <strong>Information technology</strong>
                            </li>
                        </ul>
                    </p>
                    <p><strong>Services provided:</strong></p>
                    <p>
                        <ul>
                            <li>
                                <strong>Translation</strong>
                            </li>
                            <li>
                                <strong>
                                    Proofreading (monolingual editing)</strong
                                >
                            </li>
                            <li>
                                <strong>Revision (bilingual editing)</strong>
                            </li>
                            <li>
                                <strong> Localization</strong>
                            </li>
                            <li>
                                <strong> Translation quality assessment</strong>
                            </li>
                            <li>
                                <strong> Russian language tutoring</strong>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >Do you work with companies or private individuals?</button
                >
                <div class="faq-answer">
                    <p>
                        The majority of our translation projects are for
                        companies, yet we frequently assist private individuals
                        as well and are always pleased to meet their translation
                        needs. Whether for business or personal purposes, we are
                        committed to providing high-quality, culturally accurate
                        translations for all our clients.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >Is it possible to maintain the page layout?</button
                >
                <div class="faq-answer">
                    <p>
                        We ensure that the original layout of documents is
                        preserved across all editable file formats, including
                        Word, Excel, PowerPoint, InDesign, and editable PDFs, as
                        well as web and software formats. For these types of
                        files, we directly overwrite the text while meticulously
                        maintaining the original style and format.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >Are your translations certified?</button
                >
                <div class="faq-answer">
                    <p id="certs">
                        We provide the option to include a Certificate of
                        Translation Accuracy with your order, which confirms
                        that the translation was performed by a professional
                        native translator to the highest standard of accuracy.
                        This certificate is available for an additional fee of
                        €15.00, or 3% of the total order price for orders
                        exceeding €500. It is important to note that this
                        certification differs from a sworn translation, which is
                        conducted by an officially appointed (sworn) translator.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >Do you use machine translation?</button
                >
                <div class="faq-answer">
                    <p>
                        No, we do not. We commit to 100% human translation to
                        ensure precision, cultural fidelity, and contextual
                        accuracy in every project. Why? <a
                            href="https://www.quora.com/What-are-the-differences-between-machine-translation-and-human-translation-in-terms-of-accuracy-fluency-etc"
                            >Read on.</a
                        >
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >What file formats do you work with?</button
                >
                <div class="faq-answer">
                    <p>
                        We work with all major file formats, including DOCX,
                        PDF, PPTX, XLSX, PUB, DWG, SDL files, as well as web
                        formats like HTML, XML, and others. Please feel free to
                        contact us if you have a specific file format
                        requirement.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question">What CAT tools do you use?</button>
                <div class="faq-answer">
                    <p>
                        We are proficient in all major CAT tools, including SDL
                        Trados Studio, MemoQ, Across, Déjà Vu, Wordfast, and
                        others. However, we have decided against using
                        proprietary, closed-source applications and instead
                        stick to open-source software for our clients' benefit
                        to help protect their content with utmost security and
                        confidentiality. The benefits of using open-source tools
                        include improved transparency that ensures there are no
                        hidden functionalities that could potentially affect
                        security and privacy, quicker vulnerability resolutions
                        by a robust community (which enhances security measures
                        more efficiently than proprietary tools can), and
                        enhanced customization capabilities. We utilize OmegaT
                        and MateCat — both reputable open-source CAT tools that
                        ensure our translations are both secure and effective.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >How do you ensure the confidentiality of my documents?</button
                >
                <div class="faq-answer">
                    <p>
                        We understand that some translation projects require
                        special attention and confidentiality. To ensure the
                        proper protection of your data, we are always ready to
                        sign a Non-Disclosure Agreement (NDA). All information
                        provided through this website is transmitted via a
                        secure SSL protocol, safeguarding your data during
                        online transactions.
                    </p>
                    <p>
                        Furthermore, to enhance security and confidentiality, we
                        exclusively use open-source CAT tools for projects.
                        These tools are preferred because they do not have any
                        hidden functionalities that could potentially compromise
                        your data. Open-source software is continually audited
                        by software security professionals, which helps to
                        quickly identify and resolve any security
                        vulnerabilities.
                    </p>
                    <p>
                        Upon completion of your translation project, we will
                        transfer all project files to you and then delete them
                        from our computers if required. This practice ensures
                        the highest level of privacy and security for your
                        sensitive information, giving you complete peace of
                        mind.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >How can I order translation?</button
                >
                <div class="faq-answer">
                    <p>
                        You can send a message to our <a
                            href="mailto:info@enrutransl.com">email address</a
                        > or use the contact form <a
                            href="/contact#JotFormIFrame-241143507676053"
                            >here</a
                        >.
                    </p>
                    <p>
                        You can also reach out via <a
                            href="https://wa.me/381616323368"
                            target="_blank">WhatsApp</a
                        >,
                        <a href="https://t.me/enrutransl" target="_blank"
                            >Telegram</a
                        >, <a
                            href="https://signal.me/#p/+381616323368"
                            target="_blank">Signal</a
                        >.
                    </p>
                </div>
            </div>
        </section>

        <section class="faq-section">
            <h3 id="prices">Pricing</h3>
            <div class="faq">
                <button class="faq-question"
                    >How much do translation and localization services cost?</button
                >
                <div class="faq-answer">
                    <p>
                        The cost of our <strong> translation services</strong> is
                        determined by our <a href="/pricing/"
                            >tiered pricing structure</a
                        >, which is designed to accommodate a variety of content
                        types, from simple communications to more complex,
                        SEO-driven content. We offer fixed pricing to ensure
                        that there are no surprises during the process, allowing
                        you to plan your budget with confidence. The prices of
                        our translation services can be found <a
                            href="/pricing/">here</a
                        >.
                    </p>
                    <p>
                        Rest assured, the price you see <a href="/pricing/"
                            >here</a
                        > is the final price you will pay, regardless of any complexities
                        that may arise during the translation process.
                    </p>
                    <p>
                        For example, under the Basic tier priced at €0.08 per
                        word, a document with 300 words would cost €24.00 (0.08
                        (per word rate) × 300 (number of words) = €24.00).
                    </p>

                    <p>
                        This approach not only simplifies budgeting but also
                        provides transparency in pricing.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >What about pricing for proofreading and revision?</button
                >
                <div class="faq-answer">
                    <p>
                        When you order a translation from EnRu Translations,
                        proofreading and revision are included (depending on the
                        pricing tier selected) at no extra cost as part of our
                        comprehensive quality assurance process. This ensures
                        that every translation delivered meets our high
                        standards of accuracy and quality.
                    </p>
                    <p><strong>For texts not translated by us</strong></p>
                    <p>
                        If you require proofreading or revision services for
                        texts translated by third parties, we offer these
                        services at <strong>an hourly rate of €30</strong>. This
                        is because the time it takes to proofread or revise a
                        document can vary significantly depending on the quality
                        of the original translation:
                    </p>
                    <p>
                        <ul>
                            <li>
                                <strong
                                    >Texts by professional translators</strong
                                >: Translations done by competent professionals
                                usually require less time to proofread,
                                typically around 1000 words per hour, thanks to
                                their higher initial quality.
                            </li>
                        </ul>
                    </p>

                    <p>
                        <ul>
                            <li>
                                <strong
                                    >Machine-translated texts or amateur
                                    translations</strong
                                >: These texts often contain numerous errors and
                                inconsistencies, requiring more extensive
                                corrections and significantly more time to
                                revise.
                            </li>
                        </ul>
                    </p>

                    <p><strong>Assessing the Text Quality</strong></p>
                    <p>
                        Given the unpredictable nature of third-party
                        translations, we first assess the quality of the text to
                        determine the most cost-effective approach:
                    </p>

                    <p>
                        <ul>
                            <li>
                                <strong>Minor Errors</strong>: For documents
                                with only minor errors, straightforward
                                proofreading and revision are sufficient.
                            </li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <li>
                                <strong>Substantial Errors</strong>: If a text
                                is poorly translated, involving extensive errors
                                or misinterpretations, it may be more practical
                                and economical to retranslate the text rather
                                than attempt to revise it extensively.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >What about pricing for translation quality assurance?</button
                >
                <div class="faq-answer">
                    <p>We offer this service at an hourly rate of €30.</p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >What about pricing for Russian language tutoring?</button
                >
                <div class="faq-answer">
                    <p>We offer this service at an hourly rate of €30.</p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >Is there a minimum order size?</button
                >
                <div class="faq-answer">
                    <p>
                        At EnRu Translations, we do not have a minimum order
                        size in terms of word count. However, we do have a
                        minimum charge policy.
                    </p>
                    <p>
                        <strong>Small Document Handling</strong>: For documents
                        shorter than 250 words, we apply the minimum rate of
                        €35. This rate compensates for the time spent on
                        communication, research, translation, and
                        revision/proofreading, which are essential components of
                        all our projects, regardless of size.
                    </p>
                    <p><strong>Rationale Behind the Policy</strong></p>
                    <p>
                        This minimum charge policy is in place to account for
                        the production costs associated with each translation
                        project, no matter the size. It ensures that every
                        project is handled with the highest standard of
                        professionalism and that all necessary steps are taken
                        to deliver a high-quality final product.
                    </p>
                </div>
            </div>
        </section>

        <section class="faq-section">
            <h3>Delivery dates and turnaround time</h3>
            <div class="faq">
                <button class="faq-question"
                    >How long does it take to translate a document?</button
                >
                <div class="faq-answer">
                    <p>
                        Typically, a human translator can produce about 300
                        words in an hour or manage to complete around 2,500
                        words in a day. It is important to consider additional
                        time for proofreading and quality assurance to ensure
                        the highest standard of the translated text.
                    </p>
                    <p>
                        The daily output of translation work can fluctuate based
                        on the specific complexities and requirements of each
                        project. For larger volumes needing rapid completion, we
                        welcome a discussion to align with your deadlines and
                        will make every effort to meet your needs. Quality
                        remains paramount in our work; we commit to delivering
                        accurate and meticulously detailed translations.
                    </p>
                    <p>
                        The precise timeline for your project will be determined
                        and agreed upon with you in advance.
                    </p>
                </div>
            </div>
        </section>

        <section class="faq-section">
            <h3>Payments</h3>
            <div class="faq">
                <button class="faq-question">When do I need to pay?</button>
                <div class="faq-answer">
                    <p>
                        All our clients have the option to pay within five days
                        of receiving their translation. This reflects our
                        commitment to fostering a relationship based on mutual
                        trust.
                    </p>
                    <p>
                        If you'd rather pay upfront, choose one of the payment
                        methods convenient for you (PayPal, bank transfer,
                        Payoneer, Visa, or Mastercard).
                    </p>
                    <p>
                        For our regular clients, we also have a monthly billing
                        arrangement and offer payment terms of 30 days.
                        Interested clients are encouraged to get in touch for
                        more details.
                    </p>
                    <p id="pay-later">
                        <strong
                            >Please note that for first-time orders exceeding
                            EUR 200 for individuals or EUR 400 for businesses,
                            we may request an advance payment ranging from 50%
                            to 100%. After your first order, you'll be eligible
                            for the 'Pay After Delivery' option.</strong
                        >
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question">How do I pay?</button>
                <div class="faq-answer">
                    <p>
                        When you receive your translation, you will also receive
                        an invoice with payment details and instructions.
                    </p>
                    <p>We accept the following payment methods:</p>
                    <ul>
                        <li>PayPal</li>
                        <li>
                            Major international cards, like Visa<sup>®</sup> and
                            MasterCard<sup>®</sup>
                        </li>
                        <li>Bank transfer</li>
                        <li>Payoneer</li>
                    </ul>

                    <p>
                        In addition to the above payment methods, if you are a
                        business located in the US, EU, or UK, you also have the
                        option of paying for our services via local bank
                        transfer in your local currency. We will provide the
                        payment details upon selecting this option.
                    </p>

                    <p>
                        Should you need any assistance with processing the
                        payment, please contact us at <a
                            href="mailto:accounting@enrutransl.com"
                            >accounting@enrutransl.com</a
                        >.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question">Can you issue invoices?</button>
                <div class="faq-answer">
                    <p>
                        Yes, we can issue invoices for translation services
                        using our own template, which includes all the necessary
                        details for your accounting purposes.
                    </p>
                </div>
            </div>
        </section>

        <section class="faq-section">
            <h3>Miscellaneous</h3>
            <div class="faq">
                <button class="faq-question"
                    >Why are there so few testimonials?</button
                >
                <div class="faq-answer" id="testimonex">
                    <p>
                        <strong>Confidentiality Agreements:</strong> We adhere strictly
                        to confidentiality agreements and respect our clients' privacy.
                        Many clients prefer to keep their projects confidential and
                        choose not to have their names or feedback published.
                    </p>
                    <p>
                        <strong>Company Policies:</strong> Some companies have policies
                        against giving recommendations or testimonials to external
                        vendors.
                    </p>
                    <p>
                        <strong>Genuine Feedback:</strong> We do not buy reviews
                        from platforms like Upwork or Fiverr. All our testimonials
                        are genuine and obtained with explicit client consent.
                    </p>
                    <p>
                        <strong> Client Time Constraints:</strong> Providing feedback
                        takes time, and many clients, understandably, prioritize
                        their time elsewhere. We respect this and never pressure
                        clients to leave testimonials.
                    </p>
                    <p>
                        <strong>Long-Term Partnerships:</strong> A significant portion
                        of our clients are repeat customers who value our services
                        over many years. Their ongoing trust and loyalty speak volumes
                        about our reliability and quality, even if they don’t publicly
                        share testimonials.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <form class="top" action="#top">
        <button class="top1" type="submit">Back to Top</button>
    </form>
</BaseLayout>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        // Query all the '.faq-question' elements
        const questions = document.querySelectorAll(".faq-question");

        // Add click event listeners to each question
        questions.forEach((question) => {
            question.addEventListener("click", () => {
                const answer = question.nextElementSibling;
                if (answer && answer instanceof HTMLElement) {
                    answer.style.display =
                        answer.style.display === "block" ? "none" : "block";
                }
            });
        });

        // Function to expand the section from URL hash
        function expandSectionFromHash() {
            const hash = window.location.hash;
            if (hash) {
                const target = document.querySelector(hash);
                if (target && target instanceof HTMLElement) {
                    const answerSection = target.closest(".faq-answer");
                    if (answerSection && answerSection instanceof HTMLElement) {
                        answerSection.style.display = "block";
                        target.scrollIntoView({
                            behavior: "smooth",
                            block: "start",
                        });
                    }
                }
            }
        }

        // Execute on load to check for any hash present in the URL
        expandSectionFromHash();

        // Listen for hash changes in the URL to handle in-page navigation via back/forward browser buttons
        window.addEventListener("hashchange", expandSectionFromHash, false);
    });
</script>
