---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Professional English-Russian Translation Service | Homepage";
const description =
    "EngRusTranslate provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
    <div class="faq-container">
        <h2>Frequently Asked Questions</h2>

        <section class="faq-section">
            <h3>General</h3>
            <div class="faq">
                <button class="faq-question">What is EngRus Wordsmiths?</button>
                <div class="faq-answer">
                    <p>
                        EngRus Wordsmiths is a professional translation and
                        localization service specializing in English to Russian
                        translations and is composed of a small dedicated team
                        of native Russian linguists who have extensive
                        backgrounds working in-house for multinational
                        companies.
                    </p>
                    <p>
                        We pride ourselves on our focused approach and narrow
                        specialization.
                    </p>
                    <p>
                        Our team is passionate about delivering high-quality
                        linguistic solutions that effectively bridge language
                        gaps, ensuring that every translation is accurate and
                        culturally relevant.
                    </p>
                    <p>
                        Our commitment to translating solely into our native
                        language guarantees that every piece resonates perfectly
                        with its intended audience.
                    </p>
                </div>
            </div>
            <div class="faq">
                <button class="faq-question"
                    >What makes you different from other providers?</button
                >
                <div class="faq-answer">
                    <p>
                        EngRus Wordsmiths is distinctly positioned in the
                        translation industry by operating as a compact team of
                        expert translators.
                    </p>
                    <p>
                        This direct approach ensures that communication lines
                        between you and our translators are direct and clear.
                        Specializing solely in English to Russian translations,
                        our team consists of native Russian speakers who are
                        also seasoned, certified linguists.
                    </p>
                    <p>
                        This specialization not only allows for cultural
                        precision but also guarantees that each translation is
                        crafted with a deep understanding of linguistic nuances.
                    </p>
                    <p>
                        With over 15 years of experience working in-house for
                        multinational companies, we bring a refined expertise
                        that is rare in the field.
                    </p>
                    <p>
                        We are passionately committed to human translation to
                        maintain the integrity and subtlety of the language,
                        providing a personal touch that machine translation
                        simply cannot achieve.
                    </p>
                    <p>
                        Our approach not only enhances the accuracy and quality
                        of translations but also ensures that every project
                        resonates well with its intended audience. This unique
                        blend of personal direct service, focused expertise, and
                        seasoned linguistical skill sets EngRus Wordsmiths apart
                        as a provider of English-Russian translation and
                        localization services.
                    </p>
                </div>
            </div>
            <div class="faq">
                <button class="faq-question"
                    >Can you translate my website?</button
                >
                <div class="faq-answer">
                    <p>
                        Yes, we specialize in translating and localizing
                        websites. This service includes not only translating the
                        content to capture the nuances of the Russian language
                        but also adapting it culturally to resonate with your
                        target audience, ensuring your site communicates
                        effectively and professionally in its new market.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >Do you work with companies or private individuals?</button
                >
                <div class="faq-answer">
                    <p>
                        The majority of our translation projects are for
                        companies, yet we frequently assist private individuals
                        as well and are always pleased to meet their translation
                        needs. Whether for business or personal purposes, we are
                        committed to providing high-quality, culturally accurate
                        translations for all our clients.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >Is it possible to maintain the page layout?</button
                >
                <div class="faq-answer">
                    <p>
                        We ensure that the original layout of documents is
                        preserved across all editable file formats, including
                        Word, Excel, PowerPoint, InDesign, editable PDFs, as
                        well as web and software formats. For these types of
                        files, we directly overwrite the text while meticulously
                        maintaining the original style and format.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="faq-question"
                    >Are your translations certified?</button
                >
                <div class="faq-answer">
                    <p>
                        We provide the option to include a Certificate of
                        Translation Accuracy with your order, which confirms
                        that the translation was performed by a professional
                        native translator to the highest standard of accuracy.
                        This certificate is available for an additional fee of
                        €15.00, or 3% of the total order price for orders
                        exceeding €500. It is important to note that this
                        certification differs from a sworn translation, which is
                        conducted by an officially appointed (sworn) translator.
                    </p>
                </div>
            </div>
        </section>

        <section class="faq-section">
            <h3>Pricing</h3>
            <div class="faq">
                <button class="faq-question"
                    >How much does a translation cost?</button
                >
                <div class="faq-answer">
                    <p>
                        Yes, we offer significant discounts for large volume
                        orders. Please contact our sales team for more
                        information.
                    </p>
                </div>
            </div>
        </section>

        <section class="faq-section">
            <h3>Support</h3>
            <div class="faq">
                <button class="faq-question"
                    >Do you offer technical support?</button
                >
                <div class="faq-answer">
                    <p>
                        Yes, we offer 24/7 technical support. You can contact us
                        anytime via our support page.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <form class="top" action="#top">
        <button class="top1" type="submit">Back to Top</button>
    </form>
</BaseLayout>

<style>
    .faq-container {
        width: 90%;
        margin: auto;
        font-family: Arial, sans-serif;
    }

    .faq-section h3 {
        color: #007bff;
        margin-bottom: 0.5em;
    }

    .faq-question {
        width: 100%;
        padding: 0.7em;
        text-align: left;
        background-color: #007bff;
        color: white;
        border: none;
        outline: none;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .faq-question:hover,
    .faq-question:focus {
        background-color: #0056b3;
    }

    .faq-answer {
        display: none;
        padding: 1.2em;
        margin-top: 5px;
        background-color: #f8f9fa;
        border-left: 3px solid #007bff;
        line-height: 1.5;
        text-align: justify;
    }

    .faq-answer p {
        margin-bottom: 1em;
    }

    .top {
        text-align: center;
        margin: 1em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.querySelectorAll(".faq-question").forEach((item) => {
            item.addEventListener("click", function () {
                const answer = this.nextElementSibling;
                if (answer.style.display === "block") {
                    answer.style.display = "none";
                } else {
                    answer.style.display = "block";
                }
            });
        });
    });
</script>
