---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Professional translation company";
const description =
	"EnRu Translations is a small team of experienced professionals specializing in English-Russian corporate and business document translation. Contact us for a free quote today";
const url = "https://enrutransl.com";
---

<BaseLayout description={description} title={title} url={url}>
	<main>
		<section class="main_container">
			<div class="elevate">
				<h1>
					EnRu Translations - Your Reliable Partner for
					English-Russian Corporate and Business Document Translation
				</h1>
				<p>
					Assisting businesses, professional service providers, and
					translation agencies with their corporate and business
					document translation needs
				</p>

				<p class="crafted">
					Crafted by <strong>professional human translators</strong>,
					delivered on time
				</p>

				<a href="/pricing/">
					<button class="quote" type="button"
						>Get instant quote</button
					>
				</a>
			</div>

			<div class="vector">
				<picture>
					<source type="image/webp" srcset="/hero_image-1.webp" />

					<source type="image/jpeg" srcset="/hero_image-1-1.jpg" />

					<img
						class="hero-image"
						src="/hero_image.jpg"
						alt="Pleasant-looking young European providing English-to-Russian translation services"
						loading="eager"
						decoding="auto"
					/>
				</picture>
			</div>
		</section>

		<section class="sec_container">
			<div class="uvp">
				<ul class="unordered">
					<li>Over 500 happy clients</li>
					<li>510,000 words translated annually</li>
					<li>Over 15 years in translation</li>
					<li>Certified native Russian translators</li>
					<li>Rigorous quality assurance</li>
					<li>Strict confidentiality</li>
				</ul>
			</div>

			<!-- <a href="/about/">
				<button class="button_about" type="button">About us</button>
			</a> -->
		</section>

		<section class="trust-container">
			<div class="trust-badge2">
				<img
					src="/matecat.svg"
					alt="matecat-svg"
					loading="lazy"
					decoding="async"
				/>
				<img
					src="/memoq.svg"
					alt="memoq-svg"
					loading="lazy"
					decoding="async"
				/>
				<img
					src="/proz.png"
					alt="proz-png"
					loading="lazy"
					decoding="async"
				/>
			</div>

			<div class="trust-badge1">
				<img
					src="/ssl.png"
					alt="ssl-png"
					loading="lazy"
					decoding="async"
				/>
				<div class="paypal">
					<img
						src="/PayPal.png"
						alt="paypal-logo"
						loading="lazy"
						decoding="async"
					/>
					<img
						src="/visa_group.svg"
						alt="visa-svg"
						loading="lazy"
						decoding="async"
					/>
				</div>
				<img
					src="/payoneer copy.svg"
					alt="payoneer-svg"
					loading="lazy"
					decoding="async"
				/>
			</div>
		</section>

		<h2 class="heading">What Sets Us Apart?</h2>

		<div class="setapartintro">
			<div class="setapartimg">
				<picture>
					<source type="image/webp" srcset="/setapart2.webp" />

					<source type="image/jpeg" srcset="/setapart2(1).jpg" />

					<img
						src="/setapart2(1).jpg"
						alt="Two women discussing"
						loading="lazy"
						decoding="auto"
					/>
				</picture>
			</div>
			<h3 class="intro_para">
				EnRu Translations is a small team of highly specialized
				translators dedicated to providing translation, localization,
				proofreading, and revision services to our clients:
			</h3>
		</div>

		<section class="set_apart" id="setapart">
			<div class="not-agency">
				<img
					src="/setapart.svg"
					alt="checked svg"
					loading="lazy"
					decoding="async"
				/>
				<p>
					<mark>Not an agency</mark>. There are no middlemen. This
					ensures a direct line of communication and a clear
					understanding of your needs.
				</p>
			</div>
			<div class="laser">
				<img
					src="/setapart.svg"
					alt="checked svg"
					loading="lazy"
					decoding="async"
				/>
				<p>
					<mark>Laser-focused specialization</mark>
					in only one language pair: <strong>
						English - Russian</strong
					>. This ensures unparalleled precision and cultural
					accuracy.
				</p>
			</div>
			<div class="registr">
				<img
					src="/setapart.svg"
					alt="checked svg"
					loading="lazy"
					decoding="async"
				/>
				<p>
					<mark>Registered and reliable:</mark>
					We are a registered translation company committed to delivering
					reliable translation services with a strong focus on project
					confidentiality and security.
				</p>
			</div>
			<div class="native">
				<img
					src="/setapart.svg"
					alt="checked svg"
					loading="lazy"
					decoding="async"
				/>
				<p>
					We are <mark>native speakers of Russian</mark>, certified
					linguists based in Serbia, and seasoned translators with
					over 15 years of professional experience.
				</p>
			</div>
			<div class="in-depth">
				<img
					src="/setapart.svg"
					alt="checked svg"
					loading="lazy"
					decoding="async"
				/>
				<p>
					<mark>In-depth knowledge</mark> of our areas of expertise backed
					up by a proprietary collection of translation memories and termbases.
				</p>
			</div>

			<div class="human">
				<img
					src="/setapart.svg"
					alt="checked svg"
					loading="lazy"
					decoding="async"
				/>
				<p>
					We commit to <mark>100% human translation</mark> to ensure precision,
					cultural fidelity, and contextual accuracy in every project.
					Why? <a
						href="https://www.quora.com/What-are-the-differences-between-machine-translation-and-human-translation-in-terms-of-accuracy-fluency-etc"
						>Read on.</a
					>
				</p>
			</div>
			<!-- New Div Insertion -->

			<div class="translation-container">
				<p>
					EnRu Translations has been successfully providing
					<a href="/services/" class="link"
						>professional translation services</a
					>
					for many years, starting with a single freelancer. Today, we
					offer a range of
					<a href="/services/" class="link"
						>expert translation services</a
					>. Our translation company based in Novi Sad, Serbia, is
					committed to delivering high-quality translations. We
					believe that every word matters and understand that
					translation is much more than just translating words.
				</p>
			</div>

			<!-- End of New Div Insertion -->

			<div class="translation-story">
				<p>
					At EnRu Translations, we know that precise communication is
					the cornerstone of success in any business. That’s why our
					focus is on delivering accurate English-Russian translations
					that meet the specific needs of corporate clients,
					translation agencies, and professional service providers,
					such as law firms, financial advisors, securities brokerage
					firms and investment companies. Whether it's legal
					documents, business reports, corporate certificates or
					marketing materials, we as translators ensure that your
					message is clear and understood by your target audience.
				</p>
			</div>

			<div class="translation-story-2">
				<p>
					There are many languages, but we offer a single solution in
					one language pair: professional, accurate, and reliable
					English-Russian translation. This is what we
					guarantee—strict adherence to deadlines and your specified
					terms. We take pride in safeguarding and building your
					reputation through the quality of our translations, and
					ensure that nothing is lost in the process.
				</p>
			</div>
			<div class="translation-story-3">
				<p>
					With over a decade of industry experience, we have developed
					an understanding of the unique challenges businesses face in
					their communication. Our goal is to help you bridge the gap
					between languages so you can focus on what matters
					most—growing your business.
				</p>
			</div>
		</section>

		<section>
			<div class="serv_ul">
				<h2 class="serv_overview">Services Overview</h2>
				<div class="serv-1">
					<img
						src="/translation.svg"
						alt="Translation icon"
						loading="lazy"
						decoding="async"
					/>
					Translation
				</div>
				<div class="serv-2">
					<img
						src="/revision.svg"
						alt="Revision icon"
						loading="lazy"
						decoding="async"
					/>
					Revision
				</div>
				<div class="serv-3">
					<img
						src="/edit.svg"
						alt="Proofreading icon"
						loading="lazy"
						decoding="async"
					/>
					Proofreading
				</div>
				<div class="serv-4">
					<img
						src="/localization.svg"
						alt="Localization icon"
						loading="lazy"
						decoding="async"
					/>
					Localization
				</div>
				<div class="serv-5">
					<img
						src="/quality.svg"
						alt="Translation QA icon"
						loading="lazy"
						decoding="async"
					/>

					Translation Quality Assessment
				</div>

				<!-- <div class="serv-6">
					<img
						src="/tutor.svg"
						alt="Tutoring icon"
						loading="lazy"
						decoding="async"
					/>
					Russian Language Tutoring
				</div> -->
				<div class="align_button">
					<div class="button_serv">
						<a href="/services/">Learn more about the services </a>
					</div>
				</div>
			</div>
		</section>

		<section class="fields" id="fieldsof">
			<h2 class="industry">Industry Expertise</h2>
			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
					decoding="async"
				/>Law
			</div>

			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
					decoding="async"
				/>Finance
			</div>

			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
					decoding="async"
				/>Marketing
			</div>

			<!-- <div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
					decoding="async"
				/>Business/E-Commerce
			</div> -->

			<!-- <div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
					decoding="async"
				/>Investments/Securities
			</div> -->

			<!-- <div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
					decoding="async"
				/>Information Technology
			</div> -->
		</section>

		<section class="charter-section">
			<div class="charter-container">
				<h2>The Translator's Charter</h2>
				<p>
					Just as doctors uphold their oath, we translators follow our
					own guiding principles—the Translator’s Charter. It reminds
					us of our responsibility to deliver ethical, accurate, and
					professional work. We revisit this commitment regularly to
					ensure every project is handled with the care it deserves.
				</p>
			</div>
		</section>

		<div class="testimonials-wrapper">
			<h2 class="tes_head"><mark>Our Clients Say</mark></h2>
			<section class="testimonials">
				<div class="testimonials_container">
					<div class="testimonial active">
						<img
							src="/translated_srl.svg"
							alt="Praising professional translation services"
							class="tes-image-1"
							loading="lazy"
							decoding="async"
						/>

						<figure>
							<blockquote
								cite="https://www.proz.com/feedback-card/803573"
							>
								<q
									>Pavel has worked with us as a professional
									freelance translator from EN to RU in
									various subject fields. Our team has had
									positive experiences from this
									collaboration, and Pavel has become a
									valuable member of our staff of freelance
									translators.</q
								>
							</blockquote>

							<figcaption>—TRANSLATED SRL</figcaption>
						</figure>
					</div>
				</div>
				<div class="testimonial">
					<img
						src="/tlex.svg"
						alt="Praising professional translation services"
						class="tes-image-2"
						loading="lazy"
						decoding="async"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q
								>We are very satisfied with the translations
								Pavel made for us and we'll continue working
								with him in the future.</q
							>
						</blockquote>
						<figcaption>—TLex</figcaption>
					</figure>
				</div>
				<div class="testimonial">
					<img
						src="/motaword.svg"
						alt="Praising professional translation services"
						class="tes-image-3"
						loading="lazy"
						decoding="async"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q>Yes!</q>
						</blockquote>
						<figcaption>—MotaWord</figcaption>
					</figure>
				</div>

				<div class="testimonial">
					<img
						src="/Ophelie.svg"
						alt="Praising professional translation services"
						class="tes-image-4"
						loading="lazy"
						decoding="async"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q>Yes.</q>
						</blockquote>
						<figcaption>—Ophélie Giorgis</figcaption>
					</figure>
				</div>

				<div class="testimonial">
					<img
						src="/Gentile.svg"
						alt="Praising professional translation services"
						class="tes-image-5"
						loading="lazy"
						decoding="async"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q
								>Great pleasure to work with Pavel! Respect of
								the deadline, meticulous work. We will work
								again with him without any hesitation.</q
							>
						</blockquote>
						<figcaption>—STUDIO GENTILE SARL</figcaption>
					</figure>
				</div>
			</section>

			<p class="disclaimer">
				Due to our strict adherence to confidentiality agreements and
				respect for our clients' privacy, we only share testimonials
				with explicit consent. This commitment means we have a limited
				number of publicly available testimonials. Learn more in our <a
					href="/faq#testimonex"
					title="Frequently Asked Questions">FAQ.</a
				>
			</p>

			<div class="contactus">
				<h4>
					Have questions? Check out our <a href="/faq/">FAQ page</a> for
					detailed answers to the most common questions, or <a
						href="/contact/">reach out to us directly</a
					>
					— we're always happy to help!
				</h4>
			</div>
			<form class="top" action="#top">
				<button class="top1" type="submit">Back to Top</button>
			</form>
		</div>
	</main>
</BaseLayout>

<style>
	.main_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fff;
	}

	.elevate {
		margin: 1em;
		padding: 0.5em;
		text-align: center;
		font-size: large;
		line-height: 1.15;
		animation: slideInFromLeft 1.25s;
	}

	@keyframes slideInFromLeft {
		from {
			transform: translateX(-100%);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.elevate > h1 {
		font-size: x-large;
		padding: 0.5em;
		color: #333333;
	}

	.crafted {
		padding-left: 2em;
		padding-right: 2em;
		font-size: medium;
		color: #333333;
	}

	.vector {
		margin-top: 1em;
		margin-bottom: 3em;
		max-width: 90%;
		animation: slideInFromRight 1.25s;
		object-fit: cover;
	}

	@keyframes slideInFromRight {
		from {
			transform: translateX(100%);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.vector img {
		max-width: 100%;
		height: auto;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	}

	.trust-badge1 {
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		width: 100%;
		margin-top: 4em;
		margin-bottom: 5em;
	}

	.trust-badge1 img {
		width: 6em;
		height: 2em;
		object-fit: contain;
	}

	.trust-badge2 {
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		width: 100%;
		margin-top: 5em;
	}

	.trust-badge2 img {
		width: 6em;
		height: 2em;
		object-fit: contain;
	}

	.paypal {
		display: flex;
		flex-flow: column;
	}

	.init {
		text-align: center;
		text-transform: uppercase;
	}

	.sec_container {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.uvp {
		font-weight: bold;
		font-size: medium;
		line-height: 1.15;
		background-color: rgb(173, 231, 250);
		border-radius: 10px 10px 10px 10px;
		width: 90%;
	}

	.uvp ul {
		list-style: none;
	}

	.uvp li:before {
		content: "";
		display: flex;
		height: 1em;
		width: 1em;
		background-image: url(/checklist.svg);
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0.3em;
	}

	.unordered li {
		display: flex;
		flex-flow: row;
		align-items: center;
		padding: 0.5em;
		color: #0d5385;
	}

	.quote {
		box-shadow: inset 0px 1px 0px 0px #fbafe3;
		background-color: rgb(235, 54, 120);
		border-radius: 6px;
		border: 1px solid #ee1eb5;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-size: 15px;
		font-weight: bold;
		padding: 6px 24px;
	}

	.quote:hover {
		background: linear-gradient(
			to bottom,
			#ef027d 5%,
			rgb(235, 54, 120) 100%
		);
		background-color: rgb(235, 54, 120) d;
		transform: scale(1.1);
	}

	.quote:active {
		position: relative;
		top: 1px;
	}

	.button_about {
		box-shadow: 3px 4px 0px 0px #1564ad;
		background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
		background-color: #79bbff;
		border-radius: 5px;
		border: 1px solid #337bc4;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-size: 17px;
		font-weight: bold;
		padding: 12px 44px;
		margin-top: 2em;
	}
	.button_about:hover {
		background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
		background-color: #378de5;
		transform: scale(1.1);
	}
	.button_about:active {
		position: relative;
		top: 1px;
	}

	/*next section  */

	.setapartintro {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		margin-top: 3em;
	}

	.setapartimg {
		margin-bottom: 3em;
		width: 90%;
		image-orientation:;
		padding: 1em 0em 0em 2em;
		background-size: 50px auto;
		background-image: url(/Pattern.png);
		background-position: top left;
		background-repeat: no-repeat;
		background-size: 75px auto;
		background-color: rgb(255, 255, 255);
		animation: slideInFromLeft 1.25s;
	}

	@keyframes slideInFromLeft {
		from {
			transform: translateX(-100%);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.setapartimg img {
		max-width: 100%;
		height: auto;
		box-shadow: 0.3em 0.3em 1em rgba(130, 135, 229, 0.6);
	}

	.heading {
		margin: 0 auto;
		margin-bottom: 1em;
		padding: 0.5em;
		line-height: 2em;
		font-size: large;
		text-transform: uppercase;
		text-align: center;
		background-color: #007dc1;
		color: #ffffff;
		max-width: fit-content;
	}

	.intro_para {
		margin: 1em;
		padding: 0.5em;
		font-weight: bold;
		text-align: center;
		line-height: 2em;
		font-size: medium;
		color: #0d5385;
		background-color: rgb(169, 229, 250);
		border-radius: 10px 10px 10px 10px;
		animation: slideInFromRight 1.25s;
	}

	@keyframes slideInFromRight {
		from {
			transform: translateX(100%);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	mark {
		background-color: rgb(235, 54, 120);
		color: white;
		padding: 0.3em;
	}

	.set_apart {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 2em;
		gap: 0.5em;
	}

	.set_apart > div {
		text-align: center;
		font-weight: 600;
		font-size: large;
		padding: 2em;
	}

	.set_apart > div img {
		margin-bottom: 1em;
		width: 2em;
	}

	.not-agency > p {
		font-size: medium;
		line-height: 1.5;
		color: #333333;
	}

	.laser > p {
		font-size: medium;
		line-height: 1.5;
		color: #333333;
	}

	.registr > p {
		font-size: medium;
		line-height: 1.5;
		color: #333333;
	}

	.native > p {
		font-size: medium;
		line-height: 1.5;
		color: #333333;
	}
	.in-depth > p {
		font-size: medium;
		line-height: 1.5;
		color: #333333;
	}
	.human > p {
		font-size: medium;
		line-height: 1.5;
		color: #333333;
	}

	.translation-container {
		background-color: #86bdf3;
		width: 100%;
	}

	.translation-container p {
		font-size: medium;
		font-weight: 600;
		text-align: justify;
		line-height: 1.5;
		color: #ffffff;
	}

	.translation-story {
		background-color: rgb(97, 200, 241);
		width: 100%;
	}

	.translation-story p {
		font-size: medium;
		font-weight: 600;
		text-align: justify;
		line-height: 1.5;
		color: #ffffff;
	}

	.translation-story-2 {
		background-color: rgb(49, 112, 135);
		width: 100%;
	}

	.translation-story-2 p {
		font-size: medium;
		font-weight: 600;
		text-align: justify;
		line-height: 1.5;
		color: #ffffff;
	}

	.translation-story-3 {
		background-color: rgb(42, 191, 246);
		width: 100%;
	}

	.translation-story-3 p {
		font-size: medium;
		font-weight: 600;
		text-align: justify;
		line-height: 1.5;
		color: #ffffff;
	}

	.link {
		/* color: rgb(235, 54, 120);  */
		font-weight: bold;
		text-decoration: underline;
	}

	.link:hover {
		color: #2e466e;
		text-decoration: none;
	}

	.serv_overview {
		margin: 0 auto;
		margin-top: 4em;
		padding: 0.5em;
		line-height: 2em;
		font-size: large;
		text-transform: uppercase;
		text-align: center;
		background-color: #007dc1;
		color: #ffffff;
		width: fit-content;
	}

	.serv_ul {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}

	.serv_ul > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
		font-size: medium;
		padding: 1em;
	}

	.serv_ul > div img {
		margin-bottom: 1em;
		width: 3em;
	}

	.align_button {
		display: flex;
		flex-flow: row;
		justify-content: center;
	}

	.button_serv {
		margin-top: 2em;
		margin-bottom: 5em;
		padding: 1em;
		text-align: center;
		box-shadow: inset 0px 1px 0px 0px #dcecfb;
		background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
		background-color: #bddbfa;
		border-radius: 6px;
		border: 1px solid #84bbf3;
		cursor: pointer;
		color: #fff;
	}

	.button_serv a {
		color: #fff;
	}

	.button_serv:hover {
		background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
		background-color: #80b5ea;
		transform: scale(1.1);
	}

	.industry {
		margin: 0 auto;
		margin-bottom: 2em;
		margin-top: 5em;
		padding: 0.5em;
		line-height: 2em;
		font-size: large;
		text-transform: uppercase;
		background-color: #007dc1;
		color: #ffffff;
		width: fit-content;
	}

	.fields {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		gap: 4em;
		margin-bottom: 3em;
	}

	.fields > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-weight: 600;
		font-size: medium;
		color: #333333;
	}

	.fields > div img {
		margin-bottom: 1em;
		width: 2em;
	}

	.charter-section {
		background-color: rgb(173, 231, 250); /* Div background color */
		padding: 60px 20px;
		text-align: center;
		border-bottom: 4px solid #2e466e; /* Top section design */
		position: relative;
	}

	.charter-container {
		max-width: 800px;
		margin: 0 auto;
	}

	.charter-section h2 {
		color: #2e466e; /* Dark blue header color */
		margin-bottom: 20px;
		text-transform: uppercase; /* For a bold, clean design */
	}

	.charter-section p {
		color: #007dc1; /* Light blue text */
		font-size: 1.2rem;
		line-height: 1.6;
		margin: 0 auto;
		max-width: 700px;
	}

	.testimonials {
		width: 18em;
		/* Responsive width */
		height: 20em;
		margin: 2rem auto;
		/* Responsive vertical margin */
		/* padding: 1rem; */
		/* Responsive padding */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		position: relative;
		border-radius: 10px;
		/* Adds rounded corners */
		background: #f9f9f9;
		/* Light background color */
	}

	.testimonials_container {
		position: relative;
	}

	.testimonial {
		display: none;
		/* Initially hides all testimonials */
		text-align: center;
		/* Centers the text */
		/* padding: 1rem; */
		/* Responsive padding */
		font-size: 1rem;
		/* Base font size */
	}

	.testimonial.active {
		display: block;
		/* Only the active testimonial is displayed */
		opacity: 0;
		/* Start with the testimonial being invisible */
		transition: opacity 1s ease-in-out;
		/* Smooth transition for the opacity */
		font-size: 1.1rem;
		/* Slightly larger font for active testimonial */
	}

	.contactus {
		padding: 3em;
		text-align: justify;
	}

	.social {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0.5em;
	}

	.social img {
		width: 3em;
		padding: 0.3em;
		font-weight: 500;
		margin: 0.7em;
	}

	/* Responsive adjustments */
	@media (min-width: 37.5em) and (max-width: 56.25em) {
		.testimonial {
			font-size: 1.2rem;
			/* Larger font size on tablets and above */
		}
	}

	.tes-image-1 {
		width: 50%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	.tes-image-2 {
		width: 30%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	.tes-image-3 {
		width: 30%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	.tes-image-4 {
		width: 30%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	.tes-image-5 {
		width: 30%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}
	blockquote {
		font-size: small;
		font-weight: 500;
		text-align: justify;
	}

	blockquote {
		border-left: 5px solid darkblue;
		margin: 0 0 1em 0;
		padding: 2em 1em;
	}

	figcaption {
		font-size: small;
		margin: 1em;
		padding: 1em;
	}

	.tes_head {
		padding: 1em;
		text-align: center;
		font-size: x-large;
		text-transform: uppercase;
		font-weight: bold;
		color: #333333;
	}

	.disclaimer {
		font-size: small;
		padding: 2em;
		margin: 2em;
		text-align: justify;
		color: #333333;
	}

	.feedback-card {
		font-size: small;
		padding: 2em;
		margin: 2em;
		text-align: center;
	}

	.top {
		text-align: center;
		margin: 1em;
	}

	.top1 {
		background-color: rgb(8, 20, 187);
		color: #f9f9f9;
		font-weight: 600;
	}

	/* media queries start here */
	@media (min-width: 37.5em) {
		main {
			margin: 0;
		}

		section {
			margin: 0;
		}
		/* section expand reach */
		.main_container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding: 1em;
		}

		.elevate {
			grid-column: 1/2;
			display: flex;
			flex-flow: column;
			align-items: center;
			margin-right: 0.5em;
			line-height: 1.15;
			max-width: 50em;
		}

		.elevate > h1 {
			font-size: x-large;
			padding: 0.5em;
		}

		.crafted {
			padding-left: 2em;
			padding-right: 2em;
			font-size: large;
		}

		.vector {
			grid-column: 2/3;
			padding: 0em;
			margin-left: 1.8em;
		}

		.vector img {
			/* border-radius: 30%; */
			width: 100%;
		}

		.trust-badge1 {
			justify-content: space-around;
		}

		.trust-badge2 {
			justify-content: space-around;
		}

		.trust-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}

		.trust-badge2 {
			grid-column: 1/4;
		}

		.trust-badge1 {
			grid-column: 1/4;
			margin-top: 2em;
		}

		/* start of section whats in it */
		.init {
			text-align: center;
			text-transform: uppercase;
		}
		.sec_container {
			display: flex;
			flex-flow: column;
			justify-content: space-around;
			margin: 0.5em;
		}

		.uvp {
			font-weight: bold;
			font-size: medium;
			line-height: 1.15;
			width: 97%;
		}

		.uvp ul {
			list-style: none;
		}

		.uvp > h2 {
			font-size: medium;
		}

		.uvp li:before {
			content: "";
			display: block;
			height: 1.28em;
			width: 2em;
			background-image: url(/checklist.svg);
			background-size: contain;
			background-repeat: no-repeat;
		}

		.button_about {
			text-align: center;
			border: 1px solid blue;
			width: 9em;
			font-size: large;
			padding: 0.5em;
		}

		.setapartintro {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}

		.heading {
			margin: 0 auto;
			margin-top: 3em;
		}

		.setapartimg {
			margin: 1em;
			width: 100%;
		}

		.intro_para {
			padding: 0.1em;
			width: 100%;
		}

		.set_apart {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 0.5em;
		}

		.not-agency {
			grid-column: 1/2;
			grid-row: 1/2;
			height: 100%;
		}

		.not-agency > p {
			font-size: medium;
		}

		.laser {
			grid-column: 2/3;
			grid-row: 1/2;
			height: 100%;
		}

		.laser > p {
			font-size: medium;
		}

		.registr {
			grid-column: 3/4;
			grid-row: 1/2;
			height: 100%;
		}

		.registr > p {
			font-size: medium;
		}

		.native {
			grid-column: 1/2;
			grid-row: 2/3;
			height: 100%;
		}

		.native > p {
			font-size: medium;
		}

		.in-depth {
			grid-column: 2/3;
			grid-row: 2/3;
			height: 100%;
		}

		.in-depth > p {
			font-size: medium;
		}

		.human {
			height: 100%;
		}

		.human > p {
			font-size: medium;
		}

		.set_apart > div img {
			width: 1.5em;
		}

		.translation-container {
			grid-column: 1/3;
			/* background-color: rgb(169, 229, 250); */
			width: 100%;
		}

		.translation-story {
			grid-column: 1/3;
			/* background-color: rgb(169, 229, 250); */
			width: 100%;
		}

		.translation-story-2 {
			grid-column: 3/4;
			grid-row: 3/4;
			/* background-color: rgb(169, 229, 250); */
			width: 100%;
		}

		.translation-story-3 {
			grid-column: 3/4;
			grid-row: 4/5;
			/* background-color: rgb(169, 229, 250); */
			width: 100%;
		}

		.serv_ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 0.5em;
		}

		.serv_overview {
			grid-column: 1/4;
			grid-row: 1/2;
		}

		.serv-1 {
			grid-column: 1/2;
			grid-row: 2/3;
			height: 100%;
		}

		.serv-2 {
			grid-column: 2/3;
			grid-row: 2/3;
			height: 100%;
		}

		.serv-3 {
			grid-column: 3/4;
			grid-row: 2/3;
			height: 100%;
		}

		.serv-4 {
			grid-column: 1/2;
			grid-row: 3/4;
			height: 100%;
		}

		.serv-5 {
			grid-column: 2/3;
			grid-row: 3/4;
			height: 100%;
		}

		.serv-5 {
			text-align: center;
		}

		.serv-6 {
			grid-column: 3/4;
			grid-row: 3/4;
			height: 100%;
		}

		.serv-6 {
			text-align: center;
		}

		.serv_ul > div img {
			margin-bottom: 1em; /* Space between icon and text */
			width: 3em; /* Adjust based on your icon size */
		}

		.align_button {
			grid-column: 1/4;
		}

		.button_serv {
			margin: 0.5em;
		}

		.fields {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 1.3em;
		}

		.fields > div img {
			margin-bottom: 1em;
			width: 2em;
		}

		.fields > div {
			height: 100%;
		}

		.industry {
			grid-column: 1/4;
			margin: 0 auto;
			margin-top: 5em;
			margin-bottom: 2em;
			text-align: center;
			font-size: large;
			text-transform: uppercase;
			width: fit-content;
		}

		@media (min-width: 37.5em) {
			/* Your preferred media query */
			.charter-section {
				padding: 80px 20px;
			}

			/* .charter-section h2 {
				font-size: 2.6rem; 
			} */

			.charter-section p {
				font-size: 1.4rem;
			}
		}

		.testimonials-wrapper {
			display: grid;
		}

		.tes_head {
			text-align: center;
			font-size: x-large;
			text-transform: uppercase;
			margin-top: 3em;
		}

		.disclaimer {
			font-size: small;
			padding: 2em;
			margin: 1em;
			text-align: justify;
		}

		.feedback-card {
			font-size: small;
			padding: 1em;
			margin: 1em;
			text-align: center;
		}
		.top {
			text-align: center;
			margin: 1em;
		}

		.top1 {
			background-color: rgb(8, 20, 187);
			color: #f9f9f9;
			font-weight: 600;
		}
	}

	@media (min-width: 56.25em) {
		.setapartimg {
			width: 100%;
		}

		.intro_para {
			width: 100%;
			padding: 3.5em;
		}

		.vector img {
			max-width: 80%;
		}
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		let testimonials = document.querySelectorAll(".testimonial");
		let currentTestimonialIndex = 0;

		// Initially display the first testimonial
		(testimonials[currentTestimonialIndex] as HTMLElement).style.opacity =
			"1";
		testimonials[currentTestimonialIndex].classList.add("active");

		setInterval(function () {
			// Remove the active class and hide the current testimonial
			(
				testimonials[currentTestimonialIndex] as HTMLElement
			).style.opacity = "0";
			testimonials[currentTestimonialIndex].classList.remove("active");

			// Move to the next testimonial, or loop back to the first if at the end
			currentTestimonialIndex =
				(currentTestimonialIndex + 1) % testimonials.length;

			// Add the active class and display the next testimonial
			(
				testimonials[currentTestimonialIndex] as HTMLElement
			).style.opacity = "1";
			testimonials[currentTestimonialIndex].classList.add("active");
		}, 5000); // Change testimonial every 5 seconds
	});
</script>
