---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Professional English-Russian Translation Service	| Homepage";
const description =
	"EngRusTranslate provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
	<link slot="head" rel="preload" href="hero_image.svg" as="image" />
	<main>
		<section>
			<div class="main_container">
				<div class="one_container">
					<div class="elevate">
						<h1>
							We elevate your global reach with English to Russian
							translation services
						</h1>
						<p>
							Crafted by experts, powered by technology, delivered
							in a timely manner.
						</p>
					</div>

					<div class="container">
						<div class="arrow"></div>
						<div class="arrow"></div>
						<div class="arrow"></div>
					</div>

					<div class="uvp">
						<h2 class="init">What's in it for you?</h2>
						<ul class="unordered">
							<li>Bespoke Solutions</li>
							<li>Direct Expert Access</li>
							<li>Specialized Expertise</li>
							<li>Quality and Accuracy</li>
							<li>Timeliness and Reliability</li>
							<li>Confidentiality and security</li>
						</ul>
					</div>

					<div class="container">
						<div class="arrow"></div>
						<div class="arrow"></div>
						<div class="arrow"></div>
					</div>

					<div class="quote_button">
						<button class="quote" type="button"
							>Get Instant Quote</button
						>
					</div>
				</div>
				<div class="two_container">
					<div class="vector">
						<img
							src="hero_image.svg"
							alt="Vector illustration of elevating global reach for hero section"
							style="max-width: 100%; height: auto;"
						/>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="set_apart">
				<h2>What Sets Us Apart?</h2>
				<p>
					We are a small team of highly specialized translators
					dedicated to delivering value to our clients:
				</p>
				<ol>
					<li>
						Not an agency/translation mill. There are no middlemen
						between you, the client, and us, the translators. This
						ensures a direct line of communication and a clearer
						understanding of your needs.
					</li>
					<li>
						Laser-focused specialization in only one language pair:
						English - Russian. Our focus on the specific language
						pair allows for unparalleled precision and cultural
						accuracy.
					</li>
					<li>
						Registered and Reliable: As a registered business, we
						prioritize confidentiality and security of your
						projects.
					</li>
					<li>
						Although based outside of Russia, we are native speakers
						of Russian and seasoned translators with over 15 years
						of professional experience.
					</li>
					<li>
						In-depth knowledge of our areas of expertise backed
						up by a proprietary collection of translation memories
						and term-bases.
					</li>
				</ol>
			</div>
		</section>
	</main>
</BaseLayout>
