---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Professional English-Russian Translation Service	| Homepage";
const description =
	"EngRusTranslate provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
	<!-- <link slot="head" rel="preload" href="hero_image.svg" as="image" /> -->
	<main>
		<section class="main_container">
			<div class="elevate">
				<h1>
					Expand your global reach with English to Russian
					professional translation
				</h1>
				<p class="crafted">
					Crafted by professional human translators, delivered in a
					timely manner
				</p>
			</div>

			<div class="vector">
				<img
					class="hero-image"
					src="/hero_image.svg"
					alt="Vector illustration of elevating global reach for hero section"
				/>
			</div>
		</section>

		<h2 class="init">Why us?</h2>

		<section class="sec_container">
			<div class="uvp">
				<ul class="unordered">
					<li>Direct Expert Access</li>
					<li>Specialized Expertise</li>
					<li>Quality and Accuracy</li>
					<li>Timeliness and Reliability</li>
					<li>Confidentiality and Security</li>
				</ul>
			</div>

			<div class="quote_button">
				<a href="/">
					<button class="quote" type="button"
						>Get Instant Quote</button
					>
				</a>
			</div>

			<div class="button_about">
				<a href="/about/">About us </a>
			</div>
		</section>

		<h2 class="heading">What Sets Us Apart?</h2>

		<h3 class="intro_para">
			We are a small team of highly specialized translators dedicated to
			delivering value to our clients:
		</h3>

		<section class="set_apart">
			<div>
				<img src="/setapart.svg" alt="checked svg" />
				<p>
					<strong>Not an agency.</strong> There are no middlemen. This
					ensures a direct line of communication and a clear understanding
					of your needs.
				</p>
			</div>
			<div>
				<img src="/setapart.svg" alt="checked svg" />
				<p>
					<strong>Laser-focused specialization</strong>
					in only one language pair: <strong>
						English - Russian</strong
					>. This ensures unparalleled precision and cultural
					accuracy.
				</p>
			</div>
			<div>
				<img src="/setapart.svg" alt="checked svg" />
				<p>
					<strong>Registered and Reliable:</strong>
					As a registered business, we prioritize confidentiality and security
					of your projects.
				</p>
			</div>
			<div>
				<img src="/setapart.svg" alt="checked svg" />
				<p>
					We are <strong> native speakers of Russian</strong> based in
					Serbia and seasoned translators with over 15 years of professional
					experience.
				</p>
			</div>
			<div>
				<img src="/setapart.svg" alt="checked svg" />
				<p>
					<strong>In-depth knowledge</strong> of our areas of expertise
					backed up by a proprietary collection of translation memories
					and termbases.
				</p>
			</div>
		</section>

		<section>
			<h2 class="serv_overview">Services Overview</h2>

			<div class="serv_ul">
				<div class="serv-1">
					<img
						src="/doc_serv.svg"
						alt="Translation icon"
					/>Translation
				</div>
				<div class="serv-2">
					<img src="/pin_icon.svg" alt="Revision icon" />Revision
				</div>
				<div class="serv-3">
					<img
						src="/glob_icon.svg"
						alt="Proofreading icon"
					/>Proofreading
				</div>
				<div class="serv-4">
					<img
						src="/menu_icon.svg"
						alt="Localization icon"
					/>Localization
				</div>
				<div class="serv-5">
					<img
						src="/cd_icon.svg"
						alt="Translation QA icon"
					/>Translation Quality Assessment
				</div>

				<div class="serv-9">
					<img src="/pers_icon.svg" alt="Tutoring icon" />Russian
					Language Tutoring
				</div>
			</div>
		</section>

		<h2 class="industry">Industry Expertise</h2>

		<section class="fields">
			<div>
				<img src="/check-tick.svg" alt="check-tick svg" />Legal
			</div>

			<div>
				<img src="/check-tick.svg" alt="check-tick svg" />Marketing
			</div>

			<div>
				<img
					src="/check-tick.svg"
					alt="check-tick svg"
				/>Business/E-Commerce
			</div>

			<div>
				<img
					src="/check-tick.svg"
					alt="check-tick svg"
				/>Finance/Taxes/Accounting
			</div>

			<div>
				<img
					src="/check-tick.svg"
					alt="check-tick svg"
				/>Investment/Securities
			</div>

			<div>
				<img src="/check-tick.svg" alt="check-tick svg" />Blockchain and
				Cryptocurrency
			</div>

			<div>
				<img
					src="/check-tick.svg"
					alt="check-tick svg"
				/>Government/Politics
			</div>

			<div>
				<img src="/check-tick.svg" alt="check-tick svg" />Information
				Technology
			</div>
		</section>

		<h2 class="tes_head">Our Clients Say</h2>

		<div class="testimonials-wrapper">
			<section class="testimonials">
				<div class="testimonials_container">
					<div class="testimonial active">
						<img
							src="/translated_srl.svg"
							alt="Praising professional translation services"
							class="tes-image-1"
						/>

						<figure>
							<blockquote
								cite="https://www.proz.com/feedback-card/803573"
							>
								<q
									>Pavel has worked with us as a professional
									freelance translator from EN to RU in
									various subject fields. Our team has had
									positive experiences from this
									collaboration, and Pavel has become a
									valuable member of our staff of freelance
									translators.</q
								>
							</blockquote>

							<figcaption>—TRANSLATED SRL</figcaption>
						</figure>
					</div>
				</div>
				<div class="testimonial">
					<img
						src="/tlex.svg"
						alt="Praising professional translation services"
						class="tes-image-2"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q
								>We are very satisfied with the translations
								Pavel made for us and we'll continue working
								with him in the future.</q
							>
						</blockquote>
						<figcaption>—TLex</figcaption>
					</figure>
				</div>
				<div class="testimonial">
					<img
						src="/motaword.svg"
						alt="Praising professional translation services"
						class="tes-image-3"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q>Yes!</q>
						</blockquote>
						<figcaption>—MotaWord</figcaption>
					</figure>
				</div>
				<!-- Add more testimonials as needed -->
			</section>
		</div>
	</main>
</BaseLayout>

<style>
	.main_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		/* Stacks children vertically by default */
	}

	.elevate {
		/* border-image: linear-gradient(#fde68a, #fca5a5) 30; */
		margin-top: 1em;
		margin-left: 1em;
		margin-right: 1em;
		padding: 0.1em;
		text-align: center;
		font-size: large;
		line-height: 1.15;
	}

	.vector {
		margin-top: 2em;
		margin-bottom: 2em;
		width: 90%;
		/* Ensures each container takes the full width of its parent */
	}

	.vector img {
		border-radius: 50%;
	}

	.init {
		text-align: center;
		text-transform: uppercase;
	}

	.sec_container {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.uvp {
		/* border-image: linear-gradient(#fde68a, #fca5a5) 30; */
		/* margin: 0.5em; */
		padding: 0.5em;
		font-weight: bold;
		font-size: large;
		line-height: 1.15;
	}

	.uvp ul {
		list-style: none;
	}

	.uvp li:before {
		content: "";
		display: flex;
		height: 1em;
		width: 1em;
		background-image: url(/checked.svg);
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0.3em;
	}

	.unordered li {
		display: flex;
		flex-flow: row;
		align-items: center;
		margin: 0.5em;
		padding: 0.5em;
		margin-right: 1em;
	}

	.quote_button {
		border: 2px ridge;
		border-image: linear-gradient(#fde68a, #fca5a5) 30;
		margin: 0.5em;
		padding: 0.5em;
	}

	.quote {
		font-weight: bold;
		background-color: darkblue;
		color: antiquewhite;
		font-size: large;
	}

	.button_about {
		margin: 2em;
		border: 1px solid blue;
		width: 9em;
		font-size: large;
		text-align: center;
	}

	/*next section  */

	.heading {
		display: flex;
		flex-flow: column;
		padding: 0.5em;
		line-height: 2em;
		font-size: x-large;
		text-transform: uppercase;
		text-align: center;
	}

	.intro_para {
		margin: 1em;
		padding: 0.5em;
		font-weight: bold;
		text-align: center;
		line-height: 2em;
		font-size: large;
	}

	.set_apart {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		gap: 1em;
	}

	.set_apart > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: start;
		width: 15em;
		font-weight: 600;
		font-size: large;
	}

	.set_apart > div img {
		margin-bottom: 1em; /* Space between icon and text */
		width: 2em; /* Adjust based on your icon size */
		height: auto;
	}

	.serv_overview {
		text-align: center;
		font-size: x-large;
		text-transform: uppercase;
	}

	.serv_ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; /* Distributes space around items */
		align-items: center; /* Vertically centers items in their flex container */
		gap: 2em; /* Adds space between flex items */
	}

	.serv_ul > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 50em; /* Adjust based on your preference */
		font-weight: 600;
		font-size: large;
	}

	.serv_ul > div img {
		margin-bottom: 1em; /* Space between icon and text */
		width: 3em; /* Adjust based on your icon size */
		height: auto;
	}

	.industry {
		text-align: center;
		font-size: x-large;
		text-transform: uppercase;
		margin-top: 3em;
	}

	.fields {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; /* Distributes space around items */
		align-items: center; /* Vertically centers items in their flex container */
		gap: 2em; /* Adds space between flex items */
	}

	.fields > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 50em; /* Adjust based on your preference */
		font-weight: 600;
		font-size: large;
	}

	.fields > div img {
		margin-bottom: 1em; /* Space between icon and text */
		width: 2em; /* Adjust based on your icon size */
		height: auto;
	}

	.testimonials {
		width: 18em;
		/* Responsive width */
		margin: 2rem auto;
		/* Responsive vertical margin */
		/* padding: 1rem; */
		/* Responsive padding */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		position: relative;
		border-radius: 10px;
		/* Adds rounded corners */
		background: #f9f9f9;
		/* Light background color */
	}

	.testimonials_container {
		position: relative;
	}

	.testimonial {
		display: none;
		/* Initially hides all testimonials */
		text-align: center;
		/* Centers the text */
		/* padding: 1rem; */
		/* Responsive padding */
		font-size: 1rem;
		/* Base font size */
	}

	.testimonial.active {
		display: block;
		/* Only the active testimonial is displayed */
		opacity: 0;
		/* Start with the testimonial being invisible */
		transition: opacity 1s ease-in-out;
		/* Smooth transition for the opacity */
		font-size: 1.1rem;
		/* Slightly larger font for active testimonial */
	}

	/* Responsive adjustments */
	@media (min-width: 36em) {
		.testimonial {
			font-size: 1.2rem;
			/* Larger font size on tablets and above */
		}
	}

	.tes-image-1 {
		width: 50%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	.tes-image-2 {
		width: 30%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	.tes-image-3 {
		width: 30%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	blockquote {
		font-size: small;
		font-weight: 500;
		text-align: justify;
	}

	blockquote {
		border-left: 5px solid rgb(211, 43, 14);
		margin: 0 0 1em 0;
		padding: 2em 1em;
	}

	figcaption {
		font-size: small;
		margin: 1em;
		padding: 1em;
	}

	.tes_head {
		padding: 1em;
		text-align: center;
		font-size: x-large;
		text-transform: uppercase;
		font-weight: bold;
	}

	/* media queries start here */
	@media (min-width: 36em) {
		main {
			margin: 0;
		}

		section {
			margin: 0;
		}
		/* section expand reach */
		.main_container {
			display: flex;
			flex-direction: row;
			margin-top: 2em;
			margin-bottom: 3em;
		}

		.elevate {
			display: flex;
			flex-flow: column;
			margin: 0;
			margin-right: 0.5em;
			text-align: left;
			line-height: 1.15;
			flex: 1.2;
			text-align: center;
		}

		.elevate > h1 {
			font-size: xx-large;
			padding: 0.5em;
		}

		.crafted {
			padding-left: 2em;
			padding-right: 2em;
			font-size: large;
		}

		.vector {
			flex: 1.2;
			margin: 1em;
			/* end of section expand reach */
		}

		.vector img {
			border-radius: 50%;
		}

		/* start of section whats in it */
		.init {
			text-align: center;
			text-transform: uppercase;
		}
		.sec_container {
			display: flex;
			flex-flow: row;
			padding: 1em;
		}

		.uvp {
			font-weight: bold;
			font-size: medium;
			line-height: 1.15;
			flex: 1;
		}

		.uvp ul {
			list-style: none;
		}

		.uvp > h2 {
			font-size: medium;
		}

		.uvp li:before {
			content: "";
			display: block;
			height: 1.28em;
			width: 2em;
			background-image: url(/checked.svg);
			background-size: contain;
			background-repeat: no-repeat;
		}

		.unordered li {
			display: flex;
			flex-flow: row;
			align-items: center;
			margin: 0.5em;
			padding: 0.5em;
		}

		.quote_button {
			display: flex;
			flex-flow: row;
			justify-content: center;
			flex: 1;
		}

		.quote {
			font-weight: bold;
			background-color: darkblue;
			color: antiquewhite;
			font-size: medium;
			margin: 0;
			padding: 0;
			width: 15em;
		}

		.button_about {
			margin: 2em;
			border: 1px solid blue;
			width: 9em;
			font-size: large;
			text-align: center;
		}

		.heading {
			margin: 0;
		}

		.intro_para {
			margin: 0;
			padding-left: 5em;
			padding-right: 5em;
			margin-bottom: 2em;
		}

		.set_apart {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: center;
			gap: 1em;
			margin-bottom: 3em;
		}

		.set_apart > div {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: 20em;
			font-weight: 600;
			font-size: medium;
		}

		.set_apart > div img {
			margin-bottom: 1em; /* Space between icon and text */
			width: 2em; /* Adjust based on your icon size */
			height: auto;
		}

		.serv_overview {
			text-align: center;
			font-size: x-large;
			text-transform: uppercase;
			margin-bottom: 2em;
		}

		.serv_ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around; /* Distributes space around items */
			align-items: center; /* Vertically centers items in their flex container */
			gap: 2em; /* Adds space between flex items */
		}

		.serv_ul > div {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: 10em; /* Adjust based on your preference */
			font-weight: 600;
			font-size: large;
		}

		.serv_ul > div img {
			margin-bottom: 1em; /* Space between icon and text */
			width: 3em; /* Adjust based on your icon size */
			height: auto;
		}

		.industry {
			text-align: center;
			font-size: x-large;
			text-transform: uppercase;
			margin-top: 3em;
		}

		.fields {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: center;
			gap: 2em;
			margin-top: 2em;
		}

		.fields > div {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: 15em; /* Adjust based on your preference */
			font-weight: 600;
			font-size: large;
		}

		.fields > div img {
			margin-bottom: 1em; /* Space between icon and text */
			width: 2em; /* Adjust based on your icon size */
			height: auto;
		}

		.tes_head {
			text-align: center;
			font-size: x-large;
			text-transform: uppercase;
			margin-top: 3em;
		}
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		let testimonials = document.querySelectorAll(".testimonial");
		let currentTestimonialIndex = 0;

		// Initially display the first testimonial
		(testimonials[currentTestimonialIndex] as HTMLElement).style.opacity =
			"1";
		testimonials[currentTestimonialIndex].classList.add("active");

		setInterval(function () {
			// Remove the active class and hide the current testimonial
			(
				testimonials[currentTestimonialIndex] as HTMLElement
			).style.opacity = "0";
			testimonials[currentTestimonialIndex].classList.remove("active");

			// Move to the next testimonial, or loop back to the first if at the end
			currentTestimonialIndex =
				(currentTestimonialIndex + 1) % testimonials.length;

			// Add the active class and display the next testimonial
			(
				testimonials[currentTestimonialIndex] as HTMLElement
			).style.opacity = "1";
			testimonials[currentTestimonialIndex].classList.add("active");
		}, 5000); // Change testimonial every 5 seconds
	});
</script>
