---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Professional English-Russian Translation Service	| Homepage";
const description =
	"EngRusTranslate provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
	<link slot="head" rel="preload" href="hero_image.svg" as="image" />
	<main>
		<section>
		
			<div class="main_container">
				<div class="one_container">
					<div class="elevate">
						<h1>We elevate your global reach with
							English to Russian translation services</h1>
							<p>Crafted by experts, powered by technology, delivered in a timely manner.</p>
					</div>

					<div class="uvp">
						<h2 class="init">What's in it for you?</h2>
						<ul class="unordered">
							<li>Bespoke Solutions</li>
							<li>Direct Expert Access</li>
							<li>Specialized Expertise</li>
							<li>Quality and Accuracy</li>
							<li>Timeliness and Reliability</li>
							<li>Confidentiality and security</li>
						</ul>
					</div>

					<div class="quote_button">
						<button class="quote" type="button"
							>Get Instant Quote</button
						>
					</div>
				</div>
				<div class="two_container"> 
				<div class="vector">
					<img
						src="hero_image.svg"
						alt="Vector illustration of elevating global reach for hero section"
						style="max-width: 100%; height: auto;"
					/>
				</div>
				</div>
			</div>
		</section>
	</main>
</BaseLayout>
