---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Professional English-Russian Translation Service	| Homepage";
const description =
	"EngRusTranslate provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
	<link slot="head" rel="preload" href="hero_image.svg" as="image" />
	<main>
		<section>
			<div class="main_container">
				<div class="one_container">
					<div class="elevate">
						<h1>
							Expand your global reach and increase sales
							with English to Russian professional translation services
						</h1>
						<p>
							Crafted by experts, powered by technology, delivered
							in a timely manner
						</p>
					</div>

					<div class="container">
						<div class="arrow"></div>
						<div class="arrow"></div>
						<div class="arrow"></div>
					</div>

					<div class="uvp">
						<h2 class="init">What's in it for you?</h2>
						<ul class="unordered">
							<li>Direct Expert Access</li>
							<li>Specialized Expertise</li>
							<li>Quality and Accuracy</li>
							<li>Timeliness and Reliability</li>
							<li>Confidentiality and Security</li>
						</ul>
					</div>

					<div class="container">
						<div class="arrow"></div>
						<div class="arrow"></div>
						<div class="arrow"></div>
					</div>

					<div class="quote_button">
						<button class="quote" type="button"
							>Get Instant Quote</button
						>
					</div>
				</div>
				<div class="two_container">
					<div class="vector">
						<img
							src="hero_image.svg"
							alt="Vector illustration of elevating global reach for hero section"
							style="max-width: 100%; height: auto;"
						/>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="set_apart">
				<div class="heading"><h2>What Sets Us Apart?</h2></div>
				<div class="intro_para">
					<h3>
						We are a small team of highly specialized translators
						dedicated to delivering value to our clients:
					</h3>
				</div>

				<div class="list_values">
					<ul class="ul_style">
						<li>
							Not an agency/translation mill. There are no
							middlemen. This ensures a direct line of
							communication and a clear understanding of your
							needs.
						</li>
						<li>
							Laser-focused specialization in only one language
							pair: English - Russian. This ensures unparalleled
							precision and cultural accuracy.
						</li>
						<li>
							Registered and Reliable: As a registered business,
							we prioritize confidentiality and security of your
							projects.
						</li>
						<li>
							Although based outside of Russia, we are native
							speakers of Russian and seasoned translators with
							over 15 years of professional experience.
						</li>
						<li>
							In-depth knowledge of our areas of expertise backed
							up by a proprietary collection of translation
							memories and term-bases.
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section>
			<div class="serv">
				<h2>Services Overview</h2>
				<ul class="serv_ul">
					<li class="serv-1">Translation</li>
					<li class="serv-2">Revision</li>
					<li class="serv-3">Proofreading</li>
					<li class="serv-4">Localization</li>
					<li class="serv-5">Translation Quality Assessment</li>
					<li class="serv-6">Terminology Research</li>
					<li class="serv-7">Transcription</li>
					<li class="serv-8">On-page SEO for Localized Websites</li>
					<li class="serv-9">Russian Language Tutoring</li>
				</ul>
			</div>
		</section>

		<section>
			<div class="fields">
				<h2>Industry Expertise</h2>
				<ul class="fields_exp">
					<li>Legal</li>
					<li>Marketing</li>
					<li>Business/ E-Commerce</li>
					<li>Finance/Taxes/ Accounting</li>
					<li>Investment/ Securities</li>
					<li>Blockchain and Cryptocurrency</li>
					<li>Government / Politics</li>
					<li>Information Technology</li>
				</ul>
			</div>
		</section>

		<div class="testimonials-wrapper">
			<h2 class="tes_head">Our Clients Say</h2>
			<section class="testimonials">
				<div class="testimonials_container">
					<div class="testimonial active">
						<img
							src="translated_srl.svg"
							alt="Praising professional translation services"
							class="tes-image-1"
						/>

						<figure>
							<blockquote
								cite="https://www.proz.com/feedback-card/803573"
							>
								<q
									>Pavel has worked with us as a professional
									freelance translator from EN to RU in
									various subject fields. Our team has had
									positive experiences from this
									collaboration, and Pavel has become a
									valuable member of our staff of freelance
									translators.</q
								>
							</blockquote>

							<figcaption>—TRANSLATED SRL</figcaption>
						</figure>
					</div>
				</div>
				<div class="testimonial">
					<img
						src="tlex.svg"
						alt="Praising professional translation services"
						class="tes-image-2"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q
								>We are very satisfied with the translations
								Pavel made for us and we'll continue working
								with him in the future.</q
							>
						</blockquote>
						<figcaption>—TLex</figcaption>
					</figure>
				</div>
				<div class="testimonial">
					<img
						src="motaword.svg"
						alt="Praising professional translation services"
						class="tes-image-3"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q>Yes!</q>
						</blockquote>
						<figcaption>—MotaWord</figcaption>
					</figure>
				</div>
				<!-- Add more testimonials as needed -->
			</section>
		</div>
	</main>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			let testimonials = document.querySelectorAll(".testimonial");
			let currentTestimonialIndex = 0;

			// Initially display the first testimonial
			(
				testimonials[currentTestimonialIndex] as HTMLElement
			).style.opacity = "1";
			testimonials[currentTestimonialIndex].classList.add("active");

			setInterval(function () {
				// Remove the active class and hide the current testimonial
				(
					testimonials[currentTestimonialIndex] as HTMLElement
				).style.opacity = "0";
				testimonials[currentTestimonialIndex].classList.remove(
					"active",
				);

				// Move to the next testimonial, or loop back to the first if at the end
				currentTestimonialIndex =
					(currentTestimonialIndex + 1) % testimonials.length;

				// Add the active class and display the next testimonial
				(
					testimonials[currentTestimonialIndex] as HTMLElement
				).style.opacity = "1";
				testimonials[currentTestimonialIndex].classList.add("active");
			}, 5000); // Change testimonial every 5 seconds
		});
	</script>
</BaseLayout>
