---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Professional English-Russian Translation Service	| Homepage";
const description =
	"EnRu Translations provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
	<!-- <link slot="head" rel="preload" href="hero_image.svg" as="image" /> -->
	<main>
		<section class="main_container">
			<div class="elevate">
				<h1>
					Expand your global reach with English to Russian
					professional translation
				</h1>
				<p class="crafted">
					Crafted by <strong>professional human translators</strong>,
					delivered in a timely manner
				</p>
			</div>

			<div class="vector">
				<img
					class="hero-image"
					src="/hero_image.svg"
					alt="Vector illustration of elevating global reach for hero section"
					loading="eager"
				/>
			</div>
		</section>

		<h2 class="init">Why us?</h2>

		<section class="sec_container">
			<div class="uvp">
				<ul class="unordered">
					<li>Direct Expert Access</li>
					<li>Specialized Expertise</li>
					<li>Quality and Accuracy</li>
					<li>Timeliness and Reliability</li>
					<li>Confidentiality and Security</li>
				</ul>
			</div>

			<div class="quote_button">
				<a href="/pricing/">
					<button class="quote" type="button"
						>Get Instant Quote</button
					>
				</a>
			</div>

			<div class="button_about">
				<a href="/about/">About us </a>
			</div>
		</section>

		<h2 class="heading">What Sets Us Apart?</h2>

		<h3 class="intro_para">
			We are a small team of highly specialized translators dedicated to
			delivering value to our clients:
		</h3>

		<section class="set_apart">
			<div class="not-agency">
				<img src="/setapart.svg" alt="checked svg" loading="lazy" />
				<p>
					<strong>Not an agency.</strong> There are no middlemen. This
					ensures a direct line of communication and a clear understanding
					of your needs.
				</p>
			</div>
			<div class="laser">
				<img src="/setapart.svg" alt="checked svg" loading="lazy" />
				<p>
					<strong>Laser-focused specialization</strong>
					in only one language pair: <strong>
						English - Russian</strong
					>. This ensures unparalleled precision and cultural
					accuracy.
				</p>
			</div>
			<div class="registr">
				<img src="/setapart.svg" alt="checked svg" loading="lazy" />
				<p>
					<strong>Registered and Reliable:</strong>
					As a registered business, we prioritize confidentiality and security
					of your projects.
				</p>
			</div>
			<div class="native">
				<img src="/setapart.svg" alt="checked svg" loading="lazy" />
				<p>
					We are <strong> native speakers of Russian</strong> and certified
					linguists based in Serbia and seasoned translators with over
					15 years of professional experience.
				</p>
			</div>
			<div class="in-depth">
				<img src="/setapart.svg" alt="checked svg" loading="lazy" />
				<p>
					<strong>In-depth knowledge</strong> of our areas of expertise
					backed up by a proprietary collection of translation memories
					and termbases.
				</p>
			</div>

			<div class="human">
				<img src="/setapart.svg" alt="checked svg" loading="lazy" />
				<p>
					We commit to <strong>100% human translation</strong> to ensure
					precision, cultural fidelity, and contextual accuracy in every
					project. Why? <a
						href="https://www.quora.com/What-are-the-differences-between-machine-translation-and-human-translation-in-terms-of-accuracy-fluency-etc"
						>Read on.</a
					>
				</p>
			</div>
		</section>

		<section>
			<h2 class="serv_overview">Services Overview</h2>

			<div class="serv_ul">
				<div class="serv-1">
					<img
						src="/translation.svg"
						alt="Translation icon"
						loading="lazy"
					/>Translation
				</div>
				<div class="serv-2">
					<img
						src="/revision.svg"
						alt="Revision icon"
						loading="lazy"
					/>Revision
				</div>
				<div class="serv-3">
					<img
						src="/edit.svg"
						alt="Proofreading icon"
						loading="lazy"
					/>Proofreading
				</div>
				<div class="serv-4">
					<img
						src="/localization.svg"
						alt="Localization icon"
						loading="lazy"
					/>Localization
				</div>
				<div class="serv-5">
					<img
						src="/quality.svg"
						alt="Translation QA icon"
						loading="lazy"
					/>Translation Quality Assessment
				</div>

				<div class="serv-6">
					<img
						src="/tutor.svg"
						alt="Tutoring icon"
						loading="lazy"
					/>Russian Language Tutoring
				</div>
			</div>
			<div class="align_button">
				<div class="button_serv">
					<a href="/services/">Learn more </a>
				</div>
			</div>
		</section>

		<h2 class="industry">Industry Expertise</h2>

		<section class="fields">
			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
				/>Legal
			</div>

			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
				/>Marketing
			</div>

			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
				/>Business/E-Commerce
			</div>

			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
				/>Finance
			</div>

			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
				/>Investment/Securities
			</div>

			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
				/>Blockchain and Cryptocurrency
			</div>

			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
				/>Government/Politics
			</div>

			<div>
				<img
					src="/checked1.svg"
					alt="check-tick svg"
					loading="lazy"
				/>Information Technology
			</div>
		</section>

		<h2 class="tes_head">Our Clients Say</h2>
		<p class="feedback-card">
			You can also view the original testimonials on <a
				href="https://www.proz.com/feedback-card/803573">Proz.com</a
			>, a platform independent of our website.
		</p>

		<div class="testimonials-wrapper">
			<section class="testimonials">
				<div class="testimonials_container">
					<div class="testimonial active">
						<img
							src="/translated_srl.svg"
							alt="Praising professional translation services"
							class="tes-image-1"
						/>

						<figure>
							<blockquote
								cite="https://www.proz.com/feedback-card/803573"
							>
								<q
									>Pavel has worked with us as a professional
									freelance translator from EN to RU in
									various subject fields. Our team has had
									positive experiences from this
									collaboration, and Pavel has become a
									valuable member of our staff of freelance
									translators.</q
								>
							</blockquote>

							<figcaption>—TRANSLATED SRL</figcaption>
						</figure>
					</div>
				</div>
				<div class="testimonial">
					<img
						src="/tlex.svg"
						alt="Praising professional translation services"
						class="tes-image-2"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q
								>We are very satisfied with the translations
								Pavel made for us and we'll continue working
								with him in the future.</q
							>
						</blockquote>
						<figcaption>—TLex</figcaption>
					</figure>
				</div>
				<div class="testimonial">
					<img
						src="/motaword.svg"
						alt="Praising professional translation services"
						class="tes-image-3"
					/>

					<figure>
						<blockquote
							cite="https://www.proz.com/feedback-card/803573"
						>
							<q>Yes!</q>
						</blockquote>
						<figcaption>—MotaWord</figcaption>
					</figure>
				</div>
				<!-- Add more testimonials as needed -->
				<p></p>
			</section>
			<p class="disclaimer">
				Understandably, many of our clients prefer confidentiality and
				choose not to have their names published on any public resource.
				We respect this choice and adhere strictly to Non-Disclosure
				Agreements (NDAs). Therefore, we only publish testimonials with
				explicit consent from our clients, and will never do so in the
				absence of such consent.
			</p>
		</div>
		<form class="top" action="#top">
			<button class="top1" type="submit">Back to Top</button>
		</form>
	</main>
</BaseLayout>

<style>
	.main_container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.elevate {
		margin: 1em;
		padding: 0.5em;
		text-align: center;
		font-size: large;
		line-height: 1.15;
	}

	.elevate > h1 {
		font-size: xx-large;
		padding: 0.5em;
	}

	.crafted {
		padding-left: 2em;
		padding-right: 2em;
		font-size: large;
	}

	.vector {
		margin-top: 2em;
		margin-bottom: 2em;
		width: 90%;
	}

	.vector img {
		border-radius: 30%;
		width: 100%;
	}

	.init {
		text-align: center;
		text-transform: uppercase;
	}

	.sec_container {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.uvp {
		font-weight: bold;
		font-size: large;
		line-height: 1.15;
	}

	.uvp ul {
		list-style: none;
	}

	.uvp li:before {
		content: "";
		display: flex;
		height: 1em;
		width: 1em;
		background-image: url(/checklist.svg);
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0.3em;
	}

	.unordered li {
		display: flex;
		flex-flow: row;
		align-items: center;
		/* margin: 0.5em; */
		padding: 0.5em;
		/* margin-right: 1em; */
	}

	.quote_button {
		border: 2px ridge;
		border-image: linear-gradient(#fde68a, #fca5a5) 30;
		margin: 0.5em;
		padding: 0.5em;
	}

	.quote {
		font-weight: bold;
		background-color: darkblue;
		color: antiquewhite;
		font-size: large;
	}

	.button_about {
		margin: 1em;
		border: 1px solid blue;
		width: 9em;
		font-size: large;
		text-align: center;
	}

	/*next section  */

	.heading {
		display: flex;
		flex-flow: column;
		padding: 0.5em;
		line-height: 2em;
		font-size: x-large;
		text-transform: uppercase;
		text-align: center;
	}

	.intro_para {
		margin: 1em;
		padding: 0.5em;
		font-weight: bold;
		text-align: center;
		line-height: 2em;
		font-size: large;
	}

	.set_apart {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 2em;
	}

	.set_apart > div {
		text-align: center;
		font-weight: 600;
		font-size: large;
		padding: 2em;
	}

	.set_apart > div img {
		margin-bottom: 1em;
		width: 2em;
	}

	.serv_overview {
		text-align: center;
		font-size: x-large;
		text-transform: uppercase;
	}

	.serv_ul {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}

	.serv_ul > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
		font-size: large;
		padding: 1em;
	}

	.serv_ul > div img {
		margin-bottom: 1em;
		width: 3em;
	}

	.align_button {
		display: flex;
		flex-flow: row;
		justify-content: center;
	}

	.button_serv {
		margin: 2em;
		border: 1px solid blue;
		width: 30%;
		text-align: center;
	}

	.industry {
		text-align: center;
		font-size: x-large;
		text-transform: uppercase;
		margin-top: 3em;
	}

	.fields {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
		margin-bottom: 3em;
	}

	.fields > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-weight: 600;
		font-size: large;
	}

	.fields > div img {
		margin-bottom: 1em;
		width: 2em;
	}

	.testimonials {
		width: 18em;
		/* Responsive width */
		margin: 2rem auto;
		/* Responsive vertical margin */
		/* padding: 1rem; */
		/* Responsive padding */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		position: relative;
		border-radius: 10px;
		/* Adds rounded corners */
		background: #f9f9f9;
		/* Light background color */
	}

	.testimonials_container {
		position: relative;
	}

	.testimonial {
		display: none;
		/* Initially hides all testimonials */
		text-align: center;
		/* Centers the text */
		/* padding: 1rem; */
		/* Responsive padding */
		font-size: 1rem;
		/* Base font size */
	}

	.testimonial.active {
		display: block;
		/* Only the active testimonial is displayed */
		opacity: 0;
		/* Start with the testimonial being invisible */
		transition: opacity 1s ease-in-out;
		/* Smooth transition for the opacity */
		font-size: 1.1rem;
		/* Slightly larger font for active testimonial */
	}

	/* Responsive adjustments */
	@media (min-width: 36em) and (max-width: 50em) {
		.testimonial {
			font-size: 1.2rem;
			/* Larger font size on tablets and above */
		}
	}

	.tes-image-1 {
		width: 50%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	.tes-image-2 {
		width: 30%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	.tes-image-3 {
		width: 30%;
		/* Fills the container width */
		height: auto;
		/* Adjusts height automatically */
	}

	blockquote {
		font-size: small;
		font-weight: 500;
		text-align: justify;
	}

	blockquote {
		border-left: 5px solid darkblue;
		margin: 0 0 1em 0;
		padding: 2em 1em;
	}

	figcaption {
		font-size: small;
		margin: 1em;
		padding: 1em;
	}

	.tes_head {
		padding: 1em;
		text-align: center;
		font-size: x-large;
		text-transform: uppercase;
		font-weight: bold;
	}

	.disclaimer {
		font-size: small;
		padding: 2em;
		margin: 2em;
		text-align: justify;
	}

	.feedback-card {
		font-size: small;
		padding: 2em;
		margin: 2em;
		text-align: center;
	}

	.top {
		text-align: center;
		margin: 1em;
	}

	.top1 {
		background-color: rgb(8, 20, 187);
		color: #f9f9f9;
		font-weight: 600;
	}

	/* media queries start here */
	@media (min-width: 36em) {
		main {
			margin: 0;
		}

		section {
			margin: 0;
		}
		/* section expand reach */
		.main_container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 3em;
			padding: 1em;
		}

		.elevate {
			display: flex;
			flex-flow: column;
			align-items: center;
			margin-right: 0.5em;
			line-height: 1.15;
			max-width: 50em;
		}

		.elevate > h1 {
			font-size: xx-large;
			padding: 0.5em;
		}

		.crafted {
			padding-left: 2em;
			padding-right: 2em;
			font-size: large;
		}

		.vector {
			padding: 0.5em;
			margin-left: 1.8em;
			max-width: 50em;
		}

		.vector img {
			border-radius: 30%;
			width: 100%;
		}

		/* start of section whats in it */
		.init {
			text-align: center;
			text-transform: uppercase;
		}
		.sec_container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin: 0.5em;
		}

		.unordered {
			grid-column: 1/2;
			grid-row: 1/2;
		}

		.quote_button {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		.button_about {
			grid-column: 3/4;
			grid-row: 1/2;
		}

		.uvp {
			font-weight: bold;
			font-size: medium;
			line-height: 1.15;
			flex: 1;
		}

		.uvp ul {
			list-style: none;
		}

		.uvp > h2 {
			font-size: medium;
		}

		.uvp li:before {
			content: "";
			display: block;
			height: 1.28em;
			width: 2em;
			background-image: url(/checklist.svg);
			background-size: contain;
			background-repeat: no-repeat;
		}

		.quote_button {
			display: flex;
			flex-flow: row;
			justify-content: center;
		}

		.quote {
			font-weight: bold;
			background-color: darkblue;
			color: antiquewhite;
			font-size: medium;
			margin: 0;
			padding: 0;
			width: 15em;
		}

		.button_about {
			margin: 2em;
			border: 1px solid blue;
			width: 9em;
			font-size: large;
			text-align: center;
		}

		.heading {
			margin: 0;
		}

		.intro_para {
			margin: 0;
			padding-left: 5em;
			padding-right: 5em;
			margin-bottom: 2em;
		}

		.set_apart {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 0.5em;
		}

		.not-agency {
			grid-column: 1/2;
			grid-row: 1/2;
			height: 100%;
		}
		.laser {
			grid-column: 2/3;
			grid-row: 1/2;
			height: 100%;
		}

		.registr {
			grid-column: 3/4;
			grid-row: 1/2;
			height: 100%;
		}

		.native {
			grid-column: 1/2;
			grid-row: 2/3;
			height: 100%;
		}

		.in-depth {
			grid-column: 2/3;
			grid-row: 2/3;
			height: 100%;
		}

		.human {
			height: 100%;
		}

		.set_apart > div img {
			width: 1.5em;
		}

		.serv_overview {
			text-align: center;
			font-size: x-large;
			text-transform: uppercase;
			margin-bottom: 2em;
		}

		.serv_ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 0.5em;
		}

		.serv-1 {
			grid-column: 1/2;
			grid-row: 1/2;
			height: 100%;
		}

		.serv-2 {
			grid-column: 2/3;
			grid-row: 1/2;
			height: 100%;
		}

		.serv-3 {
			grid-column: 3/4;
			grid-row: 1/2;
			height: 100%;
		}

		.serv-4 {
			grid-column: 1/2;
			grid-row: 2/3;
			height: 100%;
		}

		.serv-5 {
			grid-column: 2/3;
			grid-row: 2/3;
			height: 100%;
		}
		.serv-6 {
			grid-column: 3/4;
			grid-row: 2/3;
			height: 100%;
		}

		.serv_ul > div img {
			margin-bottom: 1em; /* Space between icon and text */
			width: 3em; /* Adjust based on your icon size */
		}

		.align_button {
			display: flex;
			flex-flow: row;
			justify-content: center;
		}

		.button_serv {
			margin: 2em;
			border: 1px solid blue;
			width: 15%;
			text-align: center;
		}

		.industry {
			text-align: center;
			font-size: x-large;
			text-transform: uppercase;
			margin-top: 3em;
		}

		.fields {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 1.3em;
		}

		.fields > div img {
			margin-bottom: 1em;
			width: 2em;
		}

		.tes_head {
			text-align: center;
			font-size: x-large;
			text-transform: uppercase;
			margin-top: 3em;
		}

		.disclaimer {
			font-size: small;
			padding: 2em;
			margin: 1em;
			text-align: justify;
		}

		.feedback-card {
			font-size: small;
			padding: 1em;
			margin: 1em;
			text-align: center;
		}
		.top {
			text-align: center;
			margin: 1em;
		}

		.top1 {
			background-color: rgb(8, 20, 187);
			color: #f9f9f9;
			font-weight: 600;
		}
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		let testimonials = document.querySelectorAll(".testimonial");
		let currentTestimonialIndex = 0;

		// Initially display the first testimonial
		(testimonials[currentTestimonialIndex] as HTMLElement).style.opacity =
			"1";
		testimonials[currentTestimonialIndex].classList.add("active");

		setInterval(function () {
			// Remove the active class and hide the current testimonial
			(
				testimonials[currentTestimonialIndex] as HTMLElement
			).style.opacity = "0";
			testimonials[currentTestimonialIndex].classList.remove("active");

			// Move to the next testimonial, or loop back to the first if at the end
			currentTestimonialIndex =
				(currentTestimonialIndex + 1) % testimonials.length;

			// Add the active class and display the next testimonial
			(
				testimonials[currentTestimonialIndex] as HTMLElement
			).style.opacity = "1";
			testimonials[currentTestimonialIndex].classList.add("active");
		}, 5000); // Change testimonial every 5 seconds
	});
</script>
