---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Professional English-Russian Translation Service	| Homepage";
const description =
    "EngRusTranslate provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
    <div class="all-contain">
        <header class="choose-service">
            <h1>Choose the perfect translation service to meet your needs</h1>
            <p>
                Explore our tiered services designed to cater to all content
                types, from basic communications to complex, SEO-driven content.
                The specified <strong>
                    prices are fixed and will not change during the project</strong
                >, allowing you to plan your budget with confidence.
            </p>
        </header>

        <main>
            <section class="pricing-tier1">
                <div class="basic">
                    <h3>BASIC</h3>
                </div>
                <p class="price1">€0.08</p>
                <span class="word1"><sub>/word</sub></span>
                <div class="bestfor1">
                    <p>
                        Best for non-critical, everyday content where basic
                        correctness and readability are sufficient:
                    </p>
                </div>
                <div class="best-list1">
                    <p>Internal communication</p>
                    <p>Social media posts</p>
                    <p>User reviews</p>
                    <p>Emails and letters</p>
                    <p>General subject texts</p>
                </div>

                <div class="services1">
                    <h4>Services include:</h4>
                    <p>Professional translation</p>
                    <p>Proofreading (by a translator)</p>
                    <p>Computer-assisted quality assurance</p>
                </div>
                <div class="cta-b1">
                    <button class="cta-button1">ORDER NOW</button>
                </div>

                <div class="after-delivery">
                    <p class="pay">Pay after delivery</p>
                    <p>
                        We trust you: feel free to pay within 5 days from
                        delivery via bank transfer, PayPal or Payoneer.
                        <a href="">Learn more</a>
                    </p>
                </div>
            </section>

            <section class="pricing-tier2">
                <div class="business">
                    <h3>BUSINESS</h3>
                </div>
                <p class="price2">€0.10</p>
                <span class="word2"><sub>/word</sub></span>
                <div class="bestfor2">
                    <p>Ideal for professional-grade content:</p>
                </div>
                <div class="best-list2">
                    <p>Business presentations</p>
                    <p>Reports</p>
                    <p>Mobile apps</p>
                    <p>Website localization (without SEO translation)</p>
                    <p>
                        Legal, financial, marketing, investment-related
                        documents
                    </p>
                </div>

                <div class="services2">
                    <h4>Services include:</h4>
                    <p>
                        Professional translation with industry-specific
                        terminology
                    </p>
                    <p>Proofreading by specialized linguists</p>
                    <p>Computer-assisted quality assurance</p>
                    <p>Desktop publishing and formatting</p>
                </div>
                <div class="cta-b2">
                    <button class="cta-button2">ORDER NOW</button>
                </div>
                <div class="after-delivery">
                    <p class="pay">Pay after delivery</p>
                    <p>
                        We trust you: feel free to pay within 5 days from
                        delivery via bank transfer, PayPal or Payoneer.
                        <a href="">Learn more</a>
                    </p>
                </div>
            </section>

            <section class="pricing-tier3">
                <div class="exclu">
                    <h3>EXCLUSIVE</h3>
                </div>
                <p class="price3">€0.12</p>
                <span class="word3"><sub>/word</sub></span>
                <div class="bestfor3">
                    <p>
                        Ideal for content that requires SEO translation and
                        keyword research to maximize online visibility:
                    </p>
                </div>
                <div class="best-list3">
                    <p>Websites, landing pages, blogs, and online articles</p>
                    <p>Online PR articles</p>
                </div>

                <div class="services3">
                    <h4>Services include:</h4>
                    <p>On-page SEO to enhance online visibility</p>
                    <p>Expert translation</p>
                    <p>Rigorous proofreading</p>
                    <p>Precision quality assurance process</p>
                </div>
                <div class="cta-b3">
                    <button class="cta-button3">ORDER NOW</button>
                </div>

                <div class="after-delivery">
                    <p class="pay">Pay after delivery</p>
                    <p>
                        We trust you: feel free to pay within 5 days from
                        delivery via bank transfer, PayPal or Payoneer.
                        <a href="">Learn more</a>
                    </p>
                </div>
            </section>
        </main>

        <aside>
            <div class="satisf">
                <img src="/cup.svg" alt="cup svg" />
                <h3>Guaranteed Quality</h3>
                <p>
                    We handle every project with meticulous care. Each
                    translation undergoes a quality check to ensure it meets the
                    highest standards of accuracy. If you're not completely
                    satisfied, we'll revise it for free until it perfectly
                    aligns with your needs.
                </p>
            </div>

            <div class="satisf">
                <img src="/delivery.svg" alt="delivery svg" />
                <h3>On-Time Delivery</h3>
                <p>
                    We pride ourselves on our efficient workflow, which ensures
                    that over 99.9% of our translations are delivered on time.
                    In the rare event that we do miss a deadline, we will refund
                    the full cost of your translation.
                </p>
            </div>

            <div class="satisf">
                <img src="/handshake.svg" alt="handshake svg" />
                <h3>Pay After Delivery</h3>
                <p>
                    Our 'Pay After Delivery' model reflects our trust and
                    commitment. You can pay within five days of the
                    translation's delivery via bank transfer, Paypal or
                    Payoneer.
                </p>
            </div>
            <div class="process-h2"><h2>OUR PROCESS</h2></div>

            <div class="proc-container">
                <div class="process">
                    <img src="/start.svg" alt="start svg" />
                    <h3>Project Initiation</h3>
                    <p>
                        You reach out with your translation needs. We respond to
                        gather all necessary details, including document types,
                        target languages, and desired turnaround times. You also
                        provide any other special requirements you want us to
                        adhere to (glossaries, style guides, if any).
                    </p>
                </div>

                <div class="process">
                    <img src="/teamwork.svg" alt="work svg" />
                    <h3>Translation Process</h3>
                    <p>
                        We work diligently to render your documents accurately
                        in the Russian language. The translation undergoes a
                        series of reviews and revisions to correct any nuances
                        and ensure the translation meets the specific industry
                        and cultural standards. We perform final quality
                        assurance checks to ensure top-quality, error-free
                        deliverables.
                    </p>
                </div>

                <div class="process">
                    <img src="/delivery.svg" alt="delivery svg" />
                    <h3>Delivery</h3>
                    <p>
                        The completed translation is delivered to you via your
                        chosen method. You review the deliverable and provide
                        feedback. If revisions are required, we promptly make
                        the necessary adjustments and resend the revised
                        document at no additional cost.
                    </p>
                </div>

                <div class="process">
                    <img src="/finish.svg" alt="finish svg" />
                    <h3>Project Completion</h3>
                    <p>
                        Once you are fully satisfied with the translations, the
                        project is considered complete. We appreciate and
                        welcome your feedback to continuously improve our
                        services. We are just an email or phone call away.
                    </p>
                </div>
            </div>
        </aside>
    </div>

    <form class="top" action="#top">
        <button class="top1" type="submit">Back to Top</button>
    </form>
</BaseLayout>

<style>
    .all-contain {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        width: 100%;
    }

    .choose-service {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        width: 100%;
        text-align: center;
    }
    /* 1st tier card */
    .pricing-tier1 {
        display: flex;
        flex-flow: column;
        align-items: center;
        /* padding: 0.5em; */
        margin: 1em;
        background-color: white;
        border: 1px solid rgb(0, 255, 200);
        border-radius: 3%;
    }

    .basic {
        background-color: darkcyan;
        margin-top: 2em;
        width: 50%;
        text-align: center;
        border-radius: 5%;
        color: white;
    }

    .price1 {
        font-size: 3em;
        color: cornflowerblue;
        margin-bottom: 0;
    }

    .bestfor1 {
        text-align: center;
        background-color: azure;
        font-weight: 500;
        margin-top: 2em;
        padding: 1em;
        width: 100%;
    }

    .word1 {
        color: cornflowerblue;
    }

    .best-list1 {
        background-color: aliceblue;
        width: 100%;
        text-align: center;
        font-size: small;
        font-weight: 500;
    }

    .services1 {
        background-color: rgb(213, 233, 249);
        width: 100%;
        text-align: center;
        font-size: smaller;
        font-weight: 500;
    }

    .cta-b1 {
        margin-top: 2em;
        width: 100%;
        text-align: center;
    }

    .cta-button1 {
        background-color: snow;
        font-weight: 600;
        width: 50%;
        border: 1px solid rgb(0, 255, 200);
        border-radius: 3%;
        padding: 0.5em;
        font-size: medium;
    }

    /* 2nd tier card */

    .pricing-tier2 {
        display: flex;
        flex-flow: column;
        align-items: center;
        /* padding: 0.5em; */
        margin: 1em;
        background-color: white;
        border: 1px solid rgb(0, 255, 200);
        border-radius: 3%;
    }

    .business {
        background-color: royalblue;
        margin-top: 2em;
        width: 50%;
        text-align: center;
        border-radius: 5%;
        color: azure;
    }

    .price2 {
        font-size: 3em;
        color: cornflowerblue;
        margin-bottom: 0;
    }

    .bestfor2 {
        text-align: center;
        background-color: azure;
        font-weight: 500;
        margin-top: 2em;
        padding: 1em;
        width: 100%;
    }

    .word2 {
        color: cornflowerblue;
    }

    .best-list2 {
        background-color: aliceblue;
        width: 100%;
        text-align: center;
        font-size: small;
        font-weight: 500;
    }

    .services2 {
        background-color: rgb(213, 233, 249);
        width: 100%;
        text-align: center;
        font-size: smaller;
        font-weight: 500;
    }

    .cta-b2 {
        margin-top: 2em;
        width: 100%;
        text-align: center;
    }

    .cta-button2 {
        background-color: snow;
        font-weight: 600;
        width: 50%;
        border: 1px solid rgb(0, 255, 200);
        border-radius: 3%;
        padding: 0.5em;
        font-size: medium;
    }

    /* 3rd tier card */

    .pricing-tier3 {
        display: flex;
        flex-flow: column;
        align-items: center;
        /* padding: 0.5em; */
        margin: 1em;
        background-color: white;
        border: 1px solid rgb(0, 255, 200);
        border-radius: 3%;
    }

    .exclu {
        background-color: rgb(10, 47, 158);
        margin-top: 2em;
        width: 50%;
        text-align: center;
        border-radius: 5%;
        color: azure;
    }

    .price3 {
        font-size: 3em;
        color: cornflowerblue;
        margin-bottom: 0;
    }

    .bestfor3 {
        text-align: center;
        background-color: azure;
        font-weight: 500;
        margin-top: 2em;
        padding: 1em;
        width: 100%;
    }

    .word3 {
        color: cornflowerblue;
    }

    .best-list3 {
        background-color: aliceblue;
        width: 100%;
        text-align: center;
        font-size: small;
        font-weight: 500;
    }

    .services3 {
        background-color: rgb(213, 233, 249);
        width: 100%;
        text-align: center;
        font-size: smaller;
        font-weight: 500;
    }

    .cta-b3 {
        margin-top: 2em;
        width: 100%;
        text-align: center;
    }

    .cta-button3 {
        background-color: snow;
        font-weight: 600;
        width: 50%;
        border: 1px solid rgb(0, 255, 200);
        border-radius: 3%;
        padding: 0.5em;
        font-size: medium;
    }

    .after-delivery {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 2em;
        font-size: smaller;
    }

    .pay {
        background-color: rgb(201, 244, 201);
        color: green;
        font-weight: 600;
        width: 50%;
        text-align: center;
        border-radius: 10%;
        margin-bottom: 0;
    }

    .satisf {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: justify;
        padding: 2em;
    }

    img {
        width: 2em;
    }

    .process-h2 {
        text-align: center;
    }

    .process {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: justify;
        padding: 2em;
    }

    .top {
        text-align: center;
        margin: 1em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }

    /* Media queries for larger layout */
    @media (min-width: 36em) {
        .all-contain {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            width: 100%;
        }

        header {
            grid-column: 1/3;
            grid-row: 1/2;
        }

        main {
            grid-column: 2/3;
        }

        aside {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

    @media (min-width: 62em) {
        .all-contain {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            width: 100%;
        }

        header {
            grid-column: 1/4;
            grid-row: 1/2;
        }

        main {
            grid-column: 1/4;
            grid-row: 2/3;
        }

        aside {
            grid-column: 1/4;
            grid-row: 3/5;
        }

        main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        aside {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto auto 1fr;
        }

        .process-h2 {
            grid-column: 1/4;
            grid-row: 2/3;
        }

        .proc-container {
            grid-column: 1/4;
            grid-row: 3/4;
        }

        .proc-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .bestfor1 {
            height: 96px;
        }
        .bestfor2 {
            height: 96px;
        }

        .bestfor3 {
            height: 96px;
        }

        .best-list1 {
            height: 170px;
        }
        .best-list2 {
            height: 170px;
        }

        .best-list3 {
            height: 170px;
        }

        .services1 {
            height: 170px;
        }

        .services2 {
            height: 170px;
        }
        .services3 {
            height: 170px;
        }
    }
</style>
