---
import BaseLayout from "../layouts/BaseLayout.astro";

const title =
    "Privacy Policy | We care for your privacy";
const description =
    "Read about EnRu Translations' privacy policy for handling your personal data.";
const url = "https://enrutransl.com/privacy/";
---

<BaseLayout description={description} title={title} url={url}>
    <!-- <link slot="head" rel="preload" href="hero_image.svg" as="image" /> -->
    <main>
        <section class="tos-section-head">
            <h1>Privacy Policy</h1>
        </section>

        <section class="tos-section">
            <p>
                We appreciate your interest in EnRu Translations. Our website
                can generally be accessed without providing personal
                information. However, certain services may require the
                processing of personal data. If there is no legal basis for this
                processing, we will seek explicit consent from the individual
                concerned.
            </p>
            <p>
                Our handling of personal data, such as names and email
                addresses, is conducted in strict compliance with the General
                Data Protection Regulation (GDPR). This privacy policy aims to
                transparently inform you about the types of personal data we
                collect, the extent and purpose of its processing, and the
                rights available to you as a data subject.
            </p>
            <p>
                EnRu Translations as a data controller has implemented robust
                technical and organizational measures designed to secure
                personal data processed through this website to the highest
                degree possible. Despite the inherent risks associated with
                internet-based data transmission, we strive to protect your
                data. Alternatively, for enhanced security, data subjects may
                choose to transmit personal data via messaging services with
                end-to-end encryption, such as WhatsApp, Telegram (secret chat
                option only), or Signal.
            </p>
        </section>

        <section class="tos-section">
            <h3>1. Definitions</h3>
            <p>
                This data protection declaration by EnRu Translations is aligned
                with the terminology adopted by the European legislator for the
                General Data Protection Regulation (GDPR). The aim is to ensure
                clarity and accessibility of this declaration for the general
                public, clients, and business partners. Below we explain the key
                terms used:
            </p>
            <p>
                a) <strong>Personal Data:</strong> This refers to any information
                relating to an identified or identifiable natural person (the "data
                subject"). An identifiable person is one who can be identified, directly
                or indirectly, through identifiers such as a name, identification
                number, location data, an online identifier, or one or more factors
                specific to the physical, physiological, genetic, mental, economic,
                cultural, or social identity of that person.
            </p>
            <p>
                b) <strong>Data Subject:</strong> Any identified or identifiable
                natural person whose personal data is processed by the controller.
            </p>
            <p>
                c) <strong> Processing:</strong> This includes any operation or set
                of operations which is performed on personal data or on sets of personal
                data, whether or not by automated means, such as collection, recording,
                organization, structuring, storage, adaptation or alteration, retrieval,
                consultation, use, disclosure by transmission, dissemination or otherwise
                making available, alignment or combination, restriction, erasure,
                or destruction.
            </p>
            <p>
                d) <strong> Restriction of Processing:</strong> This entails marking
                stored personal data with the aim of limiting their processing in
                the future.
            </p>
            <p>
                e) <strong> Pseudonymisation:</strong> The processing of personal
                data in such a manner that the personal data can no longer be attributed
                to a specific data subject without the use of additional information,
                provided that such additional information is kept separately and
                is subject to technical and organizational measures to ensure that
                the personal data are not attributed to an identified or identifiable
                natural person.
            </p>
            <p>
                f) <strong> Controller:</strong> The natural or legal person, public
                authority, agency, or other body which, alone or jointly with others,
                determines the purposes and means of the processing of personal data.
            </p>
            <p>
                g) <strong> Processor:</strong> A natural or legal person, public
                authority, agency, or other body that processes personal data on
                behalf of the controller.
            </p>
            <p>
                h) <strong> Recipient:</strong> A natural or legal person, public
                authority, agency, or another body, to which the personal data are
                disclosed, whether a third party or not. However, public authorities
                that may receive personal data in the framework of a particular inquiry
                by law shall not be regarded as recipients.
            </p>
            <p>
                i) <strong> Third Party:</strong> A natural or legal person, public
                authority, agency, or body other than the data subject, controller,
                processor, or persons who, under the direct authority of the controller
                or processor, are authorized to process personal data.
            </p>
            <p>
                j) <strong> Consent:</strong> Any freely given, specific, informed,
                and unambiguous indication of the data subject’s wishes by which
                he or she, through a statement or a clear affirmative action, signifies
                agreement to the processing of personal data relating to him or her.
            </p>
        </section>

        <section class="tos-section">
            <h3>2. Name and Address of the controller</h3>
            <p>
                Controller for the purposes of the General Data Protection
                Regulation (GDPR) is:
            </p>
            <p>EnRu Translations</p>
            <p>2 Mite Ružića</p>
            <p>Novi Sad 21000</p>
            <p>Serbia</p>
            <p>Phone: <a href="tel:+381616323368">+381616323368</a></p>
            <p>
                Email: <a href="mailto:info@enrutransl.com"
                    >info@enrutransl.com</a
                >
            </p>
            <p>
                Website: <a href="https://enrutransl.com/"
                    >https://enrutransl.com/</a>
            </p>
        </section>

        <section class="tos-section">
            <h3>3. Collection of general data and information</h3>
            <p>
                EnRu Translations employs Google Analytics 4 (GA4) and may use
                Google Ads to analyze and enhance website traffic and user
                interactions. The website functions solely on the front-end,
                meaning it does not collect or store server logs, nor does it
                directly process sensitive personal data such as IP addresses or
                browser specifics.
            </p>
            <p>
                Importantly, Google Analytics 4 aggregates data and does not
                capture or retain any individualized information. This method of
                data collection is designed to evaluate user behavior broadly,
                ensuring anonymity and compliance with data protection
                standards.
            </p>
            <p>
                Personal data submitted via JotForm are handled in accordance
                with the General Data Protection Regulation (GDPR) and other
                relevant data protection laws under rigorous data protection
                protocols. This ensures responsible and transparent management
                of data. Our website operates on a frontend-only basis and does
                not have servers to store any personal data; instead, all
                personal data processed through our site are managed by
                reputable third-party services (Google Analytics, Google Ads,
                and JotForm). These third-party services adhere to strict data
                protection and security standards to maintain the highest level
                of protection and security for the processed data.
            </p>
        </section>

        <section class="tos-section">
            <h3>4. Contact Possibility via the Website</h3>
            <p>
                The website of EnRu Translations offers several methods for
                electronic contact and direct communication, including an email
                address and end-to-end encrypted messaging platforms such as
                WhatsApp, Telegram (secret chat option only), and Signal.
                Additionally, a JotForm-powered contact form is available for
                structured submissions. When the data subject uses the JotForm
                contact form, the personal data provided are automatically
                stored. This includes required fields such as names and email
                addresses, as well as optional fields like company names,
                messages, or project details, which are voluntarily provided by
                the data subject. These data are retained exclusively for
                processing the inquiry or maintaining communication with the
                data subject.
            </p>
            <p>
                Please note that while JotForm, our data processing partner,
                manages the data from the contact form, we do not transfer
                personal data to other third parties. For contacts made through
                email, WhatsApp, Telegram, or Signal, the data are used solely
                for the purpose of responding to the communication initiated by
                the data subject with storage practices governed by the
                respective platforms' privacy policies.
            </p>
        </section>
        <section class="tos-section">
            <h3>5. Erasure and Blocking of Personal Data</h3>
            <p>
                The data controller processes and stores the personal data of
                the data subject only for the time necessary to achieve the
                purpose for which the data are stored, or as required by the
                European legislator or other relevant authorities through laws
                or regulations to which the controller is subject. If the
                purpose for storing the data ceases to apply, or if a storage
                period prescribed by the European legislator or another
                competent authority expires, the personal data will be routinely
                blocked or erased in accordance with legal requirements. This
                practice ensures that personal data are not retained longer than
                necessary and are handled in compliance with applicable data
                protection laws.
            </p>
        </section>
        <section class="tos-section">
            <h3>6. Rights of the Data Subject</h3>
            <strong> <p>Right to Erasure (Right to be Forgotten)</p></strong>
            <p>
                Every data subject has the right granted by the European
                legislator to request from the controller the erasure of
                personal data concerning him or her without undue delay. The
                controller is required to erase personal data without undue
                delay under the following conditions, unless the processing is
                necessary:
            </p>
            <ul>
                <li>
                    The personal data are no longer necessary for the purposes
                    for which they were collected or otherwise processed.
                </li>
                <li>
                    The data subject withdraws consent on which the processing
                    is based according to Article 6(1)(a) or Article 9(2)(a) of
                    the GDPR, and there is no other legal ground for the
                    processing.
                </li>
                <li>
                    The data subject objects to the processing pursuant to
                    Article 21(1) of the GDPR and there are no overriding
                    legitimate grounds for the processing, or the data subject
                    objects to the processing pursuant to Article 21(2).
                </li>
                <li>The personal data have been unlawfully processed.</li>
                <li>
                    The personal data must be erased for compliance with a legal
                    obligation to which the controller is subject.
                </li>
                <li>
                    The personal data have been collected in relation to the
                    offer of information society services referred to in Article
                    8(1) of the GDPR.
                </li>
            </ul>
            <p>
                Should the data subject wish to request the erasure of personal
                data stored by EnRu Translations, he or she may contact any
                employee of the controller at any time. An employee of EnRu
                Translations will promptly ensure that the erasure request is
                complied with immediately.
            </p>

            <strong> <p>Right of Restriction of Processing</p></strong>
            <p>
                Each data subject is entitled by the European legislator to
                request from the controller a restriction of processing if one
                of the following conditions is met:
            </p>
            <ul>
                <li>
                    The accuracy of the personal data is contested by the data
                    subject allowing time for the controller to verify the
                    accuracy of the personal data.
                </li>
                <li>
                    The processing is unlawful and the data subject opposes the
                    erasure of the personal data, instead requesting the
                    restriction of their use.
                </li>
                <li>
                    The controller no longer requires the personal data for the
                    purposes of processing, but they are needed by the data
                    subject for the establishment, exercise, or defense of legal
                    claims.
                </li>
                <li>
                    The data subject has objected to processing pursuant to
                    Article 21(1) of the GDPR, pending verification of whether
                    the controller's legitimate grounds override those of the
                    data subject.
                </li>
            </ul>
            <p>
                If the data subject meets one of these conditions and wishes to
                request the restriction of processing of personal data held by
                EnRu Translations, he or she may contact any employee of the
                controller at any time. The employee will arrange for the
                restriction of the processing as requested.
            </p>
            <strong><p>Right to Withdraw Data Processing Consent</p></strong>
            <p>
                Each data subject has the right as granted by the European
                legislator to withdraw consent for the processing of his or her
                personal data at any time.
            </p>
            <p>
                Should the data subject decide to exercise this right to
                withdraw consent, he or she may contact any employee of EnRu
                Translations at any time to initiate this process.
            </p>
        </section>
        <section class="tos-section">
            <h3>7. Legal Basis for Processing</h3>
            <p>
                Processing operations that rely on the data subject's consent
                are based on Article 6(1)(a) of the GDPR, which applies to
                processing for specifically agreed-upon purposes. If the
                processing of personal data is necessary for the performance of
                a contract to which the data subject is party, such as the
                delivery of goods or provision of services, this type of
                processing is justified under Article 6(1)(b) of the GDPR. This
                legal basis also covers processing necessary for pre-contractual
                actions, such as inquiries concerning our products or services.
            </p>
        </section>
        <section class="tos-section">
            <h3>8. Duration of Personal Data Storage</h3>
            <p>
                Personal data are retained only for the duration mandated by
                legal retention periods. Once these periods expire, the data are
                systematically deleted unless they are still required for the
                fulfillment or initiation of a contract.
            </p>
        </section>
        <section class="tos-section">
            <h3>
                9. Provision of Personal Data as Statutory or Contractual
                Requirement; Requirement Necessary to Enter into a Contract;
                Obligation of the Data Subject to Provide the Personal Data;
                Possible Consequences of Failure to Provide Such Data
            </h3>
            <p>
                It is important to note that the provision of personal data may
                be required by law (e.g., tax regulations) or arise from
                contractual agreements (e.g., information on the contractual
                partner). At times, in order to conclude a contract, it may be
                necessary for the data subject to provide us with personal data
                that we must then process. For instance, when our company enters
                into a contract with the data subject, he or she is obliged to
                provide us with personal data. Failure to provide the required
                personal data would mean that the contract could not be
                concluded.
            </p>
            <p>
                Before providing personal data, the data subject should contact
                any employee of our company. The employee will inform the data
                subject whether the provision of personal data is mandated by
                law or contract, or is necessary for the conclusion of the
                contract, whether there is an obligation to provide the personal
                data, and the consequences of failing to provide it.
            </p>
        </section>
        <section class="tos-section">
            <h3>10. Links to External Sites</h3>
            <p>
                Our website may include links to external websites not operated
                by us. Clicking on a third-party link will direct you to that
                third party's website. We encourage you to review the privacy
                policy and terms of service of each site you visit. Please note
                that we do not control and are not responsible for the content,
                privacy policies, or practices of any third-party sites,
                products, or services.
            </p>
        </section>
        <section class="tos-section">
            <h3>11. Privacy Policy Changes</h3>
            <p>
                EnRu Translations is committed to maintaining the highest
                standards of data protection and will update or modify this
                Privacy Policy in response to changes in legislation, regulatory
                requirements, or best practices. We will make every effort to
                notify our users of significant changes through our website or
                via email before these changes take effect. We encourage you to
                review this policy periodically to stay informed. Your continued
                use of our website after any changes have been posted will
                indicate your acceptance of our updated Privacy Policy.
            </p>
        </section>
        <section class="tos-section">
            <h3>12. No Automated Decision-Making</h3>
            <p>
                As a responsible company, EnRu Translations does not engage in
                automatic decision-making or profiling. This policy ensures all
                decisions affecting our clients and partners are made with
                thoughtful human judgment and transparency.
            </p>
        </section>

        <form class="top" action="#top">
            <button class="top1" type="submit">Back to Top</button>
        </form>
    </main>

    <style>
        main {
            padding: 1em;
            margin-top: 2em;
        }

        .tos-section-head {
            background-color: #f0f8ff; /* Alice Blue for section backgrounds */
            border: 1px solid #003366; /* Dark Blue border */
            padding: 0.5em;
            margin-bottom: 1.5em;
            border-radius: 5%;
        }

        .tos-section-head h1 {
            color: #003366; /* Dark Blue for headers */
            text-align: center;
        }

        .tos-section-head p {
            text-align: justify;
            font-weight: 600;
        }

        .tos-section {
            background-color: #f0f8ff; /* Alice Blue for section backgrounds */
            border: 1px solid #003366; /* Dark Blue border */
            padding: 1em;
            margin-bottom: 1.5em;
            border-radius: 5%;
        }

        .tos-section h3 {
            color: #003366; /* Dark Blue for headers */
            text-align: center;
        }

        .tos-section p {
            text-align: justify;
            margin-bottom: 2em;
        }

        a {
            color: #003366; /* Dark Blue for links */
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        ul li {
            margin-bottom: 1em;
            text-align: justify;
        }

        .top {
            text-align: center;
            margin: 1em;
        }

        .top1 {
            background-color: rgb(8, 20, 187);
            color: #f9f9f9;
            font-weight: 600;
        }

        @media (min-width: 36em) {
            .top {
                text-align: center;
                margin: 1em;
            }

            .top1 {
                background-color: rgb(8, 20, 187);
                color: #f9f9f9;
                font-weight: 600;
            }
        }
    </style>
</BaseLayout>
