---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Resource Center";
const description =
    "Welcome to our Resource Center. Here you'll find information to help you expand your knowledge on various topics.";

const url = "https://enrutransl.com/resources/";
---

<BaseLayout description={description} title={title} url={url}>
    <header>
        <h1>Resource Center</h1>

        <p>
            Welcome to our Resource Center. Here you'll find information to help
            you expand your knowledge on various topics.
        </p>
    </header>

    <main>
        <section class="blog-card">
            <picture>
                <source srcset="/Post-1.webp" type="image/webp" />
                <img
                    src="/Post-1.jpg"
                    alt="People discussing Russian localization"
                />
            </picture>

            <div class="post-title">
                <a href="/posts/russian-localization"
                    ><h2>
                        Russian Localization: Tap into a 114 Million Customer
                        Base and Drive Global Sales Growth
                    </h2>
                </a>
                <p>
                    Did you know that Russian is spoken by over 258 million
                    people worldwide, making it the 8th most spoken language
                    globally? With the current geopolitical challenges,
                    connecting directly...
                </p>
            </div>
            <div class="post-date">
                <p><i>June 25, 2024</i></p>
            </div>
        </section>

        <section class="blog-card">
            <picture>
                <source srcset="/Best_dict.webp" type="image/webp" />
                <img
                    src="/Best_dict.jpg"
                    alt="Best Russian Dictionary with a man sitting and reading"
                />
            </picture>

            <div class="post-title">
                <a href="/posts/russian-dictionary"
                    ><h2>Best Russian Dictionary: Does It Exist?</h2>
                </a>
                <p>
                    Are you still searching for that one perfect Russian
                    dictionary that seems to elude even the most diligent
                    language learners? The quest for the ideal dictionary is
                    complicated by many available options and individual needs
                    and preferences. Whether you are ...
                </p>
            </div>
            <div class="post-date">
                <p><i>July 2, 2024</i></p>
            </div>
        </section>

        

        <section class="blog-card">
            <picture>
                <source srcset="/prof-services.webp" type="image/webp" />
                <img
                    src="/prof-services.svg"
                    alt="Professional translation services are being provided"
                />
            </picture>

            <div class="post-title">
                <a href="/posts/professional-translation-services"
                    ><h2>
                        Professional Translation Services: How to Find Them?
                    </h2>
                </a>
                <p>
                    When it comes to professional translation services, finding
                    a truly professional provider can make all the difference in
                    your communication strategy. But how do you identify a
                    service provider that stands out 🌟 in professionalism?
                    Let's ...
                </p>
            </div>
            <div class="post-date">
                <p><i>July 28, 2024</i></p>
            </div>
        </section>

        <section class="blog-card">
            <picture>
                <source srcset="/human-trans.webp" type="image/webp" />
                <img
                    src="/human-trans.jpg"
                    alt="Human translation service providers"
                />
            </picture>

            <div class="post-title">
                <a href="/posts/human-translation-services"
                    ><h2>
                        The Essential Guide to Human Translation Services: Why
                        They Still Matter
                    </h2>
                </a>
                <p>
                    In today’s interconnected world, human translation services
                    play a vital role in breaking language barriers ...
                </p>
            </div>
            <div class="post-date">
                <p><i>November 30, 2024</i></p>
            </div>
        </section>

        <section class="blog-card">
            <picture>
                <source srcset="/fin-trans.webp" type="image/webp" />
                <img
                    src="/fin-trans.jpg"
                    alt="Financial translation service provider translating"
                />
            </picture>

            <div class="post-title">
                <a href="/posts/financial-translation-services"
                    ><h2>
                        Navigating the Complexities of Financial Translation
                        Services
                    </h2>
                </a>
                <p>
                    It goes without saying that accuracy is non-negotiable when
                    it comes to financial documents. Whether it’s annual
                    reports, balance sheets ...
                </p>
            </div>
            <div class="post-date">
                <p><i>December 3, 2024</i></p>
            </div>
        </section>

        <section class="blog-card">
            <picture>
                <source srcset="/market-trans.webp" type="image/webp" />
                <img
                    src="/market-trans.jpg"
                    alt="Marketing translation service provider translating"
                />
            </picture>

            <div class="post-title">
                <a href="/posts/marketing-translation-services"
                    ><h2>Marketing Translation Services: The Key to Success</h2>
                </a>
                <p>
                    When marketing and selling to an audience, it is crucial to
                    present campaigns in a language the audience understands. If
                    your marketing materials are ...
                </p>
            </div>
            <div class="post-date">
                <p><i>December 3, 2024</i></p>
            </div>
        </section>
    </main>

    <form class="top" action="#top">
        <button class="top1" type="submit">Back to Top</button>
    </form>
</BaseLayout>

<style>
    header {
        text-align: justify;
        padding: 2em;
    }

    .blog-card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        border: 1px solid rgb(221, 216, 216);
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 2em;
        box-shadow: 0.1em 0.1em 0.1em rgb(141, 199, 243);
    }

    .blog-card img {
        width: 23em;
        height: 18em;
        margin-top: 0.5em;
        object-fit: cover;
        max-width: 100%;
        padding: 0.5em;
        flex: 1;
    }

    .post-title {
        padding: 1em;
        text-align: justify;
        /* height: 320px; */
        flex: 1;
    }

    .post-date {
        display: flex;
        flex-flow: row wrap;
        justify-content: end;
        width: 100%;
        padding: 1em;
        border-top: 1px solid rgb(219, 213, 213);
    }

    h2 {
        font-size: large;
    }

    .top {
        text-align: center;
        margin: 1em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }

    @media (min-width: 36em) {
        main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            width: 100%;
        }

        h2 {
            text-align: start;
            font-size: large;
        }
    }

    @media (min-width: 62em) {
        main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            width: 100%;
        }
    }
</style>
