---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Services - Russian Language Services";
const description =
    "Explore our range of Russian language services, including professional translation, proofreading, and localization, each tailored to your business needs.";
const url = "https://enrutransl.com/services/";
---

<BaseLayout description={description} title={title} url={url}>
    <!-- <link slot="head" rel="preload" href="hero_image.svg" as="image" /> -->
   

    

    <form class="top" action="#top">
        <button class="top1" type="submit">Back to Top</button>
    </form>
</BaseLayout>

<style>
    
  

    .top {
        text-align: center;
        margin: 1em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }

    /* Media queries for tablets */

    @media (min-width: 36em) {
       

      

      
    }
</style>
