---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Professional Russian translation services";
const description =
    "We specialize in English-Russian translation services for business and corporate documents, with a focus on legal, financial, and marketing translations";
const url = "https://enrutransl.com/services/";
---

<BaseLayout description={description} title={title} url={url}>
    <main>
        <section class="serv-hero">
            <div class="row">
                <div class="hero-content">
                    <h1>
                        Russian Translation Services for Business and Corporate
                        Documents
                    </h1>
                    <p class="sub-h1">
                        Get your legal, financial, and marketing documents or
                        text-based content translated from English into Russian
                        and from Russian into English by a professional
                        translator with
                        <strong>fast delivery</strong>.
                    </p>
                    <div class="action">
                        <a href="/contact#cont-form" class="cta-button"
                            >Start Your Order</a
                        >
                    </div>
                </div>
                <div class="hero-image">
                    <img
                        src="/services-hero.svg"
                        alt="Illustration of a translation team providing Russian translation services for business and corporate needs"
                        width="350"
                        height="700"
                    />
                </div>
            </div>
            <div class="symbols-cont">
                <div class="symbols">
                    <img
                        src="/proz.png"
                        alt="proz-png proof of membership"
                        loading="lazy"
                        decoding="async"
                    />
                </div>
                <div class="symbols">
                    <img
                        src="/goodfirms-logo.png"
                        alt="goodfirms-logo proof of membership"
                        loading="lazy"
                        decoding="async"
                    />
                </div>

                <div class="symbols">
                    <img
                        src="/PayPal.png"
                        alt="paypal-logo proof of secure payments"
                        loading="lazy"
                        decoding="async"
                    />
                </div>
                <div class="symbols">
                    <img
                        src="/ssl.png"
                        alt="ssl-png proof of website security"
                        loading="lazy"
                        decoding="async"
                    />
                </div>
            </div>
        </section>
        <section>
            <div class="hr-line">
                <hr />
            </div>

            <div class="comp-logos-cont">
                <div class="text-logo">
                    <p>Trusted by global businesses</p>
                </div>
                <div class="comp-logos">
                    <div class="img-holder">
                        <img
                            src="/world-bank.svg"
                            alt="World Bank Group Logo as my client"
                            width="120"
                            height="30"
                        />
                    </div>
                    <div class="img-holder">
                        <img
                            src="/raiff.svg"
                            alt="Raiffeisen Bank Logo as my client"
                            width="120"
                            height="30"
                        />
                    </div>
                    <div class="img-holder">
                        <img
                            src="/eni.svg"
                            alt="Eni S.p.A. Logo as my client"
                            width="120"
                            height="30"
                        />
                    </div>
                    <div class="img-holder">
                        <img
                            src="/ldc.svg"
                            alt="Louis Dreyfus Company Logo as my client"
                            width="120"
                            height="30"
                        />
                    </div>
                    <div class="img-holder">
                        <img
                            src="/ford.svg"
                            alt="Ford Logo as my client"
                            width="120"
                            height="30"
                        />
                    </div>
                    <div class="img-holder">
                        <img
                            src="/sberbank.svg"
                            alt="Sberbank Logo as my client"
                            width="120"
                            height="30"
                        />
                    </div>
                </div>
            </div>

            <div class="cases">
                <a class="link-cases" href="#">READ CASE STUDIES →</a>
            </div>

            <div class="hr-line">
                <hr />
            </div>
        </section>
    </main>

    <section class="cont-satisf">
        <div class="satisf">
            <img
                class="satisf-img"
                src="/cup.svg"
                alt="Symbol of translation quality svg"
                loading="lazy"
            />
            <h3>Guaranteed Quality</h3>
            <p>
                We handle every project with meticulous care. Each translation
                undergoes a quality check to ensure it meets the highest
                standards of accuracy. If you're not completely satisfied, we'll
                revise it for free until it perfectly aligns with your needs.
            </p>
        </div>

        <div class="satisf">
            <img
                class="satisf-img"
                src="/delivery.svg"
                alt="Symbol of timely translation delivery svg"
                loading="lazy"
            />
            <h3>On-Time Delivery</h3>
            <p>
                We pride ourselves on our efficient workflow, which ensures that
                100% of our translations are delivered on time. In the rare
                event that we do miss a deadline, we will refund the full cost
                of your translation.
            </p>
        </div>

        <div class="satisf">
            <img
                class="satisf-img"
                src="/handshake.svg"
                alt="Handshake as a symbol of appreciation from clients for payment after delivery  svg"
                loading="lazy"
            />
            <h3>Pay After Delivery</h3>
            <p>
                Our 'Pay After Delivery' model reflects our trust and
                commitment. You can pay within five days of the translation's
                delivery via bank transfer, Paypal, or Payoneer. <a
                    class="link"
                    href="/faq#pay-later">Learn more</a
                >
            </p>
        </div>

        <div class="satisf">
            <img
                class="satisf-img"
                src="/euro.svg"
                alt="Euro symbol svg"
                loading="lazy"
            />
            <h3>Competitive Pricing</h3>
            <p>
                We offer Russian translation services at competitive rates, with
                translation prices starting at just <strong>
                    &#8364;0.05 per word</strong
                >—an exceptional value to our clients.
            </p>
        </div>
    </section>

    <section>
        <div class="process-h2"><h2>OUR PROCESS</h2></div>

        <div class="proc-container">
            <div class="process">
                <img
                    class="process-img"
                    src="/start.svg"
                    alt="Project initiation svg"
                    loading="lazy"
                />
                <h3>Project Initiation</h3>
                <p>
                    You reach out with your translation needs. We respond to
                    gather all necessary details, including document types,
                    target languages, and desired turnaround times. You also
                    provide any other special requirements you want us to adhere
                    to (glossaries, style guides, if any).
                </p>
            </div>

            <div class="process">
                <img
                    class="process-img"
                    src="/teamwork.svg"
                    alt="Translation process svg"
                    loading="lazy"
                />
                <h3>Translation Process</h3>
                <p>
                    We work diligently to render your documents accurately in
                    the Russian language. The translation undergoes a series of
                    reviews and revisions to correct any nuances and ensure the
                    translation meets the specific industry and cultural
                    standards. We perform final quality assurance checks to
                    ensure top-quality, error-free deliverables.
                </p>
            </div>

            <div class="process">
                <img
                    class="process-img"
                    src="/delivery.svg"
                    alt="Translation delivery svg"
                    loading="lazy"
                />
                <h3>Delivery</h3>
                <p>
                    The completed translation is delivered to you via your
                    chosen method. You review the deliverable and provide
                    feedback. If revisions are required, we promptly make the
                    necessary adjustments and resend the revised document at no
                    additional cost.
                </p>
            </div>

            <div class="process">
                <img
                    class="process-img"
                    src="/finish.svg"
                    alt="Translation project finish svg"
                    loading="lazy"
                />
                <h3>Project Completion</h3>
                <p>
                    Once you are fully satisfied with the translation, the
                    project is considered complete. We appreciate and welcome
                    your feedback to continuously improve our services. We are
                    just an <a class="link" href="/contact#cont-form"
                        >email away</a
                    >.
                </p>
            </div>
        </div>
    </section>

    <!-- CTA Section HTML -->
    <section class="cta-midsection">
        <h2>Order Russian translation now</h2>
        <a href="/contact#cont-form"
            ><button class="cta-midbutton">Talk to Our Team</button></a
        >
    </section>

    <section>
        <div class="serv-container">
            <div class="serv-heading">
                <h2>Our B2B English-Russian Translation Services</h2>
            </div>
            <div class="hold-content">
                <div id="anchor1" class="content-item">
                    <p>
                        EnRu Translations focuses on English-Russian translation
                        of business and corporate documents, as we bring
                        specialized knowledge, skills, and industry-specific
                        experience pertaining to such types of documents.
                        Although business and corporate documents can be divided
                        into several subcategories, our areas of expertise are
                        key and critical sectors like law, finance, and
                        marketing. We view these as integral and vital parts of
                        every business that are always in demand and these are
                        the sectors where we can be most helpful and serve our
                        clients in the best way possible.
                    </p>
                    <p>
                        Thus, it does not matter whether a company itself
                        specializes in one of those industries (e.g., a law
                        firm, financial institution, marketing agency) or
                        belongs to any other industry altogether, it will always
                        be a representation of these sectors and there is always
                        a need for accurate translation of such
                        professional-grade documentation and this is where EnRu
                        Translations excels.
                    </p>
                    <hr />
                    <div id="anchor2" class="content-item">
                        <h2>Russian legal translation</h2>
                        <h4>What is legal translation?</h4>
                        <p>
                            Legal translation is a highly specialized area that
                            involves converting legal documents and terminology
                            from one language to another. It demands not only
                            language expertise but also a solid understanding of
                            legal systems, as these documents often contain
                            precise legal jargon, nuanced phrases, and complex
                            concepts. Even a minor error can lead to serious
                            delays and put your interests at risk. That's why
                            legal translation cannot be entrusted to AI or
                            machine translation, but must be handled by
                            professional translators.
                        </p>

                        <h4>Who is Russian legal translation for?</h4>

                        <p>
                            Our Russian legal translation services cater to a
                            broad range of clients, including:
                        </p>
                        <ul>
                            <li>Law firms</li>
                            <li>Family offices</li>
                            <li>Corporations</li>
                            <li>Government agencies</li>
                            <li>Real estate agencies</li>
                            <li>Banks and financial institutions</li>
                            <li>Courts</li>
                        </ul>

                        <h4>Types of legal documents we translate</h4>

                        <p>
                            We offer specialized Russian legal translation
                            services across a wide range of documents, ensuring
                            each is translated with the precision and legal
                            knowledge required for effective use:
                        </p>
                        <ul>
                            <li>
                                Contracts: trust deeds, employment contracts,
                                sales agreements, non-disclosure agreements
                                (NDAs), service agreements, lease agreements,
                                loan agreements, share purchase agreements
                            </li>
                            <li>
                                Corporate documents: articles of incorporation,
                                shareholder agreements, company bylaws,
                                corporate certificates (certificate of
                                incorporation, certificate of good standing, tax
                                certificates, etc), Board meeting minutes,
                                resolutions
                            </li>
                            <li>
                                Litigation materials: witness statements, court
                                documents, depositions, expert reports
                            </li>

                            <li>
                                Legal correspondence: memos, formal letters,
                                email communication
                            </li>
                            <li>
                                Personal legal documents: inheritance records,
                                powers of attorney, affidavits, divorce
                                petitions
                            </li>
                        </ul>

                        <h4>Some specifics of Russian legal translation</h4>

                        <p>
                            Russian legal translation has distinct peculiarities
                            that require specialized knowledge and experience:
                        </p>
                        <ul>
                            <li>
                                Legal conventions: Russian legal documents
                                follow specific phrasing and structure based on
                                local jurisdiction, which may differ
                                significantly from those in English-speaking
                                countries.
                            </li>
                            <li>
                                Lexical equivalents: not all legal terms or
                                concepts in Russian have direct translations in
                                English, requiring translators to find target
                                language constructions that closely mirror the
                                function of the original term.
                            </li>
                            <li>Unique language features:</li>
                            <ul>
                                <li>
                                    common words with specialized legal
                                    meanings.
                                </li>
                                <li>
                                    exceptionally long sentences, often marked
                                    as complex by text-editing software.
                                </li>
                                <li>
                                    frequent use of archaisms, particularly in
                                    formal documents.
                                </li>
                                <li>
                                    mixed vocabulary with terms of French,
                                    Latin, and Anglo-Saxon origin.
                                </li>
                                <li>
                                    synonyms and synonym chains used to cover
                                    multiple interpretations.
                                </li>
                                <li>
                                    ambiguity employed intentionally for legal
                                    flexibility.
                                </li>
                                <li>
                                    variations in capitalization for emphasis,
                                    and use of formal phrasing.
                                </li>
                                <li>
                                    extensive use of set legal phrases,
                                    "legalese," and ceremonial expressions for
                                    consistency and clarity.
                                </li>
                            </ul>
                        </ul>
                        <p>
                            Our expertise in Russian legal translation ensures
                            your documents are translated with the accuracy and
                            confidentiality necessary for seamless legal
                            compliance and communication.
                        </p>
                    </div>
                    <div id="anchor3" class="content-item">
                        <h2>Russian financial translation</h2>
                        <h4>What is financial translation?</h4>
                        <p>
                            Financial translation is the process of translating
                            documents and information related to finance, such
                            as financial statements, investment reports, audit
                            documents, tax reports, and banking materials, from
                            one language to another.
                        </p>
                        <p>
                            This specialized field requires not only fluency in
                            the target and source languages but also a deep
                            understanding of financial terminology, regulations,
                            and concepts specific to each country.
                        </p>
                        <p>
                            Just like in legal translation mentioned above,
                            accuracy is critical in financial translation, as
                            even small mistakes can lead to misinterpretations,
                            compliance issues, or financial losses.
                        </p>
                        <p>
                            At this point in time there is a growing consensus
                            among professional translators that the critically
                            important sector of financial translation cannot be
                            entrusted to AI or machine translation, but must be
                            handled by professional translators, as it deals
                            with professional-grade documentation.
                        </p>

                        <h4>Types of financial documents we translate</h4>
                        <p>
                            Below a list of examples of financial documents that
                            we usually translate:
                        </p>
                        <ul>
                            <li>Income statements</li>
                            <li>Cash flow statements</li>
                            <li>Balance sheets</li>
                            <li>Statements of changes in equity</li>
                            <li>Investment fund reports</li>
                            <li>Bank documents</li>
                            <li>
                                Risk management and asset management documents
                            </li>
                            <li>Audit reports</li>
                            <li>Tax forms</li>
                            <li>Term sheets</li>
                            <li>Bank statements, letters, invoices</li>
                            <li>Investment reports</li>
                            <li>Audit reports</li>
                            <li>Financial policies and procedures</li>
                        </ul>

                        <h4>
                            Some challenges of Russian financial translation
                        </h4>
                        <p>
                            In our experience the following are the most common
                            challenges encountered by financial translators:
                        </p>
                        <ul>
                            <li>
                                Financial translators must remain informed about
                                evolving regulations to ensure their
                                translations are always accurate and reliable.
                            </li>
                            <li>
                                Consistency in terminology is crucial in
                                translation, as variations can confuse readers
                                and hinder their understanding of concepts
                                across different documents. To avoid this issue,
                                it's best to work with the same translator
                                whenever possible or, if not, to maintain a
                                terminology database (Termbase) for reference.
                            </li>
                            <li>
                                Financial regulations vary by country. In the
                                European Union, lawmakers have standardized
                                financial and accounting practices through the
                                implementation of IFRS (International Financial
                                Reporting Standards). <br /><br />These
                                standards are primarily adopted by large
                                corporations, while small and medium-sized
                                enterprises (SMEs) may use national accounting
                                standards. <br /><br />In contrast, outside
                                Europe, regulations such as US GAAP (Generally
                                Accepted Accounting Principles) are more
                                commonly used, particularly by publicly traded
                                companies. Each of these regulatory frameworks
                                has its own nuances, and a proficient translator
                                should be aware of these differences.
                            </li>
                            <li>
                                Financial documents are typically highly
                                confidential. While this isn't strictly a
                                translation issue, it underscores the importance
                                of hiring a translator who adheres to
                                confidentiality rules and follows the company's
                                professional ethics.
                            </li>
                        </ul>
                        <p>
                            Our expertise in Russian financial translation
                            guarantees that your documents are translated with
                            the highest level of accuracy and confidentiality,
                            meeting the standards necessary for effective
                            financial reporting and compliance.
                        </p>
                    </div>
                </div>
                <div id="anchor4" class="content-item">
                    <h2>Russian marketing translation</h2>
                    <h4>What is marketing translation?</h4>
                    <p>
                        Marketing translation is the process of adapting
                        promotional and advertising content from one language to
                        another while preserving the original message's impact,
                        tone, and appeal.
                    </p>
                    <p>
                        Unlike literal translation, marketing translation
                        considers cultural nuances, local preferences, and brand
                        voice to ensure the content resonates with the target
                        audience. This type of translation is essential for
                        maintaining brand consistency and effectiveness in
                        different markets.
                    </p>
                    <p>
                        Errors in marketing translation can lead to serious
                        consequences by distorting the intended message and
                        alienating the target audience. Misinterpretations or
                        culturally inappropriate language can damage brand
                        reputation, erode customer trust, and even cause
                        offense, leading to potential backlash. Inaccuracies in
                        marketing translation may also reduce the effectiveness
                        of campaigns, causing confusion or diminishing appeal,
                        which can ultimately result in lost sales, missed growth
                        opportunities, and a weakened market presence.
                    </p>
                    <p>
                        Given the potential consequences of errors, important
                        marketing translation should be entrusted to experienced
                        professionals who specialize in both language and
                        cultural adaptation. Skilled marketing translators
                        understand not only the language but also the subtle
                        nuances and local preferences that make content
                        resonate.
                    </p>
                    <p>
                        Like legal and financial translation, marketing
                        translation cannot be entrusted to AI or machine
                        translation because it demands a deep understanding of
                        cultural context, tone, and emotional impact. AI lacks
                        the ability to interpret nuanced language, idiomatic
                        expressions, and cultural subtleties essential for
                        creating messages that resonate with local audiences.
                        Machine translation often produces literal outputs that
                        can distort meaning, come across as awkward, or even
                        offend, jeopardizing brand perception and failing to
                        engage the intended market effectively.
                    </p>
                    <h4>Types of marketing documents we translate</h4>
                    <p>
                        Below are the types of marketing documents we translate
                        to help your brand connect with consumers effectively:
                    </p>
                    <ul>
                        <li>Marketing pitches</li>
                        <li>PowerPoint presentations</li>
                        <li>Landing pages</li>
                        <li>Social media posts</li>
                        <li>Email marketing material</li>
                        <li>Google ads and social media ads</li>
                        <li>Newsletters</li>
                        <li>Leaflets</li>
                        <li>Press releases</li>
                        <li>Product descriptions</li>
                        <li>Brand guidelines</li>
                        <li>Surveys and questionnaires</li>
                        <li>White papers</li>
                        <li>Case studies</li>
                        <li>eBooks</li>
                    </ul>
                    <h4>Some specifics of Russian marketing translation</h4>
                    <p>
                        Marketing translation necessitates an approach that
                        focuses on influencing purchase intent through emotional
                        appeal rather than merely fulfilling a practical
                        purpose. Translators must craft positive messages that
                        resonate with consumer preferences.
                    </p>
                    <p>
                        Translators should be aware of local and dialectal
                        variations within the Russian language and how these
                        differences may impact the message. Additionally, they
                        need to consider the age of the audience, as it
                        influences the style and tone of the translation.
                        Targeting a specific niche market can improve the
                        effectiveness of the translation.
                    </p>
                    <p>
                        Translators should be mindful that the space required
                        for translated content may vary, leading to an increase
                        or decrease in text length when translating between
                        English and Russian. Slogans are particularly
                        challenging and may need complete rewrites to accurately
                        convey the intended meaning in the target language.
                    </p>
                    <p>
                        Content localization includes adjustments for local
                        currencies, measurement systems, legal regulations,
                        formatting, and character usage.
                    </p>
                    <p>
                        Idioms and expressions should be completely adapted to
                        ensure they are meaningful in the target language.
                    </p>
                    <p>
                        Our experience in Russian marketing translation ensures
                        that your content is adapted with the utmost precision
                        and cultural relevance, allowing your brand to resonate
                        with the target audience and effectively drive
                        engagement. We prioritize understanding local nuances
                        and preferences in order to meet the necessary standards for
                        impactful marketing communication.
                    </p>
                </div>
                <hr />
                <div id="anchor5" class="content-item"></div>
                <div id="anchor6" class="content-item"></div>
                <div id="anchor7" class="content-item"></div>

                <div class="anchor-nav"></div>
            </div>
        </div>

        <section class="cta-section">
            <div class="cta-content">
                <h2>Do you need assistance?</h2>
                <p>
                    We are here to help you get a relevant quote for complex
                    business document translation, corporate website/software
                    localization, and any other translation-related projects.
                </p>
                <a href="/contact#cont-form" class="cta-button1">Get a quote</a>
            </div>
        </section>

        <form class="top" action="#top">
            <button class="top1" type="submit">Back to Top</button>
        </form>
    </section>

    <style>
        .row {
            display: flex;
            flex-wrap: row wrap;
            margin: 1.2em;
        }

        .hero-content {
            padding: 0.5em;
            position: relative;
            width: 100%;
        }

        .hero-content h1 {
            font-size: x-large;
            color: #1d3461;
            font-weight: 900;
            line-height: 1.2;
        }

        .sub-h1 {
            font-weight: 300;
            font-size: large;
            line-height: 1.5;
            margin-top: 0;
            margin-bottom: 1.5em;
        }

        .action {
            display: flex;
            flex-flow: column;
            margin-top: 2em;
            text-align: center;
        }

        .cta-button {
            min-width: 220px;
            width: 100%;
            font-size: larger;
            line-height: 1.75;
            padding: 0.3125em 1.5em;
            border-radius: 0.5em;
            background-color: rgb(235, 54, 120);
            border-color: rgb(235, 54, 120);
            color: #fff;
            border: 1px solid transparent;
            display: inline-block;
            font-weight: 400;
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        .hero-image {
            display: none;
            padding: 1em;
            position: relative;
            width: 100%;
        }

        .symbols-cont {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-top: 2em;
            margin-bottom: 5em;
        }

        .symbols img {
            width: 5em;
            height: 2em;
            object-fit: contain;
            margin: 0.7em;
        }

        .hr-line {
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            color: #4d4843;
        }

        .hr-line hr {
            border-color: #9b9b9b;
        }

        hr {
            margin: 0;
            border-top: 0.5px solid #ddd;
            height: 0;
            overflow: visible;
        }

        .comp-logos-cont {
            width: 100%;
            padding-left: 0.94em;
            padding-right: 0.94em;
            margin-left: auto;
            margin-right: auto;
        }

        .text-logo {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        .text-logo p {
            font-size: 1.1em;
            line-height: 1.75;
            color: #4a4a4a;
            font-weight: 600;
            margin-bottom: 2.5em;
            margin-top: 2em;
        }

        .comp-logos {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

        .img-holder {
            margin: 1.5em;
        }

        .img-holder img {
            width: 5em;
            height: 2em;
        }

        .cases {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-top: 2em;
            margin-bottom: 3em;
        }

        .cases a {
            line-height: 1.5;
            font-size: 1em;
            color: #1cad7e;
            font-weight: 400;
            text-decoration: none;
        }

        .satisf {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: justify;
            padding: 2em;
        }

        .satisf-img {
            width: 2em;
        }

        .satisf p {
            line-height: 1.3;
            font-weight: 300;
        }

        .process-h2 {
            text-align: center;
        }

        .process {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: justify;
            padding: 2em;
        }

        .process-img {
            width: 2em;
        }

        .process p {
            line-height: 1.3;
            font-weight: 300;
        }

        .link {
            color: rgb(235, 54, 120);
            font-weight: bold;
            text-decoration: underline;
        }

        .link:hover {
            color: rgb(14, 21, 205);
            text-decoration: none;
        }

        /* CTA Section CSS */
        .cta-midsection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #e6f2f8; /* Replace with a shade complementary to your color palette */
            padding: 40px;
            color: #1d3461;
            text-align: center;
            border-radius: 8px;
            margin-top: 40px;
        }

        .cta-midsection h2 {
            font-size: large;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .cta-midbutton {
            background-color: rgb(
                235,
                54,
                120
            ); /* Darker shade of the section background for contrast */
            color: white;
            padding: 15px 30px;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .cta-midbutton:hover {
            background-color: #b90a79; /* Slightly darker shade for hover effect */
        }

        .serv-container {
            display: flex;
            flex-flow: wrap;
            margin-left: 0.5em;
            margin-right: 0.5em;
            margin-top: 3rem;
        }

        .serv-heading {
            flex: 0 0 100%;
            max-width: 100%;
            position: relative;
            width: 100%;
            padding: 0.5em;
            text-align: center;
        }

        .serv-heading h2 {
            color: #1d3461;
            margin-bottom: 0;
            margin-bottom: 0;
            line-height: 1.3;
            font-weight: 500;
        }

        .hold-content {
            flex: 0 0 100%;
            max-width: 100%;
            position: relative;
            width: 100%;
            padding: 0.5em;
            text-align: justify;
        }

        .content-item p {
            padding: 0.5em;
            font-weight: 300;
            line-height: 1.5;
        }

        .content-item h2 {
            color: #1d3461;
            margin-bottom: 0;
            margin-top: 3em;
            line-height: 1.3;
            font-weight: 500;
            text-align: center;
        }

        .content-item ul li {
            font-weight: 300;
            line-height: 1.5;
        }

        /* CTA Section CSS */

        .cta-section {
            background-color: #f4f8ff; /* Light background for contrast */
            padding: 40px;
            text-align: center;
            border-radius: 8px;
            margin: 40px 0; /* Adds space between testimonials and footer */
        }

        .cta-content h2 {
            font-size: 2rem;
            color: #1c2237; /* Dark blue for a professional look */
            margin-bottom: 20px;
        }

        .cta-content p {
            font-size: 1.2rem;
            color: #4a4a4a; /* Slightly darker text for readability */
            margin-bottom: 30px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .cta-button1 {
            background-color: rgb(
                235,
                54,
                120
            ); /* Bright color for the button */
            color: #fff;
            padding: 15px 30px;
            font-size: 1.2rem;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s ease;
        }

        .cta-button:hover {
            background-color: #e68a00; /* Darker orange on hover */
        }

        .top {
            text-align: center;
            margin: 1em;
        }

        .top1 {
            background-color: rgb(8, 20, 187);
            color: #f9f9f9;
            font-weight: 600;
        }

        /* Media queries for tablets */

        @media (min-width: 36em) {
            .row:first-of-type {
                align-items: center;
            }

            .action {
                display: inline-flex;
            }

            .hero-image {
                text-align: center;
                display: block;
                flex: 0 0 50%;
                max-width: 50%;
            }

            .hero-image img {
                height: auto;
                max-width: 100%;
                vertical-align: middle;
                border-style: none;
            }

            .symbols-cont {
                justify-content: space-around;
            }

            .text-logo p {
                font-size: 2em;
                font-weight: 400;
            }

            .cont-satisf {
                display: flex;
                flex-flow: row wrap;
            }

            .satisf {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                text-align: justify;
                padding: 2em;
                height: 100%;
                flex: 0 0 50%;
            }

            .proc-container {
                display: flex;
                flex-flow: row wrap;
                width: 100%;
                height: 100%;
            }

            .process {
                display: flex;
                flex-flow: column;
                align-items: center;
                text-align: justify;
                flex: 0 2 50%;
                padding: 2em;
                height: 100%;
            }

            .cta-midsection h2 {
                font-size: x-large;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
    </style>
</BaseLayout>
