---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Terms of Service | Read our terms and conditions";
const description = "Review EnRu Translations' Terms of Service.";
const url = "https://enrutransl.com/terms/";
---

<BaseLayout description={description} title={title} url={url}>
    <!-- <link slot="head" rel="preload" href="hero_image.svg" as="image" /> -->
    <main>
        <section class="tos-section-head">
            <h1>Terms of Service</h1>
            <p>General Terms of Service for EnRu Translations</p>
        </section>

        <section class="tos-section">
            <h3>§ 1. Scope</h3>
            <p>
                (1) These Terms of Service govern agreements entered into
                between EnRu Translations (the "Contractor") and its clients
                (the "Principals").
            </p>
            <p>
                (2) Amendments, supplementary agreements, and additions to any
                contract must be set out in writing.
            </p>
            <p>
                (3) The General Terms and Conditions proposed by the Principal
                shall bind the Contractor only if explicitly acknowledged and
                accepted in writing by the Contractor.
            </p>
        </section>

        <section class="tos-section">
            <h3>§ 2. Execution</h3>
            <p>
                The translation shall be executed with due care in accordance
                with the principles of proper professional conduct.
            </p>
        </section>

        <section class="tos-section">
            <h3>§ 3. Principal’s Obligation to Cooperate</h3>
            <p>
                (1) The Principal is required to furnish all necessary materials
                and information essential for the execution of the translation,
                including glossaries, style guides, illustrations, drawings,
                tables, and lists of abbreviations, prior to placement of an
                order.
            </p>
            <p>
                (2) The Contractor is not required to begin the translation
                until such materials and information have been received. Should
                the Principal explicitly authorize commencement of the
                translation prior to the submission of these materials, the
                Principal thereby waives any warranty claims related to the
                absence of the provided documentation.
            </p>
            <p>
                (3) The Principal is responsible for the basic information,
                instructions and stipulations pertaining to the order that the
                Principal gives to the translator. The Principal is also
                responsible for the suitability of the translation to its
                intended purpose.
            </p>
        </section>

        <section class="tos-section">
            <h3>§ 4. Delivery and Service Execution</h3>
            <p>
                (1) The translation services provided encompass the written
                translation of text from one language to another and
                proofreading as part of the comprehensive quality assurance
                process. Ancillary services such as text editing, specialized
                formatting, or desktop publishing (DTP) tasks are not included.
                Such services, if required, must be negotiated and documented in
                a separate agreement.
            </p>
            <p>
                (2) Delivery timelines and deadlines are binding only when
                explicitly stipulated as such. The Contractor is not considered
                to be in breach of contract if the delay or failure in service
                delivery arises from circumstances beyond its control, such as
                communication disruptions, acts of God, labor strikes, or
                transportation issues, including those affecting subcontractors.
            </p>
            <p>
                (3) In such cases, service delivery will resume as promptly as
                possible after the obstructing circumstances are resolved. The
                Contractor reserves the right to terminate the contract under
                these conditions. Any right to enforce contractual obligations
                or claims for damages by either party is hereby excluded under
                these circumstances.
            </p>
            <p>
                (4) Should changes as described in section 5 result in an
                increased workload or otherwise impede the timely progression of
                the translation process, the Contractor is entitled to an
                appropriate extension of the delivery deadline. This extension
                will be proportional to the increased workload or the nature of
                the delay induced by the changes.
            </p>
            <p>
                (5) The Contractor is not liable for any delay in the completion
                of the work that results from the Principal’s failure to provide
                necessary source texts or supplementary materials either at the
                time the agreement was made or at another mutually agreed upon
                time. Furthermore, the Contractor is not responsible for delays
                caused by any other factor attributable to the Principal.
            </p>
        </section>

        <section class="tos-section">
            <h3>§ 5. Changes</h3>
            <p>
                (1) The scope of work for the translation services shall be
                specifically defined and agreed upon in writing by the
                Contractor and the Principal prior to the commencement of the
                project. This agreed-upon scope shall include, but not be
                limited to, the volume, deadlines, and specific requirements or
                deliverables.
            </p>
            <p>
                (2) Any request for additional services or changes to the scope
                of work made after the initiation of the agreed-upon tasks,
                including but not limited to additional text, documents,
                revisions beyond the original specifications, or new
                requirements, shall be considered outside the initially
                agreed-upon scope.
            </p>
            <p>
                (3) Such modifications or additional tasks shall require a
                separate agreement and will be subject to additional charges.
                The Contractor shall provide an estimate for the additional
                work, and both parties must agree in writing to the terms,
                including any changes to fees and deadlines, before any
                additional services are provided.
            </p>
            <p>
                (4) Failure to agree on the terms of the additional services
                shall not affect the terms of the original agreement, which
                shall continue in effect as originally agreed.
            </p>
            <p>
                (5) If the Principal wishes to make changes to the source text
                while the translation work is in progress, the Contractor must
                be informed of the desired changes in writing and without delay.
                As soon as possible, the Contractor, in turn, must inform the
                Principal as to how the desired changes will affect the
                translator’s deadline and the fee to be charged. The Principal
                is responsible for the costs incurred because of the changes.
            </p>
        </section>

        <section class="tos-section">
            <h3>§ 6. Rectification of Defects</h3>
            <p>
                (1) Upon receipt of the translation, the Principal is obligated
                to review the content for accuracy and completeness. Any defects
                must be reported in writing with a detailed description of the
                issue. Defects must be reported within two weeks of delivery. If
                the Principal lacks the requisite foreign language proficiency
                to verify the translation, the Principal must appoint a suitably
                qualified individual to perform this verification. Claims to
                rectification of defects shall expire by limitation after one
                year.
            </p>
            <p>
                (2) Upon notification of defects, the Contractor is committed to
                making the necessary corrections. The Contractor shall be
                granted a reasonable period to implement these corrections.
                Should the corrections fail to rectify the defects, the
                Principal is entitled to a reduction in price or, in cases where
                the translation is rendered completely unusable, to terminate
                the contract.
            </p>
            <p>
                (3) If the source text is ambiguous or flawed, and the Principal
                or the contact person authorized to represent the Principal does
                not provide the necessary clarification upon request, the
                ambiguity in the source text must be indicated in the relevant
                segment of the translation. The Contractor is not responsible
                for corrections and changes that the Principal or someone else
                makes to the translation after it has been delivered to the
                Principal.
            </p>
        </section>
        <section class="tos-section">
            <h3>§ 7. Liability</h3>
            <p>
                (1) The Contractor shall be liable for damages resulting from
                its own gross negligence or intentional misconduct, as well as
                for similar acts of gross negligence or intentional misconduct
                by its subcontractors.
            </p>
            <p>
                (2) The Contractor is obligated to safeguard materials provided
                by the Principal with the same care it applies to its own
                proprietary materials. The Contractor shall conduct regular
                virus scans and other similar checks on its electronic
                data-processing systems. However, the Contractor shall not be
                held liable for any loss or damage resulting from third-party
                actions that occur despite these precautionary measures.
            </p>
            <p>
                (3) In cases where compensation for damages or reduction in
                value is warranted, the Contractor's liability shall be limited
                to no more than the invoice value of the provided services. The
                Contractor is not liable for indirect or consequential damages,
                including but not limited to lost profits or anticipated
                savings.
            </p>
        </section>
        <section class="tos-section">
            <h3>§ 8. Confidentiality Obligations</h3>
            <p>
                The Contractor commits to maintaining the confidentiality of all
                information that becomes known to it in the course of performing
                services for the Principal. This duty of confidentiality also
                applies to all subcontractors engaged by the Contractor, who are
                equally bound to uphold these confidentiality obligations.
            </p>
        </section>
        <section class="tos-section">
            <h3>§ 9. Reservation of Title, Rights of Use, and Copyright</h3>
            <p>
                (1) The translated document shall remain the property of the
                Contractor until full payment of the agreed fee is received.
            </p>
            <p>
                (2) The Principal shall gain the right to use the translation
                exclusively upon full payment of the fee.
            </p>
            <p>
                (3) Copyright to the translation remains with the Contractor.
                Without the Contractor’s consent, the translation may not be
                edited, abridged or otherwise altered. If the Principal gives
                the translation to a third party for the purpose of language
                revision, the Contractor must be informed thereof and the
                Contractor must be given the opportunity to approve the revised
                text.
            </p>
        </section>
        <section class="tos-section">
            <h3>§ 10. Contract Termination and Order Cancellation</h3>
            <p>
                (1) The Principal may terminate the contract for the preparation
                of a translation before the agreed completion date only for
                compelling reasons. Notification of termination must be
                submitted in writing.
            </p>
            <p>
                (2) In the event of such termination, the Contractor is entitled
                to compensation for the services rendered up to the point of
                cancellation. Additionally, if the reason for cancellation is
                not attributable to the Contractor, the Contractor may claim
                compensation for lost profits equal to the remuneration that
                would have been received had the contract been fully executed.
            </p>
        </section>
        <section class="tos-section">
            <h3>§ 11. Applicable Law, Validity, and Jurisdiction</h3>
            <p>
                (1) These Terms of Service and any claims arising therefrom
                shall be governed by Serbian law.
            </p>
            <p>
                (2) Should any provision of these Terms be or become invalid,
                either in whole or in part, due to statutory regulations or
                changes in legislation, it shall be replaced with a provision
                that most closely approximates the original commercial intent of
                the invalid provision. All other provisions shall remain in full
                force and effect.
            </p>
            <p>
                (3) The city of Belgrade in Serbia is agreed to be the place of
                jurisdiction for any disputes that may arise out of this
                contract.
            </p>
        </section>
    </main>

    <form class="top" action="#top">
        <button class="top1" type="submit">Back to Top</button>
    </form>
</BaseLayout>

<style>
    main {
        padding: 1em;
        margin-top: 2em;
    }

    .tos-section-head {
        background-color: #f0f8ff; /* Alice Blue for section backgrounds */
        border: 1px solid #003366; /* Dark Blue border */
        padding: 0.5em;
        margin-bottom: 1.5em;
        border-radius: 5%;
    }

    .tos-section-head h1 {
        color: #003366; /* Dark Blue for headers */
        text-align: center;
    }

    .tos-section-head p {
        text-align: center;
        font-weight: 600;
    }

    .tos-section {
        background-color: #f0f8ff; /* Alice Blue for section backgrounds */
        border: 1px solid #003366; /* Dark Blue border */
        padding: 0.5em;
        margin-bottom: 1.5em;
        border-radius: 5%;
    }

    .tos-section h3 {
        color: #003366; /* Dark Blue for headers */
        text-align: center;
    }

    .tos-section p {
        text-align: justify;
    }

    a {
        color: #003366; /* Dark Blue for links */
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .top {
        text-align: center;
        margin: 1em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }

    @media (min-width: 36em) {
        .top {
            text-align: center;
            margin: 1em;
        }

        .top1 {
            background-color: rgb(8, 20, 187);
            color: #f9f9f9;
            font-weight: 600;
        }
    }
</style>
