---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Professional English-Russian Translation Service	| Homepage";
const description =
    "EngRusTranslate provides English-Russian translation services to help you reach your global clients.";
---

<BaseLayout description={description} title={title}>
  <main>



  </main>
</BaseLayout>

<style>

</style>
