---

---

<!-- HTML -->
<footer class="footer-section">
    <div class="footer-content">
        <div class="footer-left">
            <p class="title_com">EnRu Translations</p>
            <div class="address">
                <img src="/addr.svg" alt="address svg" loading="lazy" />
                <p>Mite Ruzica 2,</p>
                <p>Novi Sad 21000,</p>
                <p>Serbia</p>
            </div>

            <div class="email">
                <img src="/email3.svg" alt="email svg" loading="lazy" />
                <p>
                    <a href="mailto:info@enrutransl.com">info@enrutransl.com</a>
                </p>
            </div>
            <div class="working-hours">
                <img src="/clock.svg" alt="clock svg" loading="lazy" />
                <p>Working Hours:</p>
                <p>Mon - Fri,</p>
                <p>09:00 - 20:00.</p>
                <p class="localtime" id="localTime">
                    Local time now: <span id="time"></span>
                </p>
            </div>
        </div>

        <div class="footer-center">
            <!-- <p class="discuss">
                We are social, so if you are ready to discuss your translation
                needs, get in touch.
            </p> -->
            <!-- <div class="social">
                <a href="https://wa.me/381616323368" target="_blank">
                    <img
                        src="/whatsapp.svg"
                        alt="Contact on WhatsApp"
                        loading="lazy"
                    />
                </a>
                <a href="https://t.me/enrutransl" target="_blank">
                    <img
                        src="/telegram.svg"
                        alt="Contact on Telegram"
                        loading="lazy"
                    />
                </a>
                <a href="https://signal.me/#p/+381616323368" target="_blank">
                    <img src="/signal.png" alt="signal png" loading="lazy" />
                </a>
            </div> -->

            <p class="discuss1">Follow us on:</p>
            <div class="social1">
                <a
                    href="https://www.facebook.com/profile.php?id=61558938370722"
                >
                    <img
                        src="/facebook.svg"
                        alt="telegram svg"
                        loading="lazy"
                    /></a
                >
                <a href="https://x.com/enrutr">
                    <img src="/x-logo.png" alt="x-logo png" loading="lazy" /></a
                >
            </div>
        </div>

        <div class="footer-right">
            <p><a href="/#about">About us</a></p>
            <p><a href="/russian-translation-services/">Services</a></p>
            <p><a href="/russian-translation-services#anchor13">FAQ</a></p>
            <p><a href="/resources/">Resources</a></p>
            <p><a href="/contact/">Contact us</a></p>
        </div>
    </div>

    <div class="bottom">
        <p><a href="/terms/">Terms of Service</a></p>
        <p><a href="/privacy/">Privacy Policy</a></p>
        <p><a href="/cookie/">Cookie policy</a></p>
        <p class="copyr">Copyright © 2024 EnRu Translations.</p>
        <p>
            If you encounter any issues with the website, please contact <a
                href="mailto:webadmin@enrutransl.com">webadmin@enrutransl.com</a
            >.
        </p>
    </div>
</footer>

<style>
    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2e466e;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%; /* Ensures the footer content uses the full width */
    }

    .footer-left {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        padding-left: 1em;
    }

    .title_com {
        font-weight: 600;
        /* text-transform: uppercase; */
        font-size: larger;
        text-align: center;
        color: white;
        width: 100%;
        font-weight: 900;
    }

    .address {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.7em;
        width: 100%;
    }

    .address img {
        width: 2.5em;
    }

    .address > p {
        font-weight: 600;
        margin-left: 0.8em;
        font-size: small;
        color: white;
    }

    .email {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.7em;
        width: 100%;
    }

    .email img {
        width: 2.7em;
    }

    .email > p {
        font-weight: 600;
        margin-left: 0.7em;
        font-size: small;
    }

    .email a {
        color: white;
    }

    .working-hours {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.7em;
        width: 90%;
    }

    .working-hours img {
        width: 2.3em;
    }

    .working-hours > p {
        font-weight: 600;
        margin-left: 0.9em;
        font-size: small;
        color: white;
    }

    .discuss {
        font-weight: 600;
        font-size: small;
        margin-bottom: 0;
        text-align: center;
        padding: 1em;
        color: white;
    }

    .discuss1 {
        font-weight: 600;
        font-size: small;
        text-align: center;
        padding: 1em;
        color: white;
        margin-top: 2em;
        margin-bottom: 0;
    }

    .footer-center {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
        width: 100%;
        padding: 1em;
    }

    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em;
    }

    .social img {
        width: 2em;
        padding: 0.3em;
        margin: 0.7em;
    }

    .social1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em;
        margin: 0;
    }

    .social1 img {
        width: 2em;
        height: 1.8em;
        object-fit: contain;
        padding: 0.3em;
        margin: 0.7em;
    }

    .footer-right {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        margin-bottom: 2em;
    }

    .footer-right > p {
        margin: 0.5em;
        font-size: small;
    }

    .footer-right a {
        color: white;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0.9em;
        margin: 0;
    }

    .bottom > p {
        margin: 0.5em;
        font-size: small;
        color: white;
    }

    .bottom a {
        color: white;
    }

    .copyr {
        font-weight: 800;
        color: white;
    }

    /* Media queries */

    @media (min-width: 37.5em) {
        .footer-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            text-align: center;
            width: 100%;
        }

        .footer-left {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            padding-left: 1em;
            flex: 1;
        }

        .title_com {
            font-weight: 900;
            font-size: larger;
            margin-bottom: 1em;
            text-align: center;
            color: #fff;
            width: 100%;
        }

        .address {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 2em;
            width: 100%;
        }

        .address img {
            width: 2em;
        }

        .address > p {
            font-weight: 600;
            /* text-align: start; */
            font-size: small;
            margin: 0;
        }

        .phone {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 1em;
            width: 100%;
        }

        .phone img {
            width: 1.5em;
        }

        .phone > p {
            font-weight: 600;
            text-align: start;
            font-size: small;
        }

        .email {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }

        .email img {
            width: 2em;
        }

        .email > p {
            font-weight: 600;
            text-align: start;
            font-size: small;
        }

        .working-hours {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 0.7em;
            width: 100%;
            line-height: 0.5;
        }

        .working-hours img {
            width: 1.5em;
        }

        .working-hours > p {
            font-weight: 600;
            margin-left: 0.9em;
            font-size: small;
        }

        .footer-center {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 2em;
            padding: 1em;
            flex: 1;
        }

        .discuss {
            font-weight: 600;
            font-size: small;
            margin: 0;
            padding: 0;
        }

        .discuss1 {
            font-weight: 600;
            font-size: small;
            text-align: center;
            padding: 1em;
            color: #fff;
            margin-top: 2em;
        }

        .social {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5em;
            margin-top: 1em;
        }

        .social img {
            width: 2em;
            padding: 0.3em;
        }

        .social1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5em;
            margin-top: 0;
        }

        .social1 img {
            width: 2em;
            height: 1.8em;
            object-fit: contain;
            padding: 0.3em;
            margin: 0.7em;
        }

        .footer-right {
            display: flex;
            flex-flow: column;
            justify-content: center;
            flex: 1;
            margin-bottom: 0;
            margin-top: 0.6em;
        }

        .footer-right > p {
            margin: 0.5em;
            font-size: small;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .bottom > p {
            margin: 0.5em 0;
        }
    }
</style>

<script type="text/javascript">
    function updateLocalTime() {
        var now = new Date();
        var utc = now.getTime() + now.getTimezoneOffset() * 60000;

        // Serbia is UTC+1 and UTC+2 in daylight saving time
        var serbiaOffset = 1; // Serbia's time offset from UTC is +1 hour
        var dst = isDST(now); // Check if current date is in daylight saving time
        var serbiaTime = new Date(
            utc + 3600000 * (serbiaOffset + (dst ? 1 : 0)),
        );

        var days = [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
        ];
        var day = days[serbiaTime.getDay()]; // Get the day of the week
        var hours = serbiaTime.getHours();
        var minutes = serbiaTime.getMinutes();
        var formattedMinutes =
            minutes < 10 ? "0" + minutes : minutes.toString(); // Ensuring minutes is treated as a string

        var strTime = day + ", " + hours + ":" + formattedMinutes; // Correctly formatted time string with comma

        document.getElementById("time").textContent = strTime;
    }

    function isDST(date) {
        var jan = new Date(date.getFullYear(), 0, 1); // Jan 1st of current year
        var jul = new Date(date.getFullYear(), 6, 1); // Jul 1st of current year
        return (
            date.getTimezoneOffset() <
            Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset())
        );
    }

    setInterval(updateLocalTime, 1000); // Update the time display every second
</script>
