---

---

<footer class="footer">
    <div class="footer-left">
        <p class="title_com">EngRusTranslate</p>
        <p>Address:</p>
        <p>2 Mite Ružića, Fl. 2, Unit 3 Novi Sad 21000 Serbia</p>
        Tel.: Email:
    </div>
    <div class="footer-center">
        <p>
            We're social, so if you're ready to discuss your translation needs,
            get in touch.
        </p>
        <p>
            Whatsapp Viber Signal Telegram LinkedIn Twitter Facebook Instagram
        </p>
    </div>
</footer>

<footer class="bottom">
    <div>
        <span>Privacy Policy</span>
        <span>Terms of Service</span>
        <span>Cookies policy</span>
        <span>Copyright © 2024 EngRusTranslate.</span>
        <span></span>
    </div></footer>

<style>
    .footer {
        display: flex;
        background-color: beige;
    }
    .footer-left {
        background-color: azure;
        width: 35%;
    }

    .footer-center{
        background-color: aquamarine;
        width: 35%;
    }

    .title_com {
        font-weight: bold;
    }

    .bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
</style>
