---

---

<!-- HTML -->
<footer class="footer-section">
    <div class="footer-content">
        <div class="footer-left">
            <p class="title_com">Eng Rus Translate</p>
            <div class="address">
                <img src="address.svg" alt="address svg" />
                <p>2 Mite Ružića, Novi Sad 21000, Serbia</p>
            </div>
            <div class="phone">
                <img src="phone.svg" alt="phone svg" />
                <span>+381643953417</span>
            </div>
            <div class="email">
                <img src="email.svg" alt="email svg" />
                <p>info@engrustranslate.com</p>
            </div>
        </div>
    </div>

    <div class="footer-center">
        <p class="discuss">
            We're social, so if you're ready to discuss your translation needs,
            get in touch.
        </p>
        <div class="social">
            <img src="linkedin.svg" alt="linkedin svg">
            <img src="twitter.svg" alt="twitter svg">
            <img src="facebook.svg" alt="facebook svg">
        </div>
    </div>

    <div class="footer-right">
        <p><a href="/about/">About us</a></p>
        <p><a href="#aboutus">Our core values</a></p>
        <p><a href="#aboutus">Services</a></p>
        <p><a href="#aboutus">Blog</a></p>
        <p><a href="#aboutus">Contact us</a></p>
    </div>
</footer>
<div class="bottom">
    <p><a href="#aboutus">Privacy Policy</a></p>
    <p><a href="#aboutus">Terms of Service</a></p>
    <p><a href="#aboutus">Cookies policy</a></p>
    <p>Copyright © 2024 EngRusTranslate.</p>
</div>

<!-- CSS -->
<style>
    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: azure;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%; /* Ensures the footer content uses the full width */
    }

    .title_com {
        font-weight: 600;
        text-transform: uppercase;
        font-size: larger;
        margin-bottom: 0;
    }

    .footer-left {
        display: flex;
        flex-flow: column;
        /* align-items: center; */
        /* justify-content: center; */
        width: 100%;
        padding: 1em;
    }

    .address {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .address img {
        flex: 1;
        width: 0.3em;
    }

    .address > p {
        flex: 3;
        font-weight: 600;
        text-align: start;
    }

    .phone {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .phone img {
        flex: 0.5;
        width: 0.5em;
        margin-left: 1.3em;
        margin-right: 0.5em;
    }

    .phone > span {
        flex: 3;
        font-weight: 600;
        margin: 1em;
        text-align: start;
    }

    .email {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .email img {
        flex: 0.5;
        width: 0.5em;
        margin-left: 1.3em;
        margin-right: 0.5em;
    }

    .email > p {
        flex: 3;
        font-weight: 600;
        margin: 1em;
        text-align: start;
    }

    .discuss {
        font-weight: 600;
        font-size: large;
        margin-bottom: 0;
        text-align: center;
        padding: 1em;
    }

    .footer-center {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
        width: 100%;
        padding: 1em;
    }

    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em;
    }

    .social img {
        width: 3em;
        padding: 0.3em;
        font-weight: 500;
    }

    .bottom {
        background-color: azure;
        padding: 0.9em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    @media (min-width: 35em) {
        /* Adjust according to your breakpoint */
        .footer-content {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
        }
        .footer-left,
        .footer-center,
        .footer-right {
            flex: 1; /* Makes each section take equal width */
            display: flex;
            flex-direction: column;
            align-items: center; /* Centers the content vertically */
            padding: 20px; /* Adjust padding as necessary */
        }
        .bottom {
            order: 2; /* Ensures the .bottom section stays at the bottom */
            width: 100%;
        }
    }
</style>
