---

---

<style>
    .above-logo {
        display: grid;
        grid-template-columns: 1fr 2fr;
        line-height: 0.3;
        font-size: small;
        font-weight: 500;
        padding: 1em;
        background-color: aliceblue;
    }

    .phone {
        grid-column: 1/2;
        grid-row: 1/2;
        color: darkblue;
        font-weight: 700;
    }

    .email {
        grid-column: 1/2;
        grid-row: 2/3;
        color: darkblue;
        font-weight: 700;
    }

    .working-hours1 {
        grid-column: 2/3;
        grid-row: 1/4;
        text-align: end;
        color: darkblue;
        font-weight: 700;
    }

    .localtime {
        color: darkblue;
        font-weight: 500;
    }

    .social{
        width: 100%;
    }

    .social img {
        width: 1.5em;
        margin-right: 1.3em;
    }

    .topnav {
        overflow: hidden;
        position: relative;
    }
    .logo img {
        width: 8em;
    }

    .compname {
        display: none;
    }

    .slogan {
        color: darkblue;
        font-size: 0.7em;
        margin: 0;
        font-weight: bold;
        margin-left: 5px;
        padding: 2px;
    }

    .menu {
        position: relative;
    }

    .menu-toggle {
        position: absolute;
        top: -1.2em;
        right: 0.1em;

        border: 0;
        background-color: transparent;

        font-size: 3em;
        width: 1em;
        height: 1em;
        line-height: 0.4;
        text-indent: 5em;
        white-space: nowrap;
        overflow: hidden;
    }

    .menu-toggle::after {
        position: absolute;
        top: 0.2em;
        left: 0.2em;
        display: block;
        content: "\2261";
        text-indent: 0;
    }

    .menu-dropdown {
        display: none;
        right: 0;
        left: 0;
        margin: 0;
    }

    .menu.is-open .menu-dropdown {
        display: block;
    }

    .nav-menu {
        margin: 0;
        padding-left: 0;
        border: 1px solid #ccc;
        list-style: none;
        color: #fff;
        background-color: aliceblue;
    }

    .nav-menu > li + li {
        border-top: 1px solid #ccc;
    }

    .nav-menu > li > a {
        display: block;
        padding: 0.8em 1em;
        color: darkblue;
        font-weight: bold;
    }

    @media (min-width: 36em) {
        .menu-toggle {
            display: none;
        }
        .menu-dropdown {
            display: block;
            position: static;
        }
    }

    @media (min-width: 36em) {
        .above-logo {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            line-height: 0.3;
            font-size: small;
            font-weight: 500;
            padding: 0.9em;
        }

        .social img {
            width: 2em;
            padding: 0.3em;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .header-title {
            position: relative;
            padding: 0;
            margin: 0;
            font-weight: 300;
            /* font-size: 2.5em; */
            color: #080808;
            -webkit-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }

        .header-title span {
            display: block;
            font-size: 0.5em;
            line-height: 1.3;
        }
        .header-title em {
            font-style: normal;
            font-weight: 600;
        }

        .compname {
            display: inline-block;
        }

        .compname .header-title {
            text-align: center;
            color: #222;
            font-size: 1.2em;
            font-weight: 900;
            color: darkblue;
        }
        .compname .header-title span {
            line-height: 2em;
            /* padding-bottom: 15px; */
            text-transform: none;
            font-size: 0.7em;
            font-weight: normal;
            font-style: italic;
            color: royalblue;
        }

        .compname .header-title:after,
        .compname .header-title:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 45px;
            height: 4px;
            content: "";
            right: 45px;
            margin: auto;
            background-color: royalblue;
        }
        .compname .header-title:before {
            background-color: darkblue;
            left: 45px;
            width: 90px;
        }

        .nav-menu {
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            border: 0;
            padding: 0 1em;
        }

        .nav-menu > li + li {
            border: 0;
        }
        .nav-menu > li > a {
            padding: 0.3em;
            margin: 0.5em;
            text-align: center;
        }
    }
</style>

<header>
    <div class="above-logo">
        <div class="phone">
            <p><a href="tel:+381616323368">+381616323368</a></p>
        </div>
        <div class="email">
            <p><a href="mailto:info@enrutransl.com">info@enrutransl.com</a></p>
        </div>
        <div class="working-hours1">
            <p>Working Hours:</p>
            <p>Mon - Fri,</p>
            <p>09:00 - 20:00.</p>
            <p class="localtime" id="localTime1">
                Local time now: <span id="time1"></span>
            </p>
        </div>

        <div class="social">
            <a href="https://wa.me/381616323368" target="_blank">
                <img
                    src="/whatsapp.svg"
                    alt="Contact on WhatsApp"
                    loading="eager"
                />
            </a>
            <a href="https://t.me/enrutransl" target="_blank">
                <img
                    src="/telegram.svg"
                    alt="Contact on Telegram"
                    loading="eager"
                />
            </a>
            <a href="https://signal.me/#p/+381616323368" target="_blank">
                <img src="/signal.png" alt="signal png" loading="eager" />
            </a>
        </div>
    </div>
    <div class="topnav">
        <div class="logo">
            <a href="/" aria-label="EnRu Translations logo">
                <img src="/header_logo.svg" alt="Logo" /></a
            >
            <div class="compname">
                <div class="header-title">
                    EnRu Translations
                    <span>English-to-Russian Translation Services</span>
                </div>
            </div>
        </div>

        <div class="slogan">Owned by translators</div>

        <nav class="menu" id="main-menu">
            <button class="menu-toggle" id="toggle-menu"> toggle menu</button>

            <div class="menu-dropdown">
                <ul class="nav-menu">
                    <li><a href="/about/">About us</a></li>
                    <li><a href="/services/">Services</a></li>
                    <li><a href="/pricing/">Pricing</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                    <li><a href="/blog/">Resources</a></li>
                    <li><a href="/contact/">Contact us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<script type="text/javascript">
    (function () {
        var button = document.getElementById("toggle-menu");
        button.addEventListener("click", function (event) {
            event.preventDefault();
            var menu = document.getElementById("main-menu");
            menu.classList.toggle("is-open");
        });
    })();
</script>

<script type="text/javascript" defer>
    function updateLocalTime() {
        var now = new Date();
        var utc = now.getTime() + now.getTimezoneOffset() * 60000;

        // Serbia is UTC+1 and UTC+2 in daylight saving time
        var serbiaOffset = 1; // Serbia's time offset from UTC is +1 hour
        var dst = isDST(now); // Check if current date is in daylight saving time
        var serbiaTime = new Date(
            utc + 3600000 * (serbiaOffset + (dst ? 1 : 0)),
        );

        var days = [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
        ];
        var day = days[serbiaTime.getDay()]; // Get the day of the week
        var hours = serbiaTime.getHours();
        var minutes = serbiaTime.getMinutes();
        var formattedMinutes =
            minutes < 10 ? "0" + minutes : minutes.toString(); // Ensuring minutes is treated as a string

        var strTime = day + ", " + hours + ":" + formattedMinutes; // Correctly formatted time string with comma

        document.getElementById("time1").textContent = strTime;
    }

    function isDST(date) {
        var jan = new Date(date.getFullYear(), 0, 1); // Jan 1st of current year
        var jul = new Date(date.getFullYear(), 6, 1); // Jul 1st of current year
        return (
            date.getTimezoneOffset() <
            Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset())
        );
    }

    setInterval(updateLocalTime, 1000); // Update the time display every second
</script>
