---

---

<header>
    <div class="topnav">
        <div class="logo">
            <a href="/" aria-label="EngRusTranslate logo">
                <img src="/header_logo.svg" alt="Logo" /></a
            >
            <div class="compname">
                <h1>
                    ENGRUSTRANSLATE
                    <span>English to Russian Translation</span>
                </h1>
            </div>
        </div>

        <div class="slogan">Owned by translators</div>

        <nav class="menu" id="main-menu">
            <button class="menu-toggle" id="toggle-menu"> toggle menu</button>

            <div class="menu-dropdown">
                <ul class="nav-menu">
                    <li><a href="/about/">About us</a></li>
                    <li><a href="/values/">Our core values</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contactus">Contact us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<style>
    .topnav {
        overflow: hidden;
        /* background-color: snow; */
        position: relative;
    }

    .compname {
        display: none;
    }

    .slogan {
        color: crimson;
        font-size: 0.7em;
        margin: 0;
        font-weight: bold;
        margin-left: 5px;
        padding: 2px;
    }

    .menu {
        position: relative;
    }

    .menu-toggle {
        position: absolute;
        top: -1.2em;
        right: 0.1em;

        border: 0;
        background-color: transparent;

        font-size: 3em;
        width: 1em;
        height: 1em;
        line-height: 0.4;
        text-indent: 5em;
        white-space: nowrap;
        overflow: hidden;
    }

    .menu-toggle::after {
        position: absolute;
        top: 0.2em;
        left: 0.2em;
        display: block;
        content: "\2261";
        text-indent: 0;
    }

    .menu-dropdown {
        display: none;
        right: 0;
        left: 0;
        margin: 0;
    }

    .menu.is-open .menu-dropdown {
        display: block;
    }

    .nav-menu {
        margin: 0;
        padding-left: 0;
        border: 1px solid #ccc;
        list-style: none;
        background-color: snow;
        color: #fff;
    }

    .nav-menu > li + li {
        border-top: 1px solid #ccc;
    }

    .nav-menu > li > a {
        display: block;
        padding: 0.8em 1em;
        color: darkblue;
        font-weight: bold;
    }

    @media (min-width: 36em) {
        .menu-toggle {
            display: none;
        }
        .menu-dropdown {
            display: block;
            position: static;
        }
    }

    @media (min-width: 36em) {

       .logo{
        display: flex;
        align-items: center;
        
       }



        h1 {
            position: relative;
            padding: 0;
            margin: 0;
            font-weight: 300;
            /* font-size: 2.5em; */
            color: #080808;
            -webkit-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }

        h1 span {
            display: block;
            font-size: 0.5em;
            line-height: 1.3;
        }
        h1 em {
            font-style: normal;
            font-weight: 600;
        }

        .compname{
            display:inline-block
        }
        
        .compname h1 {
            text-align: center;
            color: #222;
            font-size: 1em;
            font-weight: 600;
            text-transform: uppercase;
            color: #e12828;
        }
        .compname h1 span {
            line-height: 2em;
            /* padding-bottom: 15px; */
            text-transform: none;
            font-size: 0.7em;
            font-weight: normal;
            font-style: italic;
            color: #999;
        }
        
        .compname h1:after,
        .compname h1:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 45px;
            height: 4px;
            content: "";
            right: 45px;
            margin: auto;
            background-color: #ccc;
        }
        .compname h1:before {
            background-color: #d78b8b;
            left: 45px;
            width: 90px;
        }

        .nav-menu {
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            border: 0;
            padding: 0 1em;
        }

        .nav-menu > li + li {
            border: 0;
        }
        .nav-menu > li > a {
            padding: 0.3em;
            margin: 0.5em;
            text-align: center;
        }
    }
</style>

<script type="text/javascript">
    (function () {
        var button = document.getElementById("toggle-menu");
        button.addEventListener("click", function (event) {
            event.preventDefault();
            var menu = document.getElementById("main-menu");
            menu.classList.toggle("is-open");
        });
    })();
</script>
